<div class="d-flex justify-content-between mb-4">
  <h3>Tasks list</h3>
  <a [routerLink]="['../create']" class="btn btn-primary" role="button">Create</a>
</div>


<div *ngIf="tasks.length === 0; else showList">No results found.</div>

<ng-template #showList>
  <div class="list-group">
    <a *ngFor="let task of tasks" [routerLink]="['../edit', task._id]" class="list-group-item list-group-item-action">
      <h5>{{task.title}}</h5>
      <p>{{task.description}}</p>
    </a>

  </div>
</ng-template>
