<div id="{{product.product_details.id}}" class="thebackground {{product.details.category}}">
    <div id="pr-background" class="pr-background"></div>
    <img id="productimg" class="c"
        src="data:{{product.image.image_type.toString()}};base64, {{product.image.image_data.toString()}}">
    <img id="productimg">
    <div id="producttxt" class="product-txt pr1-positioning">{{product.product_details.name}}</div>
    <div id="confirmation-btns">
        <button id="product-accept" class="fa fa-check fa-2x confirmation" (click)="accept()"></button>
        <button id="product-reject" class="fa fa-times fa-2x confirmation" (click)="reject()"></button>
    </div>
</div>