<div id="Super_Market">
<div id="Login_txt_logo">
    <img (click)="redirect('dashboard-mobile')" id="loginpage_logo" src="loginpage_logo.png" srcset="loginpage_logo.png 1x, loginpage_logo@2x.png 2x">
    <div id="Super_Market_bg">
        <span>Super Market</span>
    </div>
</div>
<div (click)="redirect('goshopping-mobile')" id="Group_38">
    <div id="Group_36">
        <svg class="Rectangle_8">
            <rect fill="rgba(255,255,255,1)" id="Rectangle_8" rx="74" ry="74" x="0" y="0" width="150" height="150">
            </rect>
        </svg>
    </div>
    <div id="Go_Shopping">
        <span>Go Shopping</span>
    </div>
</div>
<div (click)="redirect('scan-receipt-mobile')" id="Group_37">
    <div id="Group_36_bm">
        <svg class="Rectangle_8_bn">
            <rect fill="rgba(255,255,255,1)" id="Rectangle_8_bn" rx="74" ry="74" x="0" y="0" width="150" height="150">
            </rect>
        </svg>
    </div>
    <div id="Scan_Receipt">
        <span>Scan Receipt</span>
    </div>
</div>
<div id="Group_43">
    <svg class="Icon_awesome_bell" viewBox="0 0 45.605 53.841">
        <path fill="rgba(255,255,129,1)" id="Icon_awesome_bell" d="M 22.80224990844727 53.84092330932617 C 26.39766883850098 53.84092330932617 29.31411361694336 50.8281364440918 29.31411361694336 47.11080169677734 L 16.29038047790527 47.11080169677734 C 16.29038047790527 50.8281364440918 19.20682525634766 53.84092330932617 22.80224990844727 53.84092330932617 Z M 44.7280158996582 38.09770584106445 C 42.76132583618164 35.91462707519531 39.0814094543457 32.63054275512695 39.0814094543457 21.87287139892578 C 39.0814094543457 13.70209217071533 33.53557968139648 7.161261558532715 26.05767250061035 5.5565505027771 L 26.05767250061035 3.365057706832886 C 26.05767250061035 1.506914854049683 24.59996032714844 0 22.80224990844727 0 C 21.00453758239746 0 19.54682159423828 1.506914854049683 19.54682159423828 3.365057706832886 L 19.54682159423828 5.556550979614258 C 12.0689172744751 7.161262035369873 6.523087501525879 13.70209217071533 6.523087501525879 21.87287330627441 C 6.523087501525879 32.63054275512695 2.843173980712891 35.91462707519531 0.8764819502830505 38.09770584106445 C 0.2657080590724945 38.77597427368164 -0.005068393424153328 39.58674240112305 2.144067366316449e-05 40.38068389892578 C 0.0112189631909132 42.10528182983398 1.321328997612 43.74574279785156 3.267661809921265 43.74574279785156 L 42.33683776855469 43.74574279785156 C 44.28316497802734 43.74574279785156 45.59429550170898 42.10528182983398 45.60447692871094 40.38068389892578 C 45.60956192016602 39.58674240112305 45.33879089355469 38.77492523193359 44.7280158996582 38.09770584106445 Z">
        </path>
    </svg>
    <svg class="Ellipse_5">
        <ellipse fill="rgba(245,112,90,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_5" rx="17" ry="17" cx="17" cy="17">
        </ellipse>
    </svg>
    <div id="ID3">
        <span>3</span>
    </div>
</div>
<button (click)="redirect('goshopping-mobile')" id="two_persons_shopping">
    <svg class="Path_617" viewBox="259.789 404.814 8.341 7.086">
        <path fill="rgba(0,111,97,1)" id="Path_617" d="M 259.7890014648438 404.8154602050781 L 259.7890014648438 407.7305603027344 C 259.7890014648438 410.0344543457031 261.6559753417969 411.8997497558594 263.9583740234375 411.8997497558594 C 266.2633972167969 411.8997497558594 268.13037109375 410.0344543457031 268.13037109375 407.7305603027344 L 268.13037109375 404.81396484375 C 268.1273803710938 404.81396484375 268.1243591308594 404.8154602050781 268.1211547851562 404.8154602050781 L 259.7890014648438 404.8154602050781 Z">
        </path>
    </svg>
    <svg class="Path_618" viewBox="269.995 0 14.481 16.565">
        <path fill="rgba(0,111,97,1)" id="Path_618" d="M 277.2354125976562 16.56470680236816 C 281.2345581054688 16.56470680236816 284.4762573242188 12.85484504699707 284.4762573242188 8.281601905822754 C 284.4762573242188 3.708359718322754 281.2345581054688 0 277.2354125976562 0 C 273.2365112304688 0 269.9949951171875 3.708359718322754 269.9949951171875 8.28160285949707 C 269.9948120117188 12.85484504699707 273.2363586425781 16.56470680236816 277.2354125976562 16.56470680236816 Z">
        </path>
    </svg>
    <svg class="Path_619" viewBox="239.511 103.717 37.132 63.829">
        <path fill="rgba(0,111,97,1)" id="Path_619" d="M 275.6641540527344 132.3162689208984 L 275.1185607910156 132.3162689208984 L 272.336181640625 129.5351867675781 L 270.9195251464844 128.1215362548828 C 271.9811706542969 127.0884475708008 272.3421936035156 125.4810256958008 271.6383666992188 124.0895385742188 L 262.2529907226562 105.6075057983398 C 261.5939025878906 104.3041687011719 260.2193298339844 103.6063613891602 258.8417663574219 103.7317199707031 C 258.7938537597656 103.7287063598633 246.1673583984375 103.7287063598633 246.1194152832031 103.7317199707031 C 244.7446746826172 103.6065521240234 243.3729248046875 104.3043594360352 242.7108306884766 105.6075057983398 L 239.5110321044922 111.9075088500977 C 239.7344818115234 112.1905364990234 239.9342651367188 112.4978103637695 240.1043395996094 112.8289642333984 L 248.4603729248047 129.2910614013672 L 249.4864959716797 131.3113708496094 C 250.2649230957031 132.8486785888672 250.2408752441406 134.5664367675781 249.6028289794922 136.0338287353516 L 251.2726440429688 137.7023468017578 L 251.6543426513672 137.7023468017578 C 251.6575469970703 137.7023468017578 251.6605377197266 137.7034606933594 251.6635437011719 137.7034606933594 C 252.2718963623047 137.7049560546875 252.8265075683594 137.8838653564453 253.3333587646484 138.1434173583984 C 254.5504608154297 138.7653045654297 255.4119415283203 139.9983520507812 255.4119415283203 141.4595489501953 L 255.4119415283203 156.5465087890625 C 255.4119415283203 158.0080871582031 254.5502624511719 159.2411499023438 253.3333587646484 159.8643493652344 L 253.3333587646484 163.37744140625 C 253.3333587646484 165.68115234375 255.2005157470703 167.5464324951172 257.5027160644531 167.5464324951172 C 259.8079528808594 167.5464324951172 261.6747436523438 165.68115234375 261.6747436523438 163.37744140625 L 261.6747436523438 152.1388397216797 L 261.4122009277344 152.1388397216797 C 259.3368225097656 152.1388397216797 257.6547241210938 150.4538116455078 257.6547241210938 148.3810577392578 L 257.6547241210938 133.2926025390625 C 257.6547241210938 131.8329010009766 258.5108032226562 130.5998382568359 259.7305297851562 129.9779663085938 C 260.2431945800781 129.7169189453125 260.7981872558594 129.5349884033203 261.4122009277344 129.5349884033203 L 261.7194519042969 129.5349884033203 L 261.7194519042969 119.9160385131836 L 265.4383239746094 127.2359771728516 C 265.6170654296875 127.5907897949219 265.8587341308594 127.8830413818359 266.1303405761719 128.1455993652344 L 264.737548828125 129.5351867675781 L 261.9611206054688 132.3162689208984 L 261.412353515625 132.3162689208984 C 260.8695983886719 132.3162689208984 260.4313354492188 132.7530212402344 260.4313354492188 133.2927856445312 L 260.4313354492188 148.3812561035156 C 260.4313354492188 148.9211883544922 260.8695983886719 149.3594512939453 261.412353515625 149.3594512939453 L 275.664306640625 149.3594512939453 C 276.2074584960938 149.3594512939453 276.6427307128906 148.9211883544922 276.6427307128906 148.3812561035156 L 276.6427307128906 133.2927856445312 C 276.6425170898438 132.7530212402344 276.207275390625 132.3162689208984 275.6641540527344 132.3162689208984 Z M 266.7055969238281 129.5351867675781 L 267.3438415527344 128.8984680175781 C 267.7287292480469 129.0401611328125 268.1284484863281 129.1388244628906 268.5396728515625 129.1388244628906 C 268.9394226074219 129.1388244628906 269.3391418457031 129.044677734375 269.7328796386719 128.8999633789062 L 270.3681030273438 129.5352020263672 L 273.1504821777344 132.3162689208984 L 263.9234008789062 132.3162689208984 L 266.7055969238281 129.5351867675781 Z">
        </path>
    </svg>
    <svg class="Path_620" viewBox="142.238 43.446 14.482 16.565">
        <path fill="rgba(0,111,97,1)" id="Path_620" d="M 149.4788055419922 60.01090240478516 C 153.4779205322266 60.01090240478516 156.7196197509766 56.30253982543945 156.7196197509766 51.73061752319336 C 156.7196197509766 47.15586853027344 153.4779205322266 43.44601058959961 149.4788055419922 43.44601058959961 C 145.4799041748047 43.44601058959961 142.2380065917969 47.15586853027344 142.2380065917969 51.73061752319336 C 142.2378234863281 56.30253982543945 145.4797210693359 60.01090240478516 149.4788055419922 60.01090240478516 Z">
        </path>
    </svg>
    <svg class="Path_621" viewBox="49.71 147.167 48.792 63.829">
        <path fill="rgba(0,111,97,1)" id="Path_621" d="M 97.52381134033203 175.7651062011719 L 96.97823333740234 175.7651062011719 L 94.19583129882812 172.9859008789062 L 92.7791748046875 171.5707397460938 C 93.33114624023438 171.0353088378906 93.65909576416016 170.35986328125 93.77222442626953 169.6171569824219 C 93.87371826171875 168.9266662597656 93.83800506591797 168.2081756591797 93.49802398681641 167.5387573242188 L 84.11586761474609 149.0563354492188 C 83.45076751708984 147.7516784667969 82.07882690429688 147.0567016601562 80.70426177978516 147.1807250976562 C 80.68640899658203 147.1807250976562 78.90007781982422 147.1792449951172 76.66908264160156 147.1792449951172 C 72.95339202880859 147.1792449951172 68.01199340820312 147.1792449951172 67.97909545898438 147.1807250976562 C 66.60433959960938 147.0567016601562 65.23259735107422 147.7533874511719 64.57030487060547 149.0563354492188 L 55.18532943725586 167.5387573242188 C 54.53206253051758 168.8253631591797 54.75871658325195 170.3282775878906 55.64163970947266 171.3647613525391 L 54.01918411254883 172.9857177734375 L 51.23979187011719 175.7649078369141 L 50.68801116943359 175.7649078369141 C 50.1484489440918 175.7649078369141 49.70999526977539 176.203369140625 49.70999526977539 176.7431182861328 L 49.70999526977539 191.830078125 C 49.70999526977539 192.3700256347656 50.1484489440918 192.8084716796875 50.68801116943359 192.8084716796875 L 64.93997955322266 192.8084716796875 C 65.47991943359375 192.8084716796875 65.91799163818359 192.3700256347656 65.91799163818359 191.830078125 L 65.91799163818359 182.2827301025391 C 66.47015380859375 182.8807373046875 67.24219512939453 183.2669525146484 68.11891937255859 183.2669525146484 L 68.70076751708984 183.2669525146484 L 68.70076751708984 191.830078125 C 68.70076751708984 193.8176879882812 67.13788604736328 195.4087677001953 65.18147277832031 195.5401306152344 L 65.18147277832031 206.6697235107422 C 65.18147277832031 208.9734497070312 67.04843139648438 210.8390960693359 69.35365295410156 210.8390960693359 C 71.65587615966797 210.8390960693359 73.52283477783203 208.9734497070312 73.52283477783203 206.6697235107422 L 73.52283477783203 183.2669525146484 L 75.19264984130859 183.2669525146484 L 75.19264984130859 206.8262786865234 C 75.19264984130859 209.1299896240234 77.05979919433594 210.9952697753906 79.36221313476562 210.9952697753906 C 81.66743469238281 210.9952697753906 83.53420257568359 209.1300048828125 83.53420257568359 206.8262786865234 L 83.53420257568359 195.5891876220703 L 83.27147674560547 195.5891876220703 C 81.19891357421875 195.5891876220703 79.51405334472656 193.90283203125 79.51405334472656 191.830078125 L 79.51405334472656 183.2669525146484 L 80.56368255615234 183.2669525146484 C 81.21996307373047 183.2669525146484 81.79523468017578 183.0119323730469 82.29063415527344 182.6555938720703 L 82.29063415527344 191.830078125 C 82.29063415527344 192.3700256347656 82.72889709472656 192.8084716796875 83.27165985107422 192.8084716796875 L 97.52362060546875 192.8084716796875 C 98.06657409667969 192.8084716796875 98.50183868408203 192.3700256347656 98.50183868408203 191.830078125 L 98.50183868408203 176.7431335449219 C 98.50202178955078 176.2035522460938 98.06676483154297 175.7651062011719 97.52381134033203 175.7651062011719 Z M 53.20523452758789 175.7651062011719 L 55.98480987548828 172.9859008789062 L 56.74520492553711 172.2236328125 C 57.24022674560547 172.4683227539062 57.76512908935547 172.5876617431641 58.28120803833008 172.5876617431641 C 58.57044219970703 172.5876617431641 58.85666275024414 172.5427398681641 59.13387298583984 172.4713287353516 L 59.64675140380859 172.9859008789062 L 62.42633056640625 175.7651214599609 L 53.20523452758789 175.7651214599609 Z M 64.39458465576172 175.7651062011719 L 61.61218643188477 172.9859008789062 L 60.43138885498047 171.80322265625 C 60.806884765625 171.5036315917969 61.14685821533203 171.1443176269531 61.37952423095703 170.6864929199219 L 65.09840393066406 163.3622436523438 L 65.09840393066406 173.01708984375 L 65.09840393066406 175.7651214599609 L 64.39458465576172 175.7651214599609 Z M 83.58194732666016 175.7651062011719 L 83.58194732666016 172.9859008789062 L 83.58194732666016 167.9696807861328 L 83.58194732666016 163.3652496337891 L 86.84734344482422 169.7932281494141 L 87.29782867431641 170.6864929199219 C 87.47673034667969 171.0398101806641 87.71823883056641 171.3335571289062 87.98980712890625 171.5962982177734 L 86.59701538085938 172.986083984375 L 83.82061767578125 175.7652893066406 L 83.58194732666016 175.7652893066406 Z M 85.78286743164062 175.7651062011719 L 88.56526947021484 172.9859008789062 L 89.20349884033203 172.3474731445312 C 89.58820343017578 172.4891662597656 89.98794555664062 172.5874786376953 90.39914703369141 172.5874786376953 C 90.79888916015625 172.5874786376953 91.19844055175781 172.4935150146484 91.59236145019531 172.3489837646484 L 92.23039245605469 172.9857177734375 L 95.00997161865234 175.7649078369141 L 85.78286743164062 175.7649078369141 Z">
        </path>
    </svg>
</button>
<button (click)="redirect('scan-receipt-mobile')" id="ID8b93cca495d344a587f478899fb3">
    <div (click)="redirect('scan-receipt-mobile')" id="Group_136">
        <svg (click)="redirect('scan-receipt-mobile')" class="Path_622" viewBox="157.65 -501.999 60.286 86.285">
            <path fill="rgba(0,111,97,1)" id="Path_622" d="M 158.1210479736328 -501.5624084472656 L 157.6500091552734 -501.1582641601562 L 157.6500091552734 -458.856689453125 L 157.6500091552734 -416.5551147460938 L 158.1210479736328 -416.1509704589844 C 159.0807495117188 -415.3259887695312 159.3668975830078 -415.4774169921875 162.2301483154297 -418.3063354492188 L 164.8063659667969 -420.8658447265625 L 167.3825836181641 -418.3063354492188 C 169.6893768310547 -416.0329895019531 170.0265960693359 -415.7468566894531 170.531982421875 -415.7468566894531 C 171.0373687744141 -415.7468566894531 171.3737030029297 -416.0329895019531 173.6813812255859 -418.3063354492188 L 176.2575988769531 -420.8658447265625 L 178.8505401611328 -418.3063354492188 C 181.1406097412109 -416.0497131347656 181.5112915039062 -415.7468566894531 181.9999389648438 -415.7468566894531 C 182.4885864257812 -415.7468566894531 182.8416595458984 -416.0497131347656 185.0982666015625 -418.2728881835938 C 186.4955596923828 -419.6534423828125 187.7088317871094 -420.7989196777344 187.7924652099609 -420.7989196777344 C 187.8761138916016 -420.7989196777344 189.0893859863281 -419.654296875 190.4866638183594 -418.2728881835938 C 193.0972290039062 -415.6790466308594 193.3499145507812 -415.5276184082031 194.1581726074219 -415.9317321777344 C 194.3598022460938 -416.0329895019531 195.6065368652344 -417.1943054199219 196.9201812744141 -418.4912414550781 L 199.3282165527344 -420.8658447265625 L 201.9044494628906 -418.3063354492188 C 204.2112426757812 -416.0329895019531 204.5484619140625 -415.7468566894531 205.0538482666016 -415.7468566894531 C 205.5592346191406 -415.7468566894531 205.8955688476562 -416.0329895019531 208.2032470703125 -418.3063354492188 L 210.7794647216797 -420.8658447265625 L 213.3556823730469 -418.3063354492188 C 216.2189331054688 -415.4774169921875 216.5050659179688 -415.3259887695312 217.4647827148438 -416.1509704589844 L 217.9358215332031 -416.5551147460938 L 217.9358215332031 -458.856689453125 L 217.9358215332031 -501.1582641601562 L 217.4647827148438 -501.5624084472656 C 216.5050659179688 -502.3873901367188 216.2189331054688 -502.2359619140625 213.3556823730469 -499.4070434570312 L 210.7794494628906 -496.8475341796875 L 208.2032470703125 -499.4070434570312 C 205.8964385986328 -501.6803894042969 205.5592346191406 -501.9665222167969 205.0538330078125 -501.9665222167969 C 204.5484619140625 -501.9665222167969 204.2121276855469 -501.6803894042969 201.9044342041016 -499.4070434570312 L 199.3282165527344 -496.8475341796875 L 196.920166015625 -499.2221374511719 C 195.6065216064453 -500.51904296875 194.3606872558594 -501.6803894042969 194.1581726074219 -501.7816467285156 C 193.3499145507812 -502.1857604980469 193.0972290039062 -502.0343322753906 190.4866638183594 -499.4404907226562 C 189.0893707275391 -498.0599365234375 187.8761138916016 -496.9144592285156 187.7924652099609 -496.9144592285156 C 187.7088165283203 -496.9144592285156 186.4955596923828 -498.0599365234375 185.0982666015625 -499.4404907226562 C 182.8249206542969 -501.6803894042969 182.4877014160156 -501.9665222167969 181.9832153320312 -501.9665222167969 C 181.4787139892578 -501.9665222167969 181.1414947509766 -501.6803894042969 178.8338165283203 -499.4070434570312 L 176.2575988769531 -496.8475341796875 L 173.6813659667969 -499.4070434570312 C 171.3745727539062 -501.6803894042969 171.037353515625 -501.9665222167969 170.531982421875 -501.9665222167969 C 170.0265960693359 -501.9665222167969 169.6902618408203 -501.6803894042969 167.3825836181641 -499.4070434570312 L 164.8063659667969 -496.8475341796875 L 162.2301330566406 -499.4070434570312 C 159.3668975830078 -502.2359619140625 159.0807495117188 -502.3873901367188 158.1210479736328 -501.5624084472656 Z M 194.5957641601562 -478.4583129882812 C 195.0676879882812 -477.8692932128906 195.0333557128906 -477.1614074707031 194.5447082519531 -476.589111328125 L 194.1405639648438 -476.1180725097656 L 181.0226440429688 -476.06787109375 C 171.7611083984375 -476.034423828125 167.7356567382812 -476.06787109375 167.2813415527344 -476.2025756835938 C 166.7926788330078 -476.3540344238281 166.5743255615234 -476.5221862792969 166.3885498046875 -476.9606628417969 C 166.1358642578125 -477.6007385253906 166.2036590576172 -477.9538269042969 166.7081604003906 -478.5269775390625 L 167.0444946289062 -478.8976745605469 L 180.6510925292969 -478.8976745605469 L 194.2576751708984 -478.8976745605469 L 194.5957641601562 -478.4583129882812 Z M 208.8759155273438 -478.5252380371094 C 209.4314727783203 -478.0031127929688 209.3980102539062 -477.0601501464844 208.8257141113281 -476.5213012695312 C 208.4550476074219 -476.1673583984375 208.2023620605469 -476.1171875 206.8552551269531 -476.0502624511719 C 204.9525909423828 -475.9824829101562 204.1443328857422 -476.2016906738281 203.7736511230469 -476.8919677734375 C 203.4707794189453 -477.4986267089844 203.5720367431641 -478.087646484375 204.0430755615234 -478.5595703125 C 204.345947265625 -478.8624267578125 204.6153717041016 -478.8967895507812 206.4344024658203 -478.8967895507812 C 208.3036193847656 -478.8959045410156 208.52197265625 -478.8624572753906 208.8759155273438 -478.5252380371094 Z M 185.7040252685547 -467.226318359375 C 186.4788208007812 -466.6372985839844 186.5457458496094 -465.7445068359375 185.8721923828125 -465.0709533691406 L 185.383544921875 -464.5823059082031 L 176.4424896240234 -464.5823059082031 C 170.9528350830078 -464.5823059082031 167.34912109375 -464.6492309570312 167.0797119140625 -464.7504577636719 C 166.5743255615234 -464.9353637695312 166.1701965332031 -465.76123046875 166.2881774902344 -466.3670043945312 C 166.3216247558594 -466.5862121582031 166.5576019287109 -466.9225463867188 166.7935485839844 -467.1074523925781 C 167.1976928710938 -467.4270629882812 167.5005645751953 -467.4446716308594 176.3245086669922 -467.4446716308594 C 183.2123260498047 -467.4279479980469 185.5023956298828 -467.3777465820312 185.7040252685547 -467.226318359375 Z M 208.8257141113281 -467.0916137695312 C 209.3645629882812 -466.6540222167969 209.4314727783203 -465.6767272949219 208.9436950683594 -465.0709533691406 C 208.6408233642578 -464.7002868652344 208.4893798828125 -464.6668395996094 206.6025695800781 -464.6166381835938 C 204.6831665039062 -464.5664672851562 204.5819091796875 -464.5664672851562 204.1099853515625 -464.9705810546875 C 203.4866333007812 -465.5094299316406 203.4531707763672 -466.4022216796875 204.0421905517578 -467.0246887207031 C 204.4295959472656 -467.4288330078125 204.5141143798828 -467.445556640625 206.4000549316406 -467.445556640625 C 208.1521606445312 -467.4446716308594 208.4215850830078 -467.4112243652344 208.8257141113281 -467.0916137695312 Z M 191.5978088378906 -455.5056762695312 C 192.2211608886719 -454.8655700683594 192.2378997802734 -454.17529296875 191.6488647460938 -453.5686645507812 L 191.1945495605469 -453.1310729980469 L 179.1877593994141 -453.1310729980469 L 167.1809539794922 -453.1310729980469 L 166.7601013183594 -453.5184631347656 C 166.1200103759766 -454.0907592773438 166.103271484375 -454.9501037597656 166.7433776855469 -455.5725708007812 L 167.1474914550781 -455.9934387207031 L 179.1199645996094 -455.9934387207031 L 191.1100311279297 -455.9934387207031 L 191.5978088378906 -455.5056762695312 Z M 205.2220153808594 -454.9166564941406 L 205.2220153808594 -453.8380737304688 L 205.8621063232422 -453.7200927734375 C 206.6703643798828 -453.5686645507812 208.0518035888672 -452.8783874511719 208.6240997314453 -452.3395385742188 L 209.0951538085938 -451.9019470214844 L 208.3881378173828 -450.6226501464844 C 207.4786224365234 -448.9383239746094 207.495361328125 -448.955078125 206.9565124511719 -449.4771728515625 C 205.777587890625 -450.5883178710938 203.5209655761719 -451.0267944335938 202.5780029296875 -450.3364868164062 C 202.3085784912109 -450.1340026855469 202.0057067871094 -449.7641906738281 201.8701171875 -449.5115051269531 C 201.4492492675781 -448.653076171875 201.8199157714844 -448.3158569335938 204.6655578613281 -446.9009399414062 C 207.4099578857422 -445.5538635253906 208.4039916992188 -444.779052734375 208.9428253173828 -443.6168518066406 C 209.3469543457031 -442.7583923339844 209.3636779785156 -441.0238952636719 208.9762878417969 -439.9118957519531 C 208.6056213378906 -438.8007507324219 207.4099426269531 -437.621826171875 206.2142944335938 -437.1842346191406 L 205.3047790527344 -436.8302917480469 L 205.2545776367188 -435.8027954101562 L 205.2044067382812 -434.7752990722656 L 203.7903747558594 -434.7752990722656 L 202.3587646484375 -434.7752990722656 L 202.3587646484375 -435.7860717773438 L 202.3587646484375 -436.7800903320312 L 201.6517486572266 -436.9817199707031 C 201.2476196289062 -437.0829772949219 200.5740661621094 -437.3523864746094 200.1197509765625 -437.5707397460938 C 199.2947692871094 -438.0083312988281 197.9811248779297 -439.0859985351562 197.9811248779297 -439.3387145996094 C 197.9811248779297 -439.5068664550781 199.6487121582031 -441.8480224609375 199.7666931152344 -441.8480224609375 C 199.8001403808594 -441.8480224609375 200.2210083007812 -441.5451354980469 200.7096557617188 -441.1744689941406 C 202.6123352050781 -439.7428283691406 204.9869232177734 -439.5914001464844 205.6437377929688 -440.8548583984375 C 206.2671203613281 -442.0337829589844 205.7784576416016 -442.6060791015625 202.9495544433594 -443.9699096679688 C 201.7371520996094 -444.5422058105469 200.4067840576172 -445.30029296875 199.9691925048828 -445.619873046875 C 198.2848815917969 -446.9000854492188 197.8472900390625 -449.0888977050781 198.8404541015625 -451.0760803222656 C 199.4303588867188 -452.2550048828125 200.2042846679688 -452.9620361328125 201.4677429199219 -453.5008544921875 L 202.3605194091797 -453.8715515136719 L 202.3605194091797 -454.9324951171875 L 202.3605194091797 -455.9934387207031 L 203.7903747558594 -455.9934387207031 L 205.2220153808594 -455.9934387207031 L 205.2220153808594 -454.9166564941406 Z M 185.9734497070312 -443.9707946777344 C 186.3106536865234 -443.566650390625 186.3775787353516 -443.3641662597656 186.2930450439453 -442.8763732910156 C 186.0905456542969 -441.6305236816406 186.5791931152344 -441.6807250976562 176.2734375 -441.6807250976562 L 167.0462493896484 -441.6807250976562 L 166.7099151611328 -442.068115234375 C 166.2212524414062 -442.5902404785156 166.1376190185547 -442.9441833496094 166.3392333984375 -443.533203125 C 166.7099151611328 -444.5606994628906 166.5241394042969 -444.5439758300781 176.4768218994141 -444.492919921875 L 185.553466796875 -444.4594421386719 L 185.9734497070312 -443.9707946777344 Z">
            </path>
        </svg>
    </div>
</button>
</div>