#Super_Market {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(0,111,97,1);
    overflow: hidden;
    --web-view-name: Super Market;
    --web-view-id: Super_Market;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Login_txt_logo {
    position: absolute;
    width: 267px;
    height: 69px;
    left: 91px;
    top: 190px;
    overflow: visible;
}
#loginpage_logo {
    position: absolute;
    width: 81px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Super_Market_bg {
    position: absolute;
    left: 97px;
    top: 18px;
    overflow: visible;
    width: 171px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#Group_38 {
    position: absolute;
    width: 150px;
    height: 199px;
    left: 37px;
    top: 395px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Go_shopping.html;
    cursor: pointer;
}
#Group_36 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8 {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Go_Shopping {
    position: absolute;
    left: 3px;
    top: 162px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#Group_37 {
    position: absolute;
    width: 150px;
    height: 201px;
    left: 216px;
    top: 395px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Super_Market___1.html;
    cursor: pointer;
}
#Group_36_bm {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_bn {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Scan_Receipt {
    position: absolute;
    left: 2px;
    top: 164px;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#Group_43 {
    position: absolute;
    width: 51.549px;
    height: 66px;
    left: 179px;
    top: 279px;
    overflow: visible;
}
.Icon_awesome_bell {
    overflow: visible;
    position: absolute;
    width: 45.604px;
    height: 53.841px;
    left: 0px;
    top: 12.159px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 34px;
    height: 34px;
    left: 17.549px;
    top: 3px;
}
#ID3 {
    position: absolute;
    left: 26.549px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: rgba(253,245,219,1);
}
#two_persons_shopping {
    position: absolute;
    width: 72.802px;
    height: 91.487px;
    left: 76px;
    top: 424px;
    overflow: visible;
    border:none;
    background-color: transparent;
}
.Path_617 {
    overflow: visible;
    position: absolute;
    width: 8.341px;
    height: 7.086px;
    left: 39.482px;
    top: 76.079px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_618 {
    overflow: visible;
    position: absolute;
    width: 14.481px;
    height: 16.565px;
    left: 41.4px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_619 {
    overflow: visible;
    position: absolute;
    width: 37.132px;
    height: 63.829px;
    left: 35.671px;
    top: 19.492px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_620 {
    overflow: visible;
    position: absolute;
    width: 14.482px;
    height: 16.565px;
    left: 17.389px;
    top: 8.165px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_621 {
    overflow: visible;
    position: absolute;
    width: 48.792px;
    height: 63.829px;
    left: 0px;
    top: 27.658px;
    transform: matrix(1,0,0,1,0,0);
}
#ID8b93cca495d344a587f478899fb3 {
    position: absolute;
    width: 60.286px;
    height: 86.285px;
    left: 261px;
    top: 427px;
    overflow: visible;
    border:none;
    background-color: transparent;
    
}
#Group_136 {
    position: absolute;
    width: 60.286px;
    height: 86.285px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_622 {
    overflow: visible;
    position: absolute;
    width: 60.286px;
    height: 86.285px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}