<ami-fullstack-bottom-side-bar-goshopping></ami-fullstack-bottom-side-bar-goshopping>
<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div *ngIf="show">
    <div *ngFor="let p of cartProducts$">
        {{p.name}}
    </div>
</div>