#Shopping_List___3 {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(227,227,227,1);
    overflow: hidden;
    --web-view-name: Shopping List – 3;
    --web-view-id: Shopping_List___3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
.Path_38 {
    overflow: visible;
    position: absolute;
    width: 414px;
    height: 102.278px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#logo_with_text {
    position: absolute;
    width: 191px;
    height: 46px;
    left: 99px;
    top: 43px;
    overflow: visible;
    z-index: 1;
}
#menubarlogo {
    position: absolute;
    width: 51px;
    height: 44px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-image: url(../../../../images/shopping-list/loginpage_logo@2x.png);
    background-size:contain;
    background-repeat: no-repeat;
}
#loginpage_logo {
    position: absolute;
    width: 51px;
    height: 44px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Shopping_List {
    position: absolute;
    left: 47px;
    top: 20px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255,255,255,1);
}

#notifications {
    position: absolute;
    width: 35.069px;
    height: 44.29px;
    left: 367.931px;
    top: 37px;
    overflow: visible;
}
.Icon_awesome_bell {
    overflow: visible;
    position: absolute;
    width: 30.739px;
    height: 36.29px;
    left: 0px;
    top: 8px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 12.069px;
    top: 2px;
}
#ID3 {
    position: absolute;
    left: 18.069px;
    top: 0px;
    overflow: visible;
    width: 12px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(253,245,219,1);
}
#Menu {
    position: absolute;
    width: 42.454px;
    height: 29.227px;
    left: 28.173px;
    top: 56.063px;
    overflow: visible;
    background-color:transparent;
    border:none;
    z-index:2;
}
.Path_39 {
    overflow: visible;
    position: absolute;
    width: 46.454px;
    height: 4px;
    left: 0px;
    top: 14.613px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_40 {
    overflow: visible;
    position: absolute;
    width: 46.454px;
    height: 4px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_41 {
    overflow: visible;
    position: absolute;
    width: 46.454px;
    height: 4px;
    left: 0px;
    top: 29.227px;
    transform: matrix(1,0,0,1,0,0);
}


////////////////////////////////// OPEN MENU ////////////////////////////////////



#menubar-is-opened{
    position:absolute;
    top:-5px;
    z-index:1;
}



.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 875px;
    left: 0px;
    top: 21px;
    background-color:#006F61;
}
#recurring {
    position: absolute;
    width: 106px;
    height: 65.749px;
    left: 5px;
    top: 135px;
    overflow: visible;
    background-color:transparent;
    border:none;
}
#circular_arrrow {
    position: absolute;
    width: 27.808px;
    height: 28.379px;
    left: 39.484px;
    top: 37.37px;
    overflow: visible;
}
#Group_10 {
    position: absolute;
    width: 27.808px;
    height: 28.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_9 {
    position: absolute;
    width: 27.808px;
    height: 28.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_37 {
    overflow: visible;
    position: absolute;
    width: 27.808px;
    height: 28.379px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Recurring_bj {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(255,255,255,1);
}
#favourite {
    position: absolute;
    width: 102px;
    height: 61px;
    left: 8px;
    top: 214px;
    overflow: visible;
}
.Icon_material_favorite_border {
    overflow: visible;
    position: absolute;
    width: 28.855px;
    height: 26.475px;
    left: 36.572px;
    top: 34.525px;
    transform: matrix(1,0,0,1,0,0);
}
#Favourite_bm {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(255,255,255,1);
}
#allmenu {
    position: absolute;
    width: 114px;
    height: 517px;
    left: 3px;
    top: 307px;
    overflow: visible;
}
#kitchen {
    position: absolute;
    width: 72px;
    height: 99px;
    left: 21px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6 {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 76.5px;
    height: 75.5px;
    left: 0px;
    top: 0px;
}
#Group_49 {
    position: absolute;
    width: 37.188px;
    height: 35.915px;
    left: 17.46px;
    top: 15.939px;
    overflow: visible;
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 8.268px;
    height: 6.963px;
    left: 14.46px;
    top: 25.599px;
}
#Group_34 {
    position: absolute;
    width: 37.188px;
    height: 18.119px;
    left: 0px;
    top: 17.795px;
    overflow: visible;
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 9.165px;
    height: 18.119px;
    left: 28.023px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 9.429px;
    height: 18.119px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_46 {
    overflow: visible;
    position: absolute;
    width: 15.429px;
    height: 18.119px;
    left: 11.011px;
    top: 17.795px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_47 {
    overflow: visible;
    position: absolute;
    width: 14.168px;
    height: 11.939px;
    left: 11.51px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Kitchen_ {
    position: absolute;
    left: 2px;
    top: 71px;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,255,255,1);
}
#supermarket {
    position: absolute;
    width: 114px;
    height: 102px;
    left: 0px;
    top: 104px;
    overflow: visible;
}
.Ellipse_6_bz {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 76.5px;
    height: 76.5px;
    left: 21px;
    top: 0px;
}
#Super_Market {
    position: absolute;
    left: 0px;
    top: 74px;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,255,255,1);
}
#supermarketlogo {
    position: absolute;
    width: 37.903px;
    height: 37.768px;
    left: 38.849px;
    top: 17.063px;
    overflow: visible;
}
.Path_48 {
    overflow: visible;
    position: absolute;
    width: 37.901px;
    height: 23.113px;
    left: 0.001px;
    top: 14.656px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_49 {
    overflow: visible;
    position: absolute;
    width: 37.903px;
    height: 13.504px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_50 {
    overflow: visible;
    position: absolute;
    width: 2.101px;
    height: 2.101px;
    left: 23.012px;
    top: 29.074px;
    transform: matrix(1,0,0,1,0,0);
}
#imanager {
    position: absolute;
    width: 106px;
    height: 99px;
    left: 4px;
    top: 209px;
    overflow: visible;
}
.Ellipse_6_b {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 76.5px;
    height: 75.5px;
    left: 17px;
    top: 0px;
}
#Inv_Manager {
    position: absolute;
    left: 0px;
    top: 71px;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,255,255,1);
}
#imanagerlogo {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 31.5px;
    top: 14.5px;
    overflow: visible;
}
.Path_51 {
    overflow: visible;
    position: absolute;
    width: 8.483px;
    height: 13.115px;
    left: 9.896px;
    top: 27.373px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_52 {
    overflow: visible;
    position: absolute;
    width: 2.828px;
    height: 2.828px;
    left: 35.345px;
    top: 38.172px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_53 {
    overflow: visible;
    position: absolute;
    width: 8.483px;
    height: 13.116px;
    left: 0px;
    top: 27.373px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_54 {
    overflow: visible;
    position: absolute;
    width: 10.67px;
    height: 6.097px;
    left: 0.718px;
    top: 24.899px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_55 {
    overflow: visible;
    position: absolute;
    width: 0.707px;
    height: 14.938px;
    left: 35.345px;
    top: 21.82px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_56 {
    overflow: visible;
    position: absolute;
    width: 4.656px;
    height: 4.656px;
    left: 35.345px;
    top: 1px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_57 {
    overflow: visible;
    position: absolute;
    width: 10.669px;
    height: 6.097px;
    left: 6.992px;
    top: 21.314px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_58 {
    overflow: visible;
    position: absolute;
    width: 10.505px;
    height: 8.696px;
    left: 4.34px;
    top: 23.384px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_59 {
    overflow: visible;
    position: absolute;
    width: 24.034px;
    height: 32.517px;
    left: 16.966px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_60 {
    overflow: visible;
    position: absolute;
    width: 2.524px;
    height: 4.206px;
    left: 35.497px;
    top: 16.858px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 0.707px;
    height: 14.938px;
    left: 37.466px;
    top: 21.82px;
    transform: matrix(1,0,0,1,0,0);
}
#recipies {
    position: absolute;
    width: 72px;
    height: 100px;
    left: 21px;
    top: 313px;
    overflow: visible;
}
.Ellipse_6_cl {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 76.5px;
    height: 76.5px;
    left: 0px;
    top: 0px;
}
#Recipies_cm {
    position: absolute;
    left: 0px;
    top: 72px;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,255,255,1);
}
.Path_75 {
    overflow: visible;
    position: absolute;
    width: 31.746px;
    height: 42.71px;
    left: 19.756px;
    top: 14.945px;
    transform: matrix(1,0,0,1,0,0);
}
#profile {
    position: absolute;
    width: 72px;
    height: 99px;
    left: 21px;
    top: 418px;
    overflow: visible;
}
.Ellipse_6_cp {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 76.5px;
    height: 75.5px;
    left: 0px;
    top: 0px;
}
#Profile_cq {
    position: absolute;
    left: 9px;
    top: 71px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,255,255,1);
}
#profilelogo {
    position: absolute;
    width: 33.652px;
    height: 40.336px;
    left: 19.756px;
    top: 13.834px;
    overflow: visible;
}
.Path_70 {
    overflow: visible;
    position: absolute;
    width: 19.431px;
    height: 19.43px;
    left: 6.856px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_71 {
    overflow: visible;
    position: absolute;
    width: 33.652px;
    height: 20.852px;
    left: 0px;
    top: 19.484px;
    transform: matrix(1,0,0,1,0,0);
}




