<div id="Shopping_List___3">
	<svg class="Path_38" viewBox="0 0 414 102.278">
		<path fill="rgba(0,111,97,1)" id="Path_38" d="M 0 0 L 414 0 L 414 77.8009033203125 C 414 91.31900787353516 401.4639892578125 102.277587890625 386 102.277587890625 L 28 102.277587890625 C 12.53602600097656 102.277587890625 0 91.31900787353516 0 77.8009033203125 L 0 0 Z">
		</path>
	</svg>
	<div (click)="redirect('dashboard-mobile')" id="logo_with_text">
		<div id="menubarlogo">
		
		</div>
		<div id="Shopping_List">
			<span>Shopping List</span>
		</div>
	</div>

	<div id="notifications">
		<svg class="Icon_awesome_bell" viewBox="0 0 30.739 36.29">
			<path fill="rgba(255,255,255,1)" id="Icon_awesome_bell" d="M 15.36924266815186 36.29006195068359 C 17.79264068603516 36.29006195068359 19.75839424133301 34.25937271118164 19.75839424133301 31.7538013458252 L 10.98008823394775 31.7538013458252 C 10.98008823394775 34.25937271118164 12.94584083557129 36.29006195068359 15.36924266815186 36.29006195068359 Z M 30.14773178100586 25.67875862121582 C 28.82213401794434 24.20731353759766 26.34178352355957 21.99376106262207 26.34178352355957 14.74283504486084 C 26.34178352355957 9.235535621643066 22.60376358032227 4.826860427856445 17.56347465515137 3.74524712562561 L 17.56347465515137 2.268128871917725 C 17.56347465515137 1.015696406364441 16.58094215393066 0 15.36924266815186 0 C 14.15754222869873 0 13.17500686645508 1.015696406364441 13.17500686645508 2.268128871917725 L 13.17500686645508 3.745247364044189 C 8.134720802307129 4.826860904693604 4.396699905395508 9.235535621643066 4.396699905395508 14.74283599853516 C 4.396699905395508 21.99376106262207 1.916350960731506 24.20731353759766 0.5907537341117859 25.67875862121582 C 0.1790776252746582 26.13592720031738 -0.003432150231674314 26.68240547180176 -1.480825631006155e-06 27.2175407409668 C 0.007545915432274342 28.37996101379395 0.8905912041664124 29.48567008972168 2.202465772628784 29.48567008972168 L 28.53601837158203 29.48567008972168 C 29.84789085388184 29.48567008972168 30.73162460327148 28.37996101379395 30.73848724365234 27.2175407409668 C 30.74191474914551 26.68240547180176 30.55940818786621 26.13522148132324 30.14772987365723 25.67875862121582 Z">
			</path>
		</svg>
		<svg class="Ellipse_5">
			<ellipse fill="rgba(245,112,90,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_5" rx="11.5" ry="11.5" cx="11.5" cy="11.5">
			</ellipse>
		</svg>
		<div id="ID3">
			<span>3</span>
		</div>
	</div>
	<button (click)="openMenu()" id="Menu">
		<svg class="Path_39" viewBox="4.5 18 42.454 4">
			<path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="4px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_39" d="M 4.5 18 L 46.95380401611328 18">
			</path>
		</svg>
		<svg class="Path_40" viewBox="4.5 9 42.454 4">
			<path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="4px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_40" d="M 4.5 9 L 46.95380401611328 9">
			</path>
		</svg>
		<svg class="Path_41" viewBox="4.5 27 42.454 4">
			<path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="4px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_41" d="M 4.5 27 L 46.95380401611328 27">
			</path>
		</svg>
	</button>
</div>



<!-----------------------------------OPEN MENU---------------------------------------->


<div id="menu-bar-is-opened">
    <div id="menubar-background">
        <button id="recurringbtn"></button>
        <button id="favouritebtn"></button>
        <button id="kitchenbtn"></button>
        <button id="supermarketbtn"></button>
        <button id="invmanagerbtn"></button>
        <button id="recipiesbtn"></button>
        <button id="profilebtn"></button>
    </div>
</div>

<div *ngIf="showMenu" id="menubar-is-opened">
	<div class="Rectangle_17"></div>>
	<button id="recurring">
		<div id="circular_arrrow">
			<div id="Group_10">
				<div id="Group_9">
					<svg class="Path_37" viewBox="0.172 0 27.808 28.379">
						<path fill="rgba(255,255,255,1)" id="Path_37" d="M 14.2441987991333 0.001584620447829366 C 14.2541446685791 0.001584620447829366 14.26077651977539 0.001584620447829366 14.26077651977539 0.001584620447829366 C 14.27237987518311 0.001584620447829366 14.27237987518311 0.001584620447829366 14.27901077270508 0.001584620447829366 C 14.28232574462891 0.001584620447829366 14.29061412811279 0.001584620447829366 14.29393005371094 0.001584620447829366 C 14.29393005371094 0.001584620447829366 14.29393005371094 0.001584620447829366 14.30055999755859 0.001584620447829366 C 14.33205604553223 -0.001730775460600853 14.34531879425049 0.001584620447829366 14.36520957946777 0.001584620447829366 C 18.03369522094727 0.001584620447829366 21.60437774658203 1.453727960586548 24.23680114746094 4.013213634490967 L 27.15103149414062 1.06914210319519 C 27.28530502319336 0.9298954606056213 27.49748992919922 0.8867952823638916 27.67154884338379 0.9613916873931885 C 27.85223579406738 1.034330368041992 27.97988128662109 1.213361740112305 27.97988128662109 1.410627722740173 L 27.49251747131348 11.46622276306152 L 18.04529762268066 11.46622276306152 C 18.04032325744629 11.46622276306152 18.02706336975098 11.46622276306152 18.01877403259277 11.46622276306152 C 17.75685882568359 11.46622276306152 17.53638458251953 11.24906444549561 17.53638458251953 10.97554397583008 C 17.53638458251953 10.79982852935791 17.63418769836426 10.64234638214111 17.77840805053711 10.55780410766602 L 20.64622688293457 7.655176162719727 C 18.9454288482666 6.017370700836182 16.73406028747559 5.120555877685547 14.2939281463623 5.120555877685547 C 9.332438468933105 5.148736476898193 5.287655353546143 9.215069770812988 5.287655353546143 14.25447082519531 C 5.325782299041748 19.19109535217285 9.36061954498291 23.20604133605957 14.37349605560303 23.24250984191895 C 17.64247703552246 23.06679344177246 20.72247886657715 21.12397193908691 22.1961727142334 17.9030647277832 L 26.84269905090332 20.04646873474121 L 26.81120491027832 20.11111831665039 C 23.6284236907959 26.26615142822266 18.61223030090332 28.85879135131836 13.23134231567383 28.30677795410156 C 5.978914260864258 27.72989845275879 0.2217291295528412 21.65443420410156 0.1719986498355865 14.18318939208984 C 0.170343428850174 6.425164222717285 6.477884292602539 0.06955023854970932 14.2441987991333 0.001584620447829366 Z">
						</path>
					</svg>
				</div>
			</div>
		</div>
		<div id="Recurring_bj">
			<span>Recurring</span>
		</div>
	</button>
	<div id="favourite">
		<svg class="Icon_material_favorite_border" viewBox="3 4.5 28.855 26.475">
			<path fill="rgba(255,255,255,1)" id="Icon_material_favorite_border" d="M 23.92023849487305 4.5 C 21.40980911254883 4.5 19.00037574768066 5.668647289276123 17.42774963378906 7.515399932861328 C 15.85512447357178 5.668647289276123 13.44569110870361 4.5 10.93526268005371 4.5 C 6.491515159606934 4.5 3 7.991515159606934 3 12.43526268005371 C 3 17.88895034790039 7.905435085296631 22.33269691467285 15.33572673797607 29.08488464355469 L 17.42774963378906 30.97492027282715 L 19.51977348327637 29.07045936584473 C 26.95006370544434 22.33269691467285 31.85549926757812 17.88895034790039 31.85549926757812 12.43526268005371 C 31.85549926757812 7.991515159606934 28.36398506164551 4.5 23.92023849487305 4.5 Z M 17.5720272064209 26.93514823913574 L 17.42774963378906 27.07942771911621 L 17.28347396850586 26.93514823913574 C 10.41586303710938 20.71678924560547 5.885549545288086 16.60487937927246 5.885549545288086 12.43526268005371 C 5.885549545288086 9.549711227416992 8.049712181091309 7.385550022125244 10.93526268005371 7.385550022125244 C 13.15713691711426 7.385550022125244 15.32129764556885 8.813897132873535 16.08596801757812 10.79049873352051 L 18.78395843505859 10.79049873352051 C 19.53420257568359 8.813897132873535 21.6983642578125 7.385550022125244 23.92023849487305 7.385550022125244 C 26.80578804016113 7.385550022125244 28.96994972229004 9.549711227416992 28.96994972229004 12.43526268005371 C 28.96994972229004 16.60487937927246 24.43963813781738 20.71678924560547 17.5720272064209 26.93514823913574 Z">
			</path>
		</svg>
		<div id="Favourite_bm">
			<span>Favourite</span>
		</div>
	</div>
	<div id="allmenu">
		<div id="kitchen">
			<svg class="Ellipse_6">
				<ellipse fill="rgba(255,255,255,1)" id="Ellipse_6" rx="36" ry="35.5" cx="36" cy="35.5">
				</ellipse>
			</svg>
			<div id="Group_49">
				<svg class="Rectangle_18">
					<rect fill="rgba(0,111,97,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="8.268" height="6.963">
					</rect>
				</svg>
				<div id="Group_34">
					<svg class="Path_44" viewBox="354.169 232.955 9.165 18.119">
						<path fill="rgba(0,111,97,1)" id="Path_44" d="M 361.9098205566406 232.9550018310547 L 354.1689758300781 232.9550018310547 L 354.1689758300781 251.0741271972656 L 361.9098205566406 251.0741271972656 C 362.6951293945312 251.0741271972656 363.3340454101562 250.4351959228516 363.3340454101562 249.6498870849609 L 363.3340454101562 234.3792114257812 C 363.3340454101562 233.5939331054688 362.6951293945312 232.9550018310547 361.9098205566406 232.9550018310547 Z">
						</path>
					</svg>
					<svg class="Path_45" viewBox="0 232.955 9.429 18.119">
						<path fill="rgba(0,111,97,1)" id="Path_45" d="M 1.42421555519104 251.0742034912109 L 9.428860664367676 251.0742034912109 L 9.428860664367676 232.9550018310547 L 1.42421555519104 232.9550018310547 C 0.638918936252594 232.9550018310547 0 233.5939331054688 0 234.3792114257812 L 0 249.6498870849609 C 0 250.4352874755859 0.638918936252594 251.0742034912109 1.42421555519104 251.0742034912109 Z">
						</path>
					</svg>
				</div>
				<svg class="Path_46" viewBox="139.167 232.955 15.429 18.119">
					<path fill="rgba(0,111,97,1)" id="Path_46" d="M 139.1670074462891 232.9550018310547 L 139.1670074462891 251.0741271972656 L 154.5962524414062 251.0741271972656 L 154.5962524414062 232.9550018310547 L 139.1670074462891 232.9550018310547 Z M 151.1015472412109 235.5764312744141 C 151.5276336669922 235.5764312744141 151.8730010986328 235.9218139648438 151.8730010986328 236.3478698730469 C 151.8730010986328 236.7739410400391 151.5276336669922 237.1193237304688 151.1015472412109 237.1193237304688 C 150.6754608154297 237.1193237304688 150.330078125 236.7739410400391 150.330078125 236.3478698730469 C 150.330078125 235.9218139648438 150.675537109375 235.5764312744141 151.1015472412109 235.5764312744141 Z M 148.2004089355469 235.5764312744141 C 148.6264190673828 235.5764312744141 148.9717864990234 235.9218139648438 148.9717864990234 236.3478698730469 C 148.9717864990234 236.7739410400391 148.6264190673828 237.1193237304688 148.2004089355469 237.1193237304688 C 147.7741851806641 237.1193237304688 147.4287414550781 236.7739410400391 147.4287414550781 236.3478698730469 C 147.4288024902344 235.9218139648438 147.7742462158203 235.5764312744141 148.2004089355469 235.5764312744141 Z M 145.2992858886719 235.5764312744141 C 145.7252960205078 235.5764312744141 146.0706634521484 235.9218139648438 146.0706634521484 236.3478698730469 C 146.0706634521484 236.7739410400391 145.7252960205078 237.1193237304688 145.2992858886719 237.1193237304688 C 144.873046875 237.1193237304688 144.5275268554688 236.7739410400391 144.5275268554688 236.3478698730469 C 144.5276031494141 235.9218139648438 144.8731231689453 235.5764312744141 145.2992858886719 235.5764312744141 Z M 142.3978424072266 235.5764312744141 C 142.8239135742188 235.5764312744141 143.1692962646484 235.9218139648438 143.1692962646484 236.3478698730469 C 143.1692962646484 236.7739410400391 142.8239135742188 237.1193237304688 142.3978424072266 237.1193237304688 C 141.9717559814453 237.1193237304688 141.6263885498047 236.7739410400391 141.6263885498047 236.3478698730469 C 141.6263885498047 235.9218139648438 141.9717559814453 235.5764312744141 142.3978424072266 235.5764312744141 Z M 152.4663238525391 248.5125732421875 C 152.4663238525391 248.9495697021484 152.1120147705078 249.3038024902344 151.6751098632812 249.3038024902344 L 141.8242645263672 249.3038024902344 C 141.3872833251953 249.3038024902344 141.0330505371094 248.9495697021484 141.0330505371094 248.5125732421875 L 141.0330505371094 239.96728515625 C 141.0330505371094 239.5302734375 141.3872833251953 239.1760406494141 141.8242645263672 239.1760406494141 L 151.6751098632812 239.1760406494141 C 152.1120147705078 239.1760406494141 152.4663238525391 239.5302734375 152.4663238525391 239.96728515625 L 152.4663238525391 248.5125732421875 Z">
					</path>
				</svg>
				<svg class="Path_47" viewBox="145.47 8.048 14.168 11.939">
					<path fill="rgba(0,111,97,1)" id="Path_47" d="M 155.3267974853516 16.50459671020508 C 154.8397674560547 16.50459671020508 154.4413146972656 16.10613250732422 154.4413146972656 15.61913013458252 L 154.4413146972656 8.933466911315918 C 154.4413146972656 8.446464538574219 154.0428466796875 8.048000335693359 153.5557708740234 8.048000335693359 L 151.5523681640625 8.048000335693359 C 151.0652770996094 8.048000335693359 150.6668395996094 8.446464538574219 150.6668395996094 8.933466911315918 L 150.6668395996094 15.61913013458252 C 150.6668395996094 16.10613250732422 150.2683563232422 16.50459671020508 149.7813568115234 16.50459671020508 L 146.3555755615234 16.50459671020508 C 145.8684692382812 16.50459671020508 145.4700164794922 16.90306091308594 145.4700164794922 17.39006423950195 L 145.4700164794922 19.10149574279785 C 145.4700164794922 19.58849716186523 145.8684692382812 19.98696136474609 146.3555755615234 19.98696136474609 L 158.7527313232422 19.98696136474609 C 159.2397308349609 19.98696136474609 159.6382751464844 19.58849716186523 159.6382751464844 19.10149574279785 L 159.6382751464844 17.39006423950195 C 159.6382751464844 16.90306091308594 159.2397308349609 16.50459671020508 158.7527313232422 16.50459671020508 L 155.3267974853516 16.50459671020508 Z">
					</path>
				</svg>
			</div>
			<div id="Kitchen_">
				<span>Kitchen </span>
			</div>
		</div>
		<div id="supermarket">
			<svg class="Ellipse_6_bz">
				<ellipse fill="rgba(255,255,255,1)" id="Ellipse_6_bz" rx="36" ry="36" cx="36" cy="36">
				</ellipse>
			</svg>
			<div id="Super_Market">
				<span>Super Market</span>
			</div>
			<div id="supermarketlogo">
				<svg class="Path_48" viewBox="0.01 187.075 37.901 23.113">
					<path fill="rgba(0,111,97,1)" id="Path_48" d="M 36.007080078125 206.3797760009766 L 35.20345687866211 206.3797760009766 L 35.20345687866211 187.9528961181641 L 35.20282745361328 187.9528961181641 C 34.21685791015625 187.9528961181641 33.28266906738281 187.6314086914062 32.50399398803711 187.0882110595703 C 31.98126220703125 187.4559936523438 31.37872123718262 187.728759765625 30.71196365356445 187.8617706298828 C 30.40463447570801 187.9223785400391 30.0937614440918 187.9528961181641 29.78769683837891 187.9528961181641 C 28.78550720214844 187.9528961181641 27.85257911682129 187.6219635009766 27.07524681091309 187.0749816894531 C 26.42643165588379 187.5302734375 25.66648864746094 187.8467254638672 24.8191089630127 187.9316558837891 C 24.66871070861816 187.9454193115234 24.52075576782227 187.9528961181641 24.37201118469238 187.9528961181641 C 23.36541366577148 187.9528961181641 22.43941307067871 187.628173828125 21.66955184936523 187.0912780761719 C 20.9008731842041 187.6301574707031 19.96928405761719 187.9528961181641 18.9608039855957 187.9528961181641 C 17.95169067382812 187.9528961181641 17.02065086364746 187.6307830810547 16.25197410583496 187.0912780761719 C 15.48211574554443 187.6282653808594 14.55611324310303 187.9528961181641 13.54888916015625 187.9528961181641 C 13.40014457702637 187.9528961181641 13.25210857391357 187.9455108642578 13.07605171203613 187.9293060302734 C 12.25496006011963 187.8474578857422 11.49698543548584 187.5408935546875 10.83880424499512 187.0787658691406 C 10.0633602142334 187.6239318847656 9.132870674133301 187.9528961181641 8.133204460144043 187.9528961181641 C 7.828472137451172 187.9528961181641 7.518151760101318 187.9223785400391 7.206573486328125 187.8612213134766 C 6.540286540985107 187.728759765625 5.939006328582764 187.4559783935547 5.416348934173584 187.0887603759766 C 4.6383056640625 187.6314086914062 3.704827308654785 187.9528961181641 2.718145847320557 187.9528961181641 L 2.717516422271729 187.9528961181641 L 2.717516422271729 206.3797760009766 L 1.913973808288574 206.3797760009766 C 0.862521767616272 206.3797760009766 0.01002693176269531 207.2321014404297 0.01002693176269531 208.2836151123047 C 0.01002693176269531 209.3350830078125 0.862521767616272 210.1874847412109 1.913973808288574 210.1874847412109 L 21.60533332824707 210.1874847412109 L 21.60533332824707 206.3796844482422 L 21.60533332824707 195.7577514648438 C 21.60533332824707 194.6917877197266 22.46892166137695 193.8275756835938 23.53533172607422 193.8275756835938 L 30.30350303649902 193.8275756835938 C 31.37006568908691 193.8275756835938 32.23428726196289 194.6917877197266 32.23428726196289 195.7577514648438 L 32.23428726196289 206.3797760009766 L 32.23428726196289 210.1875762939453 L 36.007080078125 210.1875762939453 C 37.05852890014648 210.1875762939453 37.91094970703125 209.3350830078125 37.91094970703125 208.2837066650391 C 37.91094970703125 207.2321014404297 37.05852890014648 206.3797760009766 36.007080078125 206.3797760009766 Z M 18.24516677856445 191.5595550537109 L 18.24516677856445 199.8764190673828 C 18.24516677856445 200.3753204345703 17.84056282043457 200.7792816162109 17.34230422973633 200.7792816162109 L 7.252217769622803 200.7792816162109 C 6.753329753875732 200.7792816162109 6.349353313446045 200.3753204345703 6.349353313446045 199.8764343261719 L 6.349353313446045 198.8279571533203 L 15.69326877593994 190.6561431884766 L 17.34246063232422 190.6561431884766 C 17.84056282043457 190.6561431884766 18.24516677856445 191.0606689453125 18.24516677856445 191.5595550537109 Z M 13.77932739257812 190.6561431884766 L 6.34935474395752 197.1539916992188 L 6.34935474395752 195.2069702148438 L 11.55585193634033 190.6561431884766 L 13.77932739257812 190.6561431884766 Z M 6.3492751121521 191.5595550537109 C 6.3492751121521 191.0606689453125 6.753250598907471 190.6561431884766 7.252138614654541 190.6561431884766 L 9.641280174255371 190.6561431884766 L 6.3492751121521 193.5334625244141 L 6.3492751121521 191.5595550537109 Z">
					</path>
				</svg>
				<svg class="Path_49" viewBox="0 0.855 37.903 13.504">
					<path fill="rgba(0,111,97,1)" id="Path_49" d="M 0.1141384094953537 10.87566661834717 C -0.3135256469249725 12.30811309814453 0.5007203221321106 13.81611061096191 1.933796405792236 14.24448394775391 C 2.192252159118652 14.32121753692627 2.453305006027222 14.35868167877197 2.709872245788574 14.35868167877197 C 3.875047922134399 14.35868167877197 4.95152759552002 13.59881687164307 5.302535533905029 12.42482566833496 L 5.444277286529541 11.95088481903076 C 5.540450096130371 12.81321907043457 6.044928073883057 13.58000564575195 6.798022270202637 14.00649261474609 C 7.040187835693359 14.1439037322998 7.305727481842041 14.24818325042725 7.594089984893799 14.30563449859619 C 7.772662162780762 14.34128570556641 7.950056552886963 14.35867977142334 8.125560760498047 14.35867977142334 C 9.389900207519531 14.35867977142334 10.52084159851074 13.46706962585449 10.77740859985352 12.17880535125732 L 10.84430503845215 11.84605503082275 C 10.90978527069092 12.7651309967041 11.44306659698486 13.56890964508057 12.22236824035645 14.00649261474609 C 12.53709602355957 14.18325328826904 12.8867654800415 14.30626487731934 13.26878356933594 14.34435749053955 C 13.35999965667725 14.35372161865234 13.45050716400146 14.35805130004883 13.54046154022217 14.35805130004883 C 14.91490459442139 14.35805130004883 16.09259414672852 13.31525421142578 16.23118782043457 11.91845989227295 L 16.2510986328125 11.71934604644775 C 16.27604675292969 12.70468807220459 16.83120727539062 13.55009841918945 17.63671493530273 14.00342082977295 C 18.02754974365234 14.22260475158691 18.47087478637695 14.35805130004883 18.95174217224121 14.35805130004883 C 19.43189811706543 14.35805130004883 19.87640571594238 14.22260475158691 20.26676368713379 14.0027904510498 C 21.0729808807373 13.54939079284668 21.62806510925293 12.70272064208984 21.65238380432129 11.71611785888672 L 21.67229270935059 11.91845989227295 C 21.81159400939941 13.31533432006836 22.9886531829834 14.35805130004883 24.36356925964355 14.35805130004883 C 24.45297241210938 14.35805130004883 24.54347991943359 14.35372161865234 24.63453674316406 14.34435749053955 C 25.01679039001465 14.30626487731934 25.36709213256836 14.18388366699219 25.68048095703125 14.00711917877197 C 26.46041297912598 13.57001113891602 26.99306869506836 12.76710033416748 27.05980682373047 11.84849452972412 L 27.12536239624023 12.17880535125732 C 27.38208770751953 13.46707057952881 28.51295471191406 14.35868167877197 29.77729225158691 14.35868167877197 C 29.95271492004395 14.35868167877197 30.13074111938477 14.34128761291504 30.30931282043457 14.30563735961914 C 30.59775924682617 14.24826240539551 30.86313629150391 14.14398384094238 31.10483169555664 14.00649261474609 C 31.85721397399902 13.5800085067749 32.36240005493164 12.81321907043457 32.45920562744141 11.95088672637939 L 32.60031509399414 12.42482852935791 C 32.95132064819336 13.59944725036621 34.02835464477539 14.35868263244629 35.19368743896484 14.35868263244629 C 35.45033264160156 14.35868263244629 35.71138763427734 14.3212194442749 35.96976470947266 14.24448585510254 C 37.40283966064453 13.81611442565918 38.21637725830078 12.30811309814453 37.78942489624023 10.87566661834717 L 35.47024536132812 3.112234354019165 C 35.06997299194336 1.772812962532043 33.83797836303711 0.8549957275390625 32.44047164916992 0.8549957275390625 L 5.462930202484131 0.8549957275390625 C 4.065584182739258 0.8549957275390625 2.8335120677948 1.772812962532043 2.433236360549927 3.112234354019165 L 0.1141384094953537 10.87566661834717 Z">
					</path>
				</svg>
				<svg class="Path_50" viewBox="292.399 370.274 2.101 2.101">
					<path fill="rgba(0,111,97,1)" id="Path_50" d="M 293.4492797851562 370.2739868164062 C 292.8692321777344 370.2739868164062 292.3989868164062 370.7442321777344 292.3989868164062 371.3242797851562 C 292.3989868164062 371.9049987792969 292.8692321777344 372.3746032714844 293.4492797851562 372.3746032714844 C 294.030029296875 372.3746032714844 294.4996337890625 371.9049987792969 294.4996337890625 371.3242797851562 C 294.4996337890625 370.7442321777344 294.030029296875 370.2739868164062 293.4492797851562 370.2739868164062 Z">
					</path>
				</svg>
			</div>
		</div>
		<div id="imanager">
			<svg class="Ellipse_6_b">
				<ellipse fill="rgba(255,255,255,1)" id="Ellipse_6_b" rx="36" ry="35.5" cx="36" cy="35.5">
				</ellipse>
			</svg>
			<div id="Inv_Manager">
				<span>Inv Manager</span>
			</div>
			<div id="imanagerlogo">
				<svg class="Path_51" viewBox="17 41.723 8.483 13.115">
					<path fill="rgba(0,111,97,1)" id="Path_51" d="M 23.36206817626953 46.16019058227539 C 23.36206817626953 46.42810821533203 23.21079254150391 46.67269134521484 22.97115516662598 46.79286575317383 L 20.14356803894043 48.20666122436523 C 20.04389572143555 48.25614166259766 19.93574142456055 48.2808837890625 19.82758331298828 48.2808837890625 C 19.69822311401367 48.2808837890625 19.5695686340332 48.24554061889648 19.45646286010742 48.17555236816406 C 19.2479305267334 48.04619598388672 19.12068939208984 47.81927871704102 19.12068939208984 47.5739860534668 L 19.12068939208984 45.35857391357422 L 17 46.5701904296875 L 17 54.83805465698242 L 25.48275756835938 49.99086761474609 L 25.48275756835938 41.72300720214844 L 23.36206817626953 42.93462753295898 L 23.36206817626953 46.16019058227539 Z">
					</path>
				</svg>
				<svg class="Path_52" viewBox="53 57 2.828 2.828">
					<path fill="rgba(0,111,97,1)" id="Path_52" d="M 52.99999618530273 58.41379165649414 C 52.99999618530273 59.19350051879883 53.63408279418945 59.82758712768555 54.41379165649414 59.82758712768555 C 55.19349670410156 59.82758712768555 55.82758712768555 59.19350051879883 55.82758712768555 58.41379165649414 L 55.82758712768555 57.00000381469727 L 52.99999618530273 57.00000381469727 L 52.99999618530273 58.41379165649414 Z">
					</path>
				</svg>
				<svg class="Path_53" viewBox="3 41.723 8.483 13.116">
					<path fill="rgba(0,111,97,1)" id="Path_53" d="M 2.999999523162842 49.9915657043457 L 11.48275852203369 54.83875274658203 L 11.48275852203369 46.57018661499023 L 2.999999523162842 41.72299957275391 L 2.999999523162842 49.9915657043457 Z">
					</path>
				</svg>
				<svg class="Path_54" viewBox="4.016 38.223 10.67 6.097">
					<path fill="rgba(0,111,97,1)" id="Path_54" d="M 6.213741302490234 38.22299957275391 L 4.015999794006348 39.47915649414062 L 12.48744678497314 44.31998062133789 L 14.68589687347412 43.06382751464844 L 6.213741302490234 38.22299957275391 Z">
					</path>
				</svg>
				<svg class="Path_55" viewBox="53 33.868 0.707 14.938">
					<path fill="rgba(0,111,97,1)" id="Path_55" d="M 52.99999618530273 48.80613708496094 L 53.7068977355957 48.80613708496094 L 53.7068977355957 34.33950042724609 L 52.99999618530273 33.86799621582031 L 52.99999618530273 48.80613708496094 Z">
					</path>
				</svg>
				<svg class="Path_56" viewBox="53 4.414 4.656 4.656">
					<path fill="rgba(0,111,97,1)" id="Path_56" d="M 52.99999618530273 4.413999557495117 L 52.99999618530273 9.069620132446289 L 57.65561676025391 9.069620132446289 L 52.99999618530273 4.413999557495117 Z">
					</path>
				</svg>
				<svg class="Path_57" viewBox="12.891 33.152 10.669 6.097">
					<path fill="rgba(0,111,97,1)" id="Path_57" d="M 23.56018829345703 37.99282836914062 L 15.08874034881592 33.15200042724609 L 12.89099884033203 34.40815353393555 L 21.36244773864746 39.24898147583008 L 23.56018829345703 37.99282836914062 Z">
					</path>
				</svg>
				<svg class="Path_58" viewBox="9.14 36.08 10.504 8.696">
					<path fill="rgba(0,111,97,1)" id="Path_58" d="M 18.23068809509277 42.38551330566406 L 18.23068809509277 44.77624130249023 L 19.64447975158691 44.0693473815918 L 19.64447975158691 41.3817253112793 L 10.36646461486816 36.08000183105469 L 9.139999389648438 36.78053665161133 L 17.87441253662109 41.77122497558594 C 18.0949649810791 41.89775848388672 18.23068809509277 42.13174438476562 18.23068809509277 42.38552093505859 Z">
					</path>
				</svg>
				<svg class="Path_59" viewBox="27 3 24.034 32.517">
					<path fill="rgba(0,111,97,1)" id="Path_59" d="M 44.67241287231445 10.06896495819092 C 44.28149795532227 10.06896495819092 43.96551895141602 9.752275466918945 43.96551895141602 9.362068176269531 L 43.96551895141602 2.999999523162842 L 26.99999809265137 2.999999523162842 L 26.99999809265137 27.12920570373535 L 29.4713077545166 28.54158592224121 C 29.69186210632324 28.66741561889648 29.82758522033691 28.90139389038086 29.82758522033691 29.15517234802246 L 29.82758522033691 35.51723861694336 L 43.96551895141602 35.51723861694336 L 43.96551895141602 23.5 C 43.96551895141602 23.41517066955566 43.98036193847656 23.33105087280273 44.01004791259766 23.25187873840332 L 46.1307373046875 17.59670448303223 C 46.23464965820312 17.32101631164551 46.49832534790039 17.13793182373047 46.7931022644043 17.13793182373047 C 47.08787536621094 17.13793182373047 47.3515510559082 17.32101631164551 47.45546722412109 17.59670448303223 L 49.57615661621094 23.25187873840332 C 49.6058464050293 23.33105087280273 49.62068557739258 23.4151725769043 49.62068557739258 23.5 L 49.62068557739258 35.51723861694336 L 51.03448104858398 35.51723861694336 L 51.03448104858398 10.06896495819092 L 44.67241287231445 10.06896495819092 Z M 28.41379165649414 11.48275852203369 L 29.82758522033691 11.48275852203369 L 29.82758522033691 12.89655113220215 L 28.41379165649414 12.89655113220215 L 28.41379165649414 11.48275852203369 Z M 42.55172348022461 21.37931060791016 L 28.41379165649414 21.37931060791016 L 28.41379165649414 19.96551704406738 L 42.55172348022461 19.96551704406738 L 42.55172348022461 21.37931060791016 Z M 42.55172348022461 18.55172348022461 L 28.41379165649414 18.55172348022461 L 28.41379165649414 17.13793182373047 L 42.55172348022461 17.13793182373047 L 42.55172348022461 18.55172348022461 Z M 46.7931022644043 15.72413539886475 L 28.41379165649414 15.72413539886475 L 28.41379165649414 14.31034374237061 L 46.7931022644043 14.31034374237061 L 46.7931022644043 15.72413539886475 Z M 49.62068557739258 15.72413539886475 L 48.2068977355957 15.72413539886475 L 48.2068977355957 14.31034374237061 L 49.62068557739258 14.31034374237061 L 49.62068557739258 15.72413539886475 Z M 49.62068557739258 12.89655113220215 L 31.24137687683105 12.89655113220215 L 31.24137687683105 11.48275852203369 L 49.62068557739258 11.48275852203369 L 49.62068557739258 12.89655113220215 Z">
					</path>
				</svg>
				<svg class="Path_60" viewBox="53.215 26.848 2.524 4.206">
					<path fill="rgba(0,111,97,1)" id="Path_60" d="M 55.73862075805664 30.21282577514648 L 54.476806640625 26.84799957275391 L 53.21500015258789 30.21282577514648 L 54.476806640625 31.05403518676758 L 55.73862075805664 30.21282577514648 Z">
					</path>
				</svg>
				<svg class="Path_61" viewBox="56 33.868 0.707 14.938">
					<path fill="rgba(0,111,97,1)" id="Path_61" d="M 55.99999237060547 48.80613708496094 L 56.70689392089844 48.80613708496094 L 56.70689392089844 33.86799621582031 L 55.99999237060547 34.33950042724609 L 55.99999237060547 48.80613708496094 Z">
					</path>
				</svg>
			</div>
		</div>
		<div id="recipies">
			<svg class="Ellipse_6_cl">
				<ellipse fill="rgba(255,255,255,1)" id="Ellipse_6_cl" rx="36" ry="36" cx="36" cy="36">
				</ellipse>
			</svg>
			<div id="Recipies_cm">
				<span>Recipies</span>
			</div>
			<svg class="Path_75" viewBox="3.671 0 31.746 42.71">
				<path fill="rgba(0,111,97,1)" id="Path_75" d="M 35.41679382324219 36.93670654296875 L 35.41679382324219 2.308730840682983 C 35.41679382324219 1.039376735687256 34.37592697143555 0 33.10657119750977 0 L 5.979730606079102 0 C 4.710376262664795 0 3.670999526977539 1.039376735687256 3.670999526977539 2.308730840682983 L 3.670999526977539 4.617461681365967 L 3.670999526977539 36.93820190429688 L 3.670999526977539 40.40129470825195 C 3.670999526977539 41.67214202880859 4.710376262664795 42.71002197265625 5.979730606079102 42.71002197265625 L 33.10657119750977 42.71002197265625 C 33.95181274414062 42.71002197265625 34.69102478027344 42.24409866333008 35.09273529052734 41.55566024780273 L 8.288460731506348 41.55566024780273 C 7.019107818603516 41.55566024780273 5.979730606079102 40.51777648925781 5.979730606079102 39.2484245300293 L 33.10657119750977 39.2484245300293 C 34.37741851806641 39.24693298339844 35.41679382324219 38.20904541015625 35.41679382324219 36.93670654296875 Z M 11.55742073059082 30.88860702514648 C 11.14525413513184 31.30077171325684 10.47622871398926 31.30077171325684 10.06406307220459 30.88860702514648 C 9.653388977050781 30.47793579101562 9.653388977050781 29.80741310119629 10.06555557250977 29.39525032043457 L 16.64678382873535 22.81253051757812 L 18.14013862609863 24.3058910369873 L 11.55742073059082 30.88860702514648 Z M 27.57965278625488 30.9811954498291 C 27.16599082946777 31.39485740661621 26.49696350097656 31.39187240600586 26.08330535888672 30.9811954498291 L 14.89208698272705 19.78848266601562 C 14.84280586242676 19.73920059204102 14.81742000579834 19.6779727935791 14.77859306335449 19.62271881103516 C 13.15829849243164 20.39329147338867 10.83612823486328 19.83925628662109 9.10831356048584 18.11144065856934 C 7.048973560333252 16.05060768127441 6.632327556610107 13.12661266326904 8.176459312438965 11.58098793029785 C 9.72059154510498 10.03685665130615 12.64458560943604 10.45499610900879 14.70392417907715 12.51433658599854 C 16.43173789978027 14.24215030670166 16.98577308654785 16.56581687927246 16.21520233154297 18.18610954284668 C 16.27194976806641 18.22344207763672 16.33317947387695 18.24733734130859 16.38395118713379 18.29811096191406 L 27.5766658782959 29.48933029174805 C 27.98733711242676 29.90149688720703 27.99032402038574 30.57052040100098 27.57965278625488 30.9811954498291 Z M 31.67742538452148 14.87384128570557 L 26.88225364685059 19.66901206970215 C 26.84491729736328 19.70634460449219 26.80011558532715 19.72874641418457 26.75681114196777 19.75263786315918 C 25.12008857727051 21.20866394042969 23.44006538391113 21.21911811828613 22.07214736938477 20.33952713012695 C 22.0452709197998 20.37238121032715 22.03481483459473 20.4127025604248 22.00196075439453 20.44256973266602 L 20.90285110473633 21.54317474365234 L 19.40949249267578 20.05131149291992 L 20.5115909576416 18.9492130279541 C 20.54145812988281 18.91934585571289 20.5817813873291 18.90739822387695 20.61463165283203 18.88201332092285 C 19.73354911804199 17.51260375976562 19.74400520324707 15.83108139038086 21.2015209197998 14.19734954833984 C 21.22541427612305 14.15553569793701 21.24483108520508 14.10924053192139 21.28365516662598 14.07340049743652 L 26.07882690429688 9.276735305786133 C 26.29984474182129 9.054224967956543 26.65973854064941 9.054224967956543 26.88076210021973 9.276735305786133 C 27.10177803039551 9.49775218963623 27.10177803039551 9.856157302856445 26.87777137756348 10.07717609405518 L 22.24239158630371 14.71255874633789 L 23.04133796691895 15.51299667358398 L 27.67820739746094 10.87612247467041 C 27.896240234375 10.65510559082031 28.25614166259766 10.65510559082031 28.47715950012207 10.87612247467041 C 28.69518852233887 11.09564590454102 28.69518852233887 11.45255851745605 28.47715950012207 11.67506790161133 L 23.84177780151367 16.31194305419922 L 24.64370918273926 17.11238288879395 L 29.27909088134766 12.47700214385986 C 29.50010681152344 12.25598430633545 29.85702133178711 12.25448989868164 30.07803726196289 12.47550678253174 C 30.29905319213867 12.69652366638184 30.29905319213867 13.05492973327637 30.07803726196289 13.27594757080078 L 25.44265365600586 17.91133117675781 L 26.24159812927246 18.71027374267578 L 30.87698554992676 14.07340049743652 C 31.09800148010254 13.85238552093506 31.4578971862793 13.85238552093506 31.67592620849609 14.07340049743652 C 31.89844131469727 14.29292488098145 31.89844131469727 14.65282344818115 31.67742538452148 14.87384128570557 Z">
				</path>
			</svg>
		</div>
		<div id="profile">
			<svg class="Ellipse_6_cp">
				<ellipse fill="rgba(255,255,255,1)" id="Ellipse_6_cp" rx="36" ry="35.5" cx="36" cy="35.5">
				</ellipse>
			</svg>
			<div id="Profile_cq">
				<span>Profile</span>
			</div>
			<div id="profilelogo">
				<svg class="Path_70" viewBox="87.031 0 19.431 19.43">
					<path fill="rgba(0,111,97,1)" id="Path_70" d="M 96.74652099609375 19.42993927001953 C 99.41584014892578 19.42993927001953 101.7272567749023 18.47256851196289 103.615852355957 16.58367347717285 C 105.5044326782227 14.69508838653564 106.461799621582 12.38428592681885 106.461799621582 9.714662551879883 C 106.461799621582 7.045961856842041 105.5044326782227 4.734851837158203 103.6155319213867 2.84564995765686 C 101.7266464233398 0.9573718905448914 99.41553497314453 0 96.74652099609375 0 C 94.076904296875 0 91.76609802246094 0.9573718905448914 89.87751007080078 2.84595799446106 C 87.98892974853516 4.734543800354004 87.03125 7.045653820037842 87.03125 9.714662551879883 C 87.03125 12.38428592681885 87.98892974853516 14.69539546966553 89.87782287597656 16.58398246765137 C 91.76671600341797 18.47226142883301 94.07782745361328 19.42993927001953 96.74652099609375 19.42993927001953 Z M 96.74652099609375 19.42993927001953">
					</path>
				</svg>
				<svg class="Path_71" viewBox="0 247.316 33.652 20.852">
					<path fill="rgba(0,111,97,1)" id="Path_71" d="M 33.57079315185547 258.848876953125 C 33.51632308959961 258.0629272460938 33.40615081787109 257.20556640625 33.24397659301758 256.3002014160156 C 33.08025741577148 255.3880615234375 32.86945724487305 254.5257568359375 32.61711502075195 253.7376403808594 C 32.35646057128906 252.923095703125 32.00194549560547 252.11865234375 31.56372451782227 251.3477783203125 C 31.10889053344727 250.5476684570312 30.57465934753418 249.8509521484375 29.97518348693848 249.2776184082031 C 29.34832382202148 248.6778564453125 28.5808277130127 248.1956176757812 27.69330978393555 247.8438720703125 C 26.80887603759766 247.4939880371094 25.8287296295166 247.3167114257812 24.78026580810547 247.3167114257812 C 24.3685131072998 247.3167114257812 23.97030258178711 247.4856567382812 23.20126724243164 247.9863586425781 C 22.72796249389648 248.2950134277344 22.17434692382812 248.6520080566406 21.5564079284668 249.0468139648438 C 21.02802085876465 249.3834838867188 20.31222343444824 249.6989135742188 19.42809104919434 249.9844970703125 C 18.56550598144531 250.2636108398438 17.68968200683594 250.4051818847656 16.82524871826172 250.4051818847656 C 15.96081161499023 250.4051818847656 15.08529949188232 250.2636108398438 14.22178840637207 249.9844970703125 C 13.33858203887939 249.69921875 12.62278270721436 249.3837890625 12.09501361846924 249.047119140625 C 11.48292446136475 248.656005859375 10.92899513244629 248.2990112304688 10.44861507415771 247.9860534667969 C 9.680503845214844 247.4853515625 9.281983375549316 247.31640625 8.870229721069336 247.31640625 C 7.821460723876953 247.31640625 6.841623306274414 247.4939880371094 5.957493305206299 247.8441772460938 C 5.070593357086182 248.1953125 4.302787303924561 248.6775512695312 3.675310611724854 249.2779235839844 C 3.076145648956299 249.8515625 2.541605234146118 250.5479736328125 2.087384462356567 251.3477783203125 C 1.649473786354065 252.11865234375 1.294960141181946 252.9227905273438 1.033998489379883 253.7379760742188 C 0.7819613814353943 254.5260620117188 0.5711610913276672 255.3880615234375 0.4074446260929108 256.3002014160156 C 0.2452668696641922 257.204345703125 0.1350968480110168 258.06201171875 0.08062729984521866 258.8498229980469 C 0.02708091214299202 259.6216430664062 0 260.4226379394531 0 261.2317199707031 C 0 263.3372192382812 0.6693294644355774 265.0418090820312 1.989216208457947 266.2989196777344 C 3.292792558670044 267.5393981933594 5.017662048339844 268.168701171875 7.115201950073242 268.168701171875 L 26.53713989257812 268.168701171875 C 28.63467979431152 268.168701171875 30.35893249511719 267.5397033691406 31.66281890869141 266.2989196777344 C 32.98301315307617 265.042724609375 33.65234375 263.3378601074219 33.65234375 261.2313842773438 C 33.65203475952148 260.4186401367188 33.62464904785156 259.6170043945312 33.57079315185547 258.848876953125 Z M 33.57079315185547 258.848876953125">
					</path>
				</svg>
			</div>
		</div>
	</div>
</div>