<div id="Login_Page">
	<div id="login_grou_btn">
		<button (click)="login()" class="login-button">
			<div id="login_btn">
				<span>LOGIN</span>
			</div>
		</button>
	</div>
	<div id="Login_txt_logo">
		<div id="loginpage_logo"></div>
		<div id="Welcome_to_SIM_">
			<span>Welcome to SIM,</span>
		</div>
	</div>
	<div id="Password">

		<div id="Password_bk">
			<span>Password</span>
		</div>
		<input type="password" class="login-password-background-color" id="login-password" name="Password"
			placeholder="Password" value="Secret">
	</div>
	<div id="Username">

		<div id="Username_bo">
			<span>Username</span>
		</div>
		<input type="text" class="login-username-background-color" id="login-username" name="Username"
			placeholder="Username" value="m.morrison@sim.com">
	</div>
	<div id="Forgot_your_password_">
		<span>Forgot your password?</span>
	</div>
	<div id="Remember_me">
		<div id="Remember_me_bs">
			<span>Remember me</span>
		</div>
		<input type="checkbox" class="Rectangle_7" checked="checked" name="remember">

	</div>
</div>