#Login_Page {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(0,111,97,1);
    overflow: hidden;
    --web-view-name: Login Page;
    --web-view-id: Login_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#loginpage_logo{
    background-image:url(../../images/login-page/loginpage_logo@2x.png);
    background-size:contain;
    background-repeat: no-repeat;
}
#login_grou_btn {
    position: absolute;
    width: 346px;
    height: 53px;
    left: 34px;
    top: 702px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Dashboard.html;
    cursor: pointer;
}
.login-username-background-color{
    background-color: white;
    border: none;
    top: 44px;
    position: absolute;
    width: 346px;
    height: 53px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 22px;
}
.login-password-background-color{
    background-color: white;
    border: none;
    top: 44px;
    position: absolute;
    width: 346px;
    height: 53px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 22px;
}
.login-button{
    position: absolute;
    overflow: visible;
    width: 346px;
    height: 53px;
    left: 0px;
    top: 0px;
    background-color: rgb(245, 112, 90);
    border: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}
#login_btn {
    position: absolute;
    left: 141px;
    top: 14px;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Login_txt_logo {
    position: absolute;
    width: 259px;
    height: 227px;
    left: 79px;
    top: 123px;
    overflow: visible;
}
#loginpage_logo {
    position: absolute;
    width: 207px;
    height: 177px;
    left: 26px;
    top: 0px;
    overflow: visible;
}
#Welcome_to_SIM_ {
    position: absolute;
    left: 0px;
    top: 188px;
    overflow: visible;
    width: 260px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(255,255,255,1);
}
#Password {
    position: absolute;
    width: 346px;
    height: 84px;
    left: 35px;
    top: 539px;
    overflow: visible;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 346px;
    height: 53px;
    left: 0px;
    top: 31px;
}
#Password_bk {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#______ {
    position: absolute;
    left: 127px;
    top: 41px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(29,54,52,1);
}
#Username {
    position: absolute;
    width: 346px;
    height: 87px;
    left: 35px;
    top: 429px;
    overflow: visible;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 346px;
    height: 53px;
    left: 0px;
    top: 34px;
}
#Username_bo {
    position: absolute;
    left: 2px;
    top: 0px;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#marc_morison {
    position: absolute;
    left: 107px;
    top: 49px;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(29,54,52,1);
}
#Forgot_your_password_ {
    position: absolute;
    left: 97px;
    top: 785px;
    overflow: visible;
    width: 222px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Remember_me {
    position: absolute;
    width: 188px;
    height: 32px;
    left: 113px;
    top: 650px;
    overflow: visible;
}
#Remember_me_bs {
    position: absolute;
    left: 48px;
    top: 3px;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Rectangle_7 {
    position: absolute;
    width: 52px;
    height: 40px;
    left: 0px;
    top: -2px;
    cursor: pointer;
    left: -14px;
}