<h3 *ngIf="isEditMode">Edit Task: {{task.title}}</h3>
<h3 *ngIf="isCreateMode">Create Task</h3>

<div class="row">
  <div class="col">

    <form (ngSubmit)="tasksForm.form.valid && onSaveBtnClick()" #tasksForm="ngForm">

      <div class="form-group">
        <label for="titleInput">Title</label>
        <input [(ngModel)]="task.title" type="text" class="form-control" id="titleInput" name="titleInput"
          aria-describedby="titleHelp" #titleInput="ngModel" required
          [ngClass]="{'is-invalid': titleInput.invalid && (titleInput.dirty || titleInput.touched || tasksForm.submitted)}">
        <small id=" titleHelp" class="form-text text-muted">Please enter title of task</small>
      </div>

      <div class="form-group">
        <label for="descriptionInput">Description</label>
        <textarea [(ngModel)]="task.description" type="text" class="form-control" id="descriptionInput"
          name="descriptionInput" aria-describedby="descriptionHelp" #descriptionInput="ngModel" required
          [ngClass]="{'is-invalid': descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched || tasksForm.submitted)}">
        </textarea>
        <small id="descriptionHelp" class="form-text text-muted">Please enter description of task</small>
      </div>

      <button (click)="goToList()" type="button" class="btn btn-secondary mx-2">Cancel</button>
      <button type="submit" class="btn btn-success">Save</button>
    </form>

  </div>
</div>
