//filters
#filters-background{
    position:absolute;
    width:414px;
    height: 119.87px;
    background-color:#006F61;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

#filters-txt{
    position:absolute;
    top: 2px;
    left: 18px;
}


#filters-all{
    position: absolute;
    left: 25px;
    top: 94px;
    font-size: 30px;
    font-size: medium;
    color: white;
    z-index: 11;
    border: none;
    background-color: transparent;
    font-size: 25px;
}
.filters-all:hover {
    background-color: #4CAF50;
    color: white;
  }
#filters-diary{
    position: absolute;
    left: 90px;
    top:94px;
    font-size: 30px;
    color: white;
    z-index: 11;
    border: none;
    background-color: transparent;
    font-size: 25px;
}
#filters-coffee{
    position: absolute;
    left: 180px;
    top: 94px;
    font-size: 30px;
    color: white;
    z-index: 11;
    border: none;
    background-color: transparent;
    font-size: 25px;
}
#filters-meat{
    position: absolute;
    left: 288px;
    top: 94px;
    font-size: 30px;
    color: white;
    z-index: 11;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

//
#button-to-close-addproduct-menu{
    position: absolute;
    left: 354px;
    top: 388px;
    width: 20px;
    height: 44px;
    font-size: 37px;
    font-family: helvetica;
    border: none;
    background-color: transparent;
    z-index: 2;
    color: white;
}
#search-to-open-button{
    position:absolute;
    left:318.71px;
    top:46.71px;
    width:36.58px;
    height: 36.58px;
    background-image: url(../images/shopping-list/search-icon.svg);
    background-color:transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}
#button-to-open-form{
    position:absolute;
    left:28px;
    top:788px;
    width:67px;
    height:67px;
    background-image:url(../images/shopping-list/theproduct-icon.svg);
    background-color:transparent;
    background-size:contain;
    background-repeat: no-repeat;
    border:none;
}
#button-to-open-filters{
    position:absolute;
    left:28px;
    top:699px;
    width:67px;
    height:67px;
    background-image:url(../images/shopping-list/filters-icon-btn.svg);
    background-color:transparent;
    background-size:contain;
    background-repeat: no-repeat;
    border:none;
}
.searchProdStyling{
    position: absolute;
    left: 99px;
    top: 42px;
    padding: 0;
    width: 205px;
    border-radius: 13px;
    border: none;
    height: 53px;
    z-index: 1;
    font-size: 36px;
    padding: 13px;  
}

.list-group-item{
    position:relative;
    width:395px;
    height: 104px;
    left: -6px;
    top: 94px;
    box-shadow: 0px 5px 6px;
    border-radius: 6px;
    left: -6px;
    top: 94px;
}
.list-product-txt{
    position:relative;
    left: 120px;
    top: -33px;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(29,54,52,1);

}
.remove-product{
    position: relative;
    bottom: 80px;
    left: 304px;
    background-color: transparent;
    border: none;
    font-family: Didot;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgb(245, 112, 90);
}
.product-ammount{
    positioN: relative;
    bottom: 49px;
    left: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(29,54,52,1);
}

#form-background{
    position:absolute;
    width:414px;
    height:508px;
    left:0px;
    top:388px;
    border-radius:34px;
    background-color: #006F61;
    opacity:71%;
}
.prName-positioning{
    position:absolute;
    left:34px;
    top:411px;
    color:white;
    font-size:22px;
    font-family: IBM Plex Sans Condensed;
    z-index:1;
}
.prAmmount-positioning{
    position:absolute;
    left:34px;
    top:520px;
    color:white;
    font-size:22px;
    font-family: IBM Plex Sans Condensed;
    z-index:1;
}
#productName{
    position:absolute;
    width:350px;
    height:67px;
    left:32px;
    top:444px;
    padding: 24px;
    font-size: 22px;
    border-radius:7px;
    border:none;
    z-index:1;
}
#productAmmount{
    position:absolute;
    width:350px;
    height:67px;
    left:32px;
    top:558px;
    padding: 24px;
    font-size: 22px;
    border-radius:7px;
    border:none;
    z-index:1;
}
.submit-stypos{
    position:absolute;
    width:67px;
    height:67px;
    left:174px;
    top:814px;
    border:none;
    font-size: 0px;
    background-image:url(../../mobile/images/shopping-list/submit-icon-splist.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-color:transparent;
    cursor:pointer;
    z-index:1;
}


//////

.list-group-item{
    position:relative;
    width:395px;
    height: 104px;
    left: -6px;
    top: 94px;
    box-shadow: 0px 5px 6px;
    border-radius: 6px;
    left: -6px;
    top: 94px;
}
.list-product-txt{
    position:relative;
    left: 120px;
    top: -33px;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(29,54,52,1);

}
.remove-product{
    position: relative;
    bottom: 80px;
    left: 304px;
    background-color: transparent;
    border: none;
    font-family: Didot;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgb(245, 112, 90);
}
.product-ammount{
    positioN: relative;
    bottom: 49px;
    left: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(29,54,52,1);
}

.product-category{
    position: absolute;
    top: 60px;
    left: 133px;
    background-color: yellowgreen;
    border-radius: 3px;
    padding: 2px 13px 2px 12px;
    color: darkgreen;
}
.product-tags{
    position: absolute;
    top: 60px;
    left: 200px;
    background-color: yellowgreen;
    border-radius: 3px;
    padding: 2px 13px 2px 12px;
    color: darkgreen;
}
