<ami-fullstack-menubar></ami-fullstack-menubar>
<div *ngIf="showTheFilters" id="where-filters-take-place-while-open">
	<div id="filters-txt">
		<button id=filters-all>All</button>
		<button id="filters-diary">Diary</button>
		<button id="filters-coffee">Coffee</button>
		<button id="filters-meat">Meat</button>
	</div>
	<div id="filters-background"></div>
</div>

<div id="mobileShoppingList" *ngIf="showSplproductList">
	<input *ngIf="searchBarOpening" class="searchProdStyling" type="text" [(ngModel)]="searchProd">
	<button (click)="openSearchBar()" id="search-to-open-button"></button>
	<ul class="list-group" *ngFor="let shoppingListProduct of splistproducts$.data | productFilter:searchProd">
		<div class="panel-heading">
			<ami-fullstack-spl-mobile-item *ngIf="showfilter" [product]="shoppingListProduct">
			</ami-fullstack-spl-mobile-item>
		</div>
	</ul>
	<button (click)="showFilters()" id="button-to-open-filters"></button>

	<button (click)="openTheForm()" id="button-to-open-form"></button>
	<div *ngIf="showForm" id="form-to-add-product">
		<button (click)="openTheForm()" id="button-to-close-addproduct-menu">x</button>
		<form (ngSubmit)="submit(f)" #f="ngForm">
			<label class="prName-positioning" for="productName">Product Name:</label><br>
			<input type="text" id="productName" name="productName" value="Milk" ngModel><br>
			<label class="prAmmount-positioning" for="productAmmount">Product Ammount</label><br>
			<input type="number" id="productAmmount" name="productAmmount" value="2kg" ngModel required
				pattern="^[1-9]+[0-9]*$"><br>
			<button class="submit-stypos" type="submit"></button>
			<div id="form-background"></div>
		</form>
	</div>
</div>