<div id="scan-receipt-container">
    <div id="scan-repeipt-logo"></div>




    <div id="qr-scanner-container">
      <div id="camera-holder">
        <div class="wordCarousel">
          <span id="waiting-txt">Waiting for camera to: </span>
          <div>
            <!--        Use classes 2,3, or 4 to match the number of words -->
            <ul class="flip4">
              <li>Open</li>
              <li>Sit tight</li>
              <li>Loading</li>
              <li>Be Ready</li>
            </ul>
          </div>
        </div>
      </div>
        <qr-scanner id="qr-scanner-feed"
                  [debug]="false"
                  [canvasWidth]="100"
                  [canvasHeight]="100"
                  [stopAfterScan]="true"
                  [updateTime]="500">

          </qr-scanner>
          <button id="back-button" (click)="redirect('print-receipt-mobile')">CANCEL</button>

    </div>


    <input type="text" id="qr_bypass">

        <button id="go-button" (click)="bypassQR()">GO</button>
        <div id="products-container">

    </div>
  </div>