#scan-receipt-container {
    background-size: 414px 896px;
    background-color:#FFFCF2;
  }
  
  #scan-repeipt-logo{
    position:absolute;
    left: 120px;
    top:100px;
    background-image: url('../../../tablet/images/icons/sim_dark_logo.svg') !important;
    width:200px;
    height:200px;
    background-repeat:no-repeat;
    background-size:contain;
  }
  #qr-scanner-container{
     position:absolute;
    border-radius:10px;
  
  }
  #qr_bypass{
    position: absolute;
    width: 170px;
    height: 31px;
    font-size: 15px;
    border-color: darkcyan;
    border-radius: 5px;
    top: 31px;
    left: 136px;
    padding: 13px;
  }
  #go-button{
    background-color: darkorange;
    left: 100px;
    position: absolute;
    left: 269px;
    top: 33px;
    border: none;
    width: 35px;
    height: 27.3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    color: white;
  }
  
  #camera-txt{
    position:absolute;
    top:250px;
    left:150px;
    font-size:35px;
    font-family:archivo_bold;
    color:#FFFCF2;
  
  }
  #qr-scanner-feed{
    position: absolute;
    top: 326.5px;
    left: -7.5px;
    display: block;
    width: 440px;
    height: 360px;
  }
  #back-button{
    position: absolute;
    top: 744px;
    left: 121px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #003A3E;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #camera-holder{
    position: absolute;
    top: 339.5px;
    width: 433px;
    height: 331px;
    background-color: #026C82;
  }
  #waiting-txt{
    color:white;
    font-size:25px;
    font-family:archivo_bold;
  }
  .wordCarousel {
    position:absolute;
    left: 15px;
    top: 100px;
    font-size: 36px;
    font-weight: 100;
    color: #939393;
    
    div {
      overflow: hidden;
      position: relative;
      float: right;
      height: 65px;
      padding-top: 5px;
      margin-top: -10px;
      top: -42px;
      li {
        font-family: archivo_bold;
        color:#FFFCF2;
  
        padding: 0 10px;
        height: 45px;
        margin-bottom: 45px;
        display: block;
      }
    }
  }
  
  .flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  
  @keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  // Layout //////////////////////////////////////////
  