<div id="home-devices-cabbinets-background">
    <div id="staticSimLogo" *ngIf="showSimLogo">
        <ami-fullstack-home-devices-date-time></ami-fullstack-home-devices-date-time>
    </div>

    <div id="scannedProducts" *ngIf="showScannedProducts">
        <div class="row" id="scanned-products-list">
            <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let scannedProd of productsArray$">
                <div class="panel-heading">
                    <ami-fullstack-super-market-product-item [product]="scannedProd" id="prod-item">
                    </ami-fullstack-super-market-product-item>
                </div>
            </div>
        </div>

        <button id="end_classification" class="scan-receipt-end-btn" (click)="endClassification()">End
            Classification
        </button>
    </div>

    <div id="scan-receipt-container" *ngIf="showScanner">
        <div id="scan-repeipt-logo"></div>




        <div id="qr-scanner-container">
            <div id="camera-holder">
                <div class="wordCarousel">
                    <span id="waiting-txt">Waiting for camera to: </span>
                    <div>
                        <!--        Use classes 2,3, or 4 to match the number of words -->
                        <ul class="flip4">
                            <li>Open</li>
                            <li>Sit tight</li>
                            <li>Loading</li>
                            <li>Be Ready</li>
                        </ul>
                    </div>
                </div>
            </div>
            <qr-scanner id="qr-scanner-feed" [debug]="false" [canvasWidth]="100" [canvasHeight]="100"
                [stopAfterScan]="true" [updateTime]="500">

            </qr-scanner>
            <button id="back-button" (click)="redirect('super-market')">CANCEL</button>

        </div>


        <input type="text" id="qr_bypass">

        <button (click)="bypassQR()">GO</button>
        <div id="products-container">

        </div>
    </div>
</div>