#home-devices-cabbinets-background{
    position: absolute;
    top:0px;
    left:0px;
}

// #staticSimLogo{
//     background-color: #05564B;
//     background-image: url(../../tablet/images/logo/simlogo.svg);
    
//     background-repeat: no-repeat;
//     background-size: contain;

//     width: 1280px;
//     height: 800px;
//     background-position-y: -100px;
//     background-position-x: center;
// }

#scannedProducts{
    width:1280px;
    height: 800px;
    background-color:#FFFCF2;
    background-size: 1280px 800px;
}

.panel-heading{
    margin:60px;
}
  
  .product-txt {
      font-size: 25px;
      color: #fdf5db;
      font-family: Arial, Helvetica, sans-serif;
    }
  .pr1-brand-positioning {
      position: absolute;
      left: 164px;
      top: 45px;
    }
  .product-brand-txt {
      font-size: 13px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: #344a5e;
    }
  
  
  
    #search-box-mini {
      position: absolute;
      top: 140px;
      left: -0px;
      width: 1280px;
      height: 30px;
      background-color: #f9705a;
      display: block;
    }
    #search-box-open {
      position: absolute;
      top: 137px;
      left: 0px;
      width: 1280px;
      height: 61px;
      background-color: #f9705a;
      display: none;
    }
    form.search-legit input[type="text"] {
      position: relative;
      top: 3px;
      left: 34px;
      font-size: 25px;
      border: none;
      border-bottom: 4px solid #fdf5db;
      float: left;
      width: 90%;
      background: #f9705a;
      padding: 3px;
      margin-right: -4px;
      color: #fdf5db;
    }
    form.search-legit button {
      position: absolute;
      width: 30px;
      height: 30px;
      color: #fdf5db;
      font-size: 17px;
    }
    .fa {
      position: absolute;
      top: -7px;
      left: -3px;
      width: 30px;
      height: 46px;
      color: #fdf5db;
      font-size: 36px;
    }
    
  
    //---------------------------
    #scanned-products-container{
      position:relative;
  }
  
  #searchBar{
      position: absolute;
      top:70px;
      left:225px;
  }
  
  .product_name{
      position: relative;
      top:55%;
      text-align: center;
  }
  
  .product_image{
      top: 31%;
      position: relative;
      left: 31%;
  
      max-width: 100px;;
      max-height: 100px;;
      
  }
  
  .scan-receipt-end-btn {
      position: fixed;
      top: 540px;
      left: 535px;
      background-color: #F5705A;
      width: 208px;
      height: 67px;
      border-bottom-left-radius: 67px;
      border-top-right-radius: 67px;
      border: none;
  }
  
  // #searchBar{
  //   position:absolute;
  //   top:100px;
  // }

  //#######################################################################


  #scan-receipt-container {
    background-size: 1280px 800px;
    background-color:#FFFCF2;
  }
  
  #scan-repeipt-logo{
    position:absolute;
    left:30px;
    top:100px;
    background-image: url('../../tablet//images//icons//sim_dark_logo.svg') !important;
    width:200px;
    height:200px;
    background-repeat:no-repeat;
    background-size:contain;
  }
  #qr-scanner-container{
     position:absolute;
    border-radius:10px;
  
  }
  
  #camera-txt{
    position:absolute;
    top:250px;
    left:150px;
    font-size:35px;
    font-family:archivo_bold;
    color:#FFFCF2;
  
  }
  #qr-scanner-feed{
     position:absolute;
     top:22.5px;
     left:262.5px;
     display:block;
     width:1000px;
     height:300px;
  }
  #back-button{
    position:absolute;
    top:700px;
    left:30px;
    width:200px;
    height:50px;
    border-radius:10px;
    background-color:#003A3E;
    border:none;
    color:white;
  }
  #camera-holder{
    position:absolute;
    top:22.5px;
    left:262.5px;
    width:1000px;
    height: 750px;
    background-color:#026C82;
  }
  #waiting-txt{
    color:white;
    font-size:25px;
    font-family:archivo_bold;
  }
  .wordCarousel {
    position:absolute;
    left:250px;
    top:300px;
    font-size: 36px;
    font-weight: 100;
    color: #939393;
    div {
      overflow: hidden;
      position: relative;
      float: right;
      height: 65px;
      padding-top: 5px;
      margin-top: -10px;
      li {
        font-family: archivo_bold;
        color:#FFFCF2;
  
        padding: 0 10px;
        height: 45px;
        margin-bottom: 45px;
        display: block;
      }
    }
  }
  
  .flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  
  @keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  // Layout //////////////////////////////////////////
  