<!-- <ami-fullstack-inventory-manager-product></ami-fullstack-inventory-manager-product> -->
<!-- 123
<div id="notificationbox">
  <div id="warning-icon">
    <p id="push-source">NO LOCATION FOUND</p>
    <p id="push-message">ITEM IS EMPTY</p>
    <p id="push-notifications">You have 10 more notifications</p>
  </div>
</div> -->


<!-- <input type="text"  placeholder="Search" [(ngModel)]="query" id="searchBar">
    <div class="" *ngFor="let lock of locked | LockFilter: query">
    <label [for]="lock.ID" class="" ></label>
    <p id="{{lock.ID}}" class="" (click)="clickedProd($event.explicitOriginalTarget.id)">{{lock.Prod}}</p>
</div> -->

<!-- <ami-fullstack-notifications></ami-fullstack-notifications>
<div id="notif_container">
<mat-selection-list id="notifications" class="custom-scroll-bar">
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
</div>

<nav>
    <ul id="notification_list">
        <li *ngFor="let n of notifications" class="notification_element">{{n}}</li>
    </ul>
</nav> -->

<!-- <ami-fullstack-products-search-bar></ami-fullstack-products-search-bar> -->


<button (click)="sendSocketReq()">Socket</button>
<input type="text" id="socketevent">


<!-- <div class="container text-center">
  <button id="minusbtn" (click)="minus()" type="button"><i class="fa fa-minus"></i></button>
  <input id="inputpm" type="text" [value]="quantity" placeholder="piece">
  <button id="plusbtn" (click)="plus()" type="button"><i class="fa fa-plus"></i></button>
</div> -->

<!-- <div (click)="detailsMenu()" id="productforproduct">
  <div id="background-of-product-mini">
    <div id="Cheece_Graviera-mini">
      <span>Cheece Graviera</span>
    </div>

    <div id="product-1-mini">
      <svg class="product_background-mini"></svg>
      <div id="cheese_img-mini"></div>
    </div>


    <div id="Availability-mini">
      <svg class="availability_background-mini"></svg>
      <div id="run_out_product_icon-mini" class="run_out_product_icon-mini"></div>
      <div id="Availability_-mini">
        <span>Availability</span>
      </div>
    </div>



    <div id="Expiration-mini">
      <svg class="expiration_background-mini"></svg>
      <div id="Expiration-text-mini">
        <span>Expiration</span>
      </div>
      <svg class="expiration-img-mini"></svg>
    </div>


    <div id="Ammount-mini">
      <svg class="ammount-background-mini">
      </svg>
      <div id="Ammount_bg-mini">
        <span>Ammount</span>
      </div>
      <svg class="ammount-img-mini"></svg>
    </div>
  </div>

  <div id="tags">
    <svg class="diary_background"></svg>
    <div id="DIARY">
      <span>DIARY</span>
    </div>
  </div>
</div>

<div *ngIf="showProductDetails" id="while-product-is-open">

  <div id="doublebg">
    <svg class="background-opacity"></svg>
    <svg class="Subtraction_3" viewBox="-277.858 -37.579 889.999 463">
      <path fill="rgba(99,196,57,1)" id="Subtraction_3"
        d="M 599.1417236328125 425.4210510253906 L -264.8582458496094 425.4210510253906 C -268.3303527832031 425.4210510253906 -271.5949096679688 424.0688171386719 -274.0503540039062 421.6134948730469 C -276.5056762695312 419.1582641601562 -277.85791015625 415.8937072753906 -277.85791015625 412.4213562011719 L -277.85791015625 64.64970397949219 L -152.5895843505859 40.30025863647461 C -148.9185791015625 39.5869255065918 -145.7452392578125 37.48659515380859 -143.6539154052734 34.38615036010742 C -141.5629119873047 31.28603744506836 -140.8042449951172 27.55703735351562 -141.5176849365234 23.88603782653809 L -153.465576171875 -37.57851791381836 L 599.1417236328125 -37.57851791381836 C 602.6140747070312 -37.57851791381836 605.8785400390625 -36.22629547119141 608.3336181640625 -33.77096176147461 C 610.7890625 -31.31562805175781 612.1414184570312 -28.05118370056152 612.1414184570312 -24.57907295227051 L 612.1414184570312 412.4213562011719 C 612.1414184570312 415.8938293457031 610.7890625 419.1582641601562 608.3336181640625 421.6134948730469 C 605.8785400390625 424.0688171386719 602.6140747070312 425.4210510253906 599.1417236328125 425.4210510253906 Z">
      </path>
    </svg>
  </div>


  <div id="Cheece_Graviera">
    <span>Cheece Graviera</span>
  </div>
  <div id="product">
    <div id="cheese"></div>
  </div>



  <div id="topGroup">

    <button (mouseenter)="hideNseek()" (mouseleave)="hideNseek2()" id="availability_background">
      <div *ngIf="hideIcon" class="run_out_product_icon"></div>
    </button>
    <div id="Availability">
      <span>Availability</span>
    </div>
    <div *ngIf="availabilityPercentage" class="run_out_on_hover">30%</div>

    <button id="Expiration">
      <div id="Expiration-text">
        <span>Expiration</span>
      </div>
      <div class="expiration-img"></div>
    </button>


    <button id="Ammount">
      <div id="Ammount-txt">
        <span>Ammount left</span>
      </div>
      <div class="ammount-img"></div>
    </button>

  </div>

  <div id="bottomGroup">
    <button (click)="fridgePosition()" id="location-background">
      <div id="Location-txt">
        <span>Location</span>
      </div>
      <div id="fridge-img"></div>
    </button>

    <div id="select-ammount">
      <div id="Select-Ammount-txt">
        <span>Select Ammount</span>
      </div>
    </div>


    <div id="buy-product">
      <div id="buy-product-txt">
        <span>Add Product</span>
      </div>
      <div id="cart-img"></div>
    </div>
  </div>
  <button (click)="detailsMenu()" id="exit-icon"></button>

</div>

<div *ngIf="productPosition" id="fridge-position">
  <div id="background_opacity"></div>

  <div id="background-with-cut">
    <svg class="thegreenbackgroundlayer" viewBox="-277.858 -37.579 889.999 463">
      <path fill="rgba(99,196,57,1)" id="thegreenbackgroundlayer"
        d="M 599.1417236328125 425.4210510253906 L -264.8582458496094 425.4210510253906 C -268.3303527832031 425.4210510253906 -271.5949096679688 424.0688171386719 -274.0503540039062 421.6134948730469 C -276.5056762695312 419.1582641601562 -277.85791015625 415.8937072753906 -277.85791015625 412.4213562011719 L -277.85791015625 64.64970397949219 L -152.5895843505859 40.30025863647461 C -148.9185791015625 39.5869255065918 -145.7452392578125 37.48659515380859 -143.6539154052734 34.38615036010742 C -141.5629119873047 31.28603744506836 -140.8042449951172 27.55703735351562 -141.5176849365234 23.88603782653809 L -153.465576171875 -37.57851791381836 L 599.1417236328125 -37.57851791381836 C 602.6140747070312 -37.57851791381836 605.8785400390625 -36.22629547119141 608.3336181640625 -33.77096176147461 C 610.7890625 -31.31562805175781 612.1414184570312 -28.05118370056152 612.1414184570312 -24.57907295227051 L 612.1414184570312 412.4213562011719 C 612.1414184570312 415.8938293457031 610.7890625 419.1582641601562 608.3336181640625 421.6134948730469 C 605.8785400390625 424.0688171386719 602.6140747070312 425.4210510253906 599.1417236328125 425.4210510253906 Z">
      </path>
    </svg>
    <div id="product_text">
      <span>Cheece Graviera</span>
    </div>
  </div>

  <div id="product_icon">
    <div id="cheese-img-details"></div>
  </div>

  <button (click)="fridgePosition()" id="exit-icon-location">
  </button>



  <div id="fridge_location_group">
    <div id="fridge_location_background"></div>
    <div id="Fridge_Location">
      <span>Fridge Location</span>
    </div>

    <div id="fridge">
      <div id="fridge-img-details"></div>
    </div>

    <div id="cheese_bj"></div>

  </div>
</div>


<div id="choose-fav-rec">
  <label>
    <input type="radio" class="option-input radio" name="example" checked />
    Favourite
  </label>
  <label>
    <input type="radio" class="option-input radio" name="example" />
    Recurring
  </label>
</div> -->





<!-- CustomProduct CustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProductCustomProduct -->

<!--     
    <div id="Custom_product">
    <svg class="Path_42" viewBox="0 0 1280 800">
      <path fill="rgba(0,51,37,1)" id="Path_42" d="M 0 0 L 1280 0 L 1280 800 L 0 800 L 0 0 Z">
      </path>
    </svg>
    <div id="background-linear">
      <svg class="Subtraction_3_" viewBox="0 0 889.999 467.859">
        <linearGradient id="Subtraction_3_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
          <stop offset="0" stop-color="#32c4b3" stop-opacity="1"></stop>
          <stop offset="1" stop-color="#3bb757" stop-opacity="1"></stop>
        </linearGradient>
        <path fill="url(#Subtraction_3_)" id="Subtraction_3_" d="M 876.9996337890625 467.8587341308594 L 12.99966430664062 467.8587341308594 C 9.527553558349609 467.8587341308594 6.262997627258301 466.5065307617188 3.807553291320801 464.0511779785156 C 1.352219820022583 461.5958557128906 -2.360025973757729e-06 458.331298828125 -2.360025973757729e-06 454.8591918945312 L -2.360025973757729e-06 103.3013000488281 L 125.2683334350586 78.69607543945312 C 128.9395599365234 77.97463226318359 132.1129913330078 75.85218811035156 134.2039947509766 72.71952056884766 C 136.2949981689453 69.58707427978516 137.0536651611328 65.81918334960938 136.3402252197266 62.10996246337891 L 124.3925552368164 7.478841143893078e-05 L 876.9996337890625 7.478841143893078e-05 C 880.4719848632812 7.478841143893078e-05 883.7364501953125 1.352297067642212 886.1915283203125 3.807630300521851 C 888.64697265625 6.262963771820068 889.9993286132812 9.527407646179199 889.9993286132812 12.99962997436523 L 889.9993286132812 454.8591918945312 C 889.9993286132812 458.3314208984375 888.64697265625 461.5958557128906 886.1915283203125 464.0511779785156 C 883.7364501953125 466.5065307617188 880.4719848632812 467.8587341308594 876.9996337890625 467.8587341308594 Z">
        </path>
      </svg>
      <div id="addproducticon"></div>
    </div>
    <input type="text" class="addcustomproductinput" placeholder="eggs">
    <input type="text" class="addcustomproductammountinput" placeholder="10 pieces">
    <input type="text" class="addcustomproductdays" placeholder="3">
    <input type="text" class="addcustomproducthours" placeholder="10">


    <div id="Product_Name_">
      <span>Product Name:</span>
    </div>
    <div id="Product_Ammount_">
      <span>Product Ammount:</span>
    </div>
    <div id="Product_Type_">
      <span>Product Type:</span>
    </div>
    <div id="Expiration">
      <span>Expiration</span>
    </div>
    <div id="Days">
      <span>Days</span>
    </div>
    <div id="Hours">
      <span>Hours</span>
    </div>

    <button class="applycustomproduct">APPLY</button>
   
    <div id="Custom_Product">
      <span>Custom Product</span>
    </div>

    <div id="BakeryCat">
      <div id="Bakery">
        <span>Bakery</span>
      </div>
      <div class="background-of-categories"></div>
      <button class="bakerybutton"></button>
    </div>

    <div id="FishCat">
      <div id="Fish">
        <span>Fish</span>
      </div>
      <div class="background-of-categories"></div>
      <button class="fishesbutton"></button>
    </div>

    <div id="MeatCat">
        <div id="Meat">
          <span>Meat</span>
        </div>
        <div class="background-of-categories"></div>
        <button class="meatbutton"></button>
    </div>

    <div id="DairyCat">
        <div id="Dairy">
          <span>Dairy</span>
        </div>
        <div class="background-of-categories"></div>
        <button class="dairybutton"></button>
    </div>
    <div id="FruitsCat">

        <div id="Fruits">
          <span>Fruits</span>
        </div>
        <div class="background-of-categories"></div>
        <div class="fruitsbutton"></div>
    </div>


    <div id="VegesCat">
 
        <div id="Veges">
          <span>Veges</span>
        </div>      
        <div class="background-of-categories"></div>
        <div class="vegesbutton"></div>

    </div>

    <div id="BeveragesCat">
      
        <div id="Beverages">
          <span>Beverages</span>
        </div>
        <div class="background-of-categories"></div>
        <div class="beveragesbutton"></div>
    </div>


    <div id="CoffeeCat">

        <div id="Coffee">
          <span>Coffee</span>
        </div>
        <div class="background-of-categories"></div>
        <div class="coffeebutton"></div>
      </div>
      
  </div> -->


<!-- CarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarouselCarousel-->