#notificationbox{
    position:absolute;
    width:544px;
    height:137px;
    left:368px;
    top:0px;
    background-color:#F5FF81;
    border:none;
    box-shadow:9px 8px 4px;
    border-radius:16px;
}
#warning-icon{
 position:absolute;
 background-image: url(../../tablet/images/menuBarIcons/allproducts/warning.svg);
 background-size:contain;
 background-repeat: no-repeat; 
 left: 25px;
    top: 30px;
    width: 68px;
    height: 64px;

}

#push-source{
    position: fixed;
    left: 536px;
    top: 29px;
    font-size:25px;
}
#push-message{
    position: fixed;
    left: 587px;
    top: 59px;
    font-size: 18px;

}
#push-notifications{
    position: fixed;
    left: 534px;
    top: 105px;
    font-size: 18px;
}

#notification_list{
    height:200px;
    width:18%;
    overflow:hidden;
    overflow-y:scroll;

    list-style: none;
}

#minusbtn{
background-color: #fdf5db;
border-radius: 9px;
width: 45px;
height: 26px;
border:none;
}

#plusbtn{
    background-color: #fdf5db;
    border-radius: 9px;
    width: 45px;
    height: 26px;
    border:none;
}
.fa-minus{
    color:#006F61;
}
.fa-plus{
    color:#006F61;
}
#inputpm{
overflow: visible;
background-color: transparent;
border: none;
text-align: center;
}



#background-of-product-mini {
    position: absolute;
    width: 374px;
    height: 119px;
    left: 59px;
    top: 190px;
    overflow: visible;
    background-color:#5DAA3B;
    border-radius:14px;
}
#Cheece_Graviera-mini {
    position: absolute;
    left: 61px;
    top: 9px;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(29,54,52,1);
}
#product-1-mini {
    position: absolute;
    width: 69px;
    height: 60px;
    left: 10px;
    top: 51px;
    overflow: visible;
}
.product_background-mini {
    position: absolute;
    overflow: visible;
    width: 69px;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
}
#cheese_img-mini {
    position: absolute;
    width: 57px;
    height: 51px;
    left: 7px;
    top: 4px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/cheese@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#Availability-mini {
    position: absolute;
    width: 72px;
    height: 61px;
    left: 100px;
    top: 50px;
    overflow: visible;
}
#availability_background-mini {
    opacity: 0.711;
}
.availability_background-mini {
    position: absolute;
    width: 72px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;

}
#run_out_product_icon-mini {
    position: absolute;
    width: 36px;
    height: 34px;
    left: 18px;
    top: 18px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/run-out-product-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#Availability_-mini {
    position: absolute;
    left: 18px;
    top: 5px;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(29,54,52,1);
}
#Expiration-mini {
    position: absolute;
    width: 73px;
    height: 61px;
    left: 195px;
    top: 50px;
    overflow: visible;
}
#expiration_background-mini {
    opacity: 0.711;
}
.expiration_background-mini {
    position: absolute;
    overflow: visible;
    width: 73px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
   
}
#Expiration-text-mini {
    position: absolute;
    left: 20px;
    top: 5px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(29,54,52,1);
}
.expiration-img-mini {
    overflow: visible;
    position: absolute;
    width: 36.083px;
    height: 36.128px;
    left: 18px;
    top: 18.081px;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/expiration-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}


#Ammount-mini {
    position: absolute;
    width: 72px;
    height: 61px;
    left: 293px;
    top: 50px;
    overflow: visible;
}
#product_background_bf-mini {
    opacity: 0.711;
}
.ammount-background-mini {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
}
#Ammount_bg-mini {
    position: absolute;
    left: 19px;
    top: 5px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(29,54,52,1);
}
.ammount-img-mini {
    overflow: visible;
    position: absolute;
    width: 35.562px;
    height: 36.128px;
    left: 18px;
    top: 18.081px;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/ammount-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}
#tags {
    position: absolute;
    width: 44px;
    height: 15px;
    left: 365px;
    top: 206px;
    overflow: visible;
}
.diary_background {
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 15px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    border:none;
    border-radius:10px;

}
#DIARY {
    position: absolute;
    left: 8px;
    top: 1px;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: rgba(29,54,52,1);
}


#while-product-is-open{
    position: absolute;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    --web-view-name: productforproduct;
    --web-view-id: productforproduct;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
     transform: 0.3s ease-in-out;
}
#Path_42 {
    opacity: 0.848;
}
.background-opacity {
    overflow: visible;
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    background-color:#003325;
    opacity: 0.848;
}
#Subtraction_3 {
    opacity: 0.711;
}
.Subtraction_3 {
    filter: drop-shadow(9px 10px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 908px;
    height: 482px;
    left: 195px;
    top: 173px;
    transform: matrix(1,0,0,1,0,0);
}
#Cheece_Graviera {
    position: absolute;
    left: 463px;
    top: 190px;
    overflow: visible;
    width: 356px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
}
#product {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 214px;
    top: 183px;
    overflow: visible;
}
#cheese {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/cheese@2x.png);
    background-repeat: no-repeat;
    background-size:contain;
}
#topGroup {
    position: absolute;
    width: 631px;
    height: 145px;
    left: 325px;
    top: 296px;
    overflow: visible;
}

// Availability 

#availability_background {
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 145px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;

}
.run_out_product_icon{
    position: absolute;
    width: 86px;
    height: 81px;
    left: 43px;
    top: 43px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/run-out-product-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}
.run_out_on_hover{
    position: absolute;
left: 25px;
font-size: 72px;
top: 25px;
color: rebeccapurple;
}

#Availability {
    position: absolute;
    left: 46px;
    top: 12px;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}

// Expiration 

#Expiration {
    position: absolute;
    width: 174px;
    height: 145px;
    left: 229px;
    top: 0px;
    overflow: visible;
    border:none;
    background-color:#fdf5db;
    border-radius: 14px;
}

#Expiration-text {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
.expiration-img {
    overflow: visible;
    position: absolute;
    width: 85.806px;
    height: 85.915px;
    left: 42.832px;
    top: 42.905px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/expiration-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}



#Ammount {
    position: absolute;
    width: 171px;
    height: 145px;
    left: 460px;
    top: 0px;
    overflow: visible;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;
}

#Ammount-txt {
    position: absolute;
    left: 33px;
    top: 12px;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
.ammount-img {
    overflow: visible;
    position: absolute;
    width: 84.571px;
    height: 85.915px;
    left: 42.879px;
    top: 42.904px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/ammount-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


#location-background {
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 145px;
    left: 325px;
    top: 461px;
    background-color:#fdf5db;
    border:none;
    border-radius: 14px;
}
#Location-txt {
    position: absolute;
    left: 54px;
    top: 11px;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
#fridge-img {
    position: absolute;
    width: 64.4px;
    height: 77.28px;
    left: 53px;
    top: 46px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/fridge.svg);
    background-size:contain;
    background-repeat: no-repeat;
}


#select-ammount {
    position: absolute;
    width: 174px;
    height: 145px;
    left: 554px;
    top: 461px;
    overflow: visible;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;
}
#Select-Ammount-txt {
    position: absolute;
    left: 23px;
    top: 11px;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}



#buy-product {
    position: absolute;
    width: 171px;
    height: 145px;
    left: 785px;
    top: 461px;
    overflow: visible;
    border:none;
    border-radius:14px;
    background-color:#fdf5db;
}

#buy-product-txt {
    position: absolute;
    left: 37px;
    top: 12px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
#cart-img{
    overflow: visible;
    position: absolute;
    width: 89.294px;
    height: 79.372px;
    left: 37px;
    top: 40px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/cart.svg);
    background-size:contain;
    background-repeat:no-repeat;
}



#exit-icon {
    overflow: visible;
    position: absolute;
    width: 26.449px;
    height: 28.213px;
    left: 1049.236px;
    top: 184.318px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/exit-icon.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
}


#Group_118 {
    position: absolute;
    width: 64.4px;
    height: 77.28px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_117 {
    position: absolute;
    width: 64.4px;
    height: 77.28px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_43 {
    overflow: visible;
    position: absolute;
    width: 28.98px;
    height: 77.28px;
    left: 35.42px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 28.98px;
    height: 77.28px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_68 {
    position: absolute;
    overflow: visible;
    width: 3.22px;
    height: 9.66px;
    left: 12.88px;
    top: 35.42px;
}
.Rectangle_69 {
    position: absolute;
    overflow: visible;
    width: 3.22px;
    height: 9.66px;
    left: 48.3px;
    top: 35.42px;
}


// product details


#background_opacity {
    opacity: 0.848;
}
#background_opacity {
    overflow: visible;
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
    background-color:#003325;
}
#thegreenbackgroundlayer {
    opacity: 0.711;
}
.thegreenbackgroundlayer {
    filter: drop-shadow(9px 10px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 908px;
    height: 482px;
    left: 195px;
    top: 173px;
    transform: matrix(1,0,0,1,0,0);
}
#product_text {
    position: absolute;
    left: 463px;
    top: 190px;
    overflow: visible;
    width: 356px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
}
#product_icon {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 214px;
    top: 183px;
    overflow: visible;
}
#cheese-img-details {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/cheese@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#exit-icon-location {
    overflow: visible;
    position: absolute;
    width: 26.449px;
    height: 28.213px;
    left: 1049.236px;
    top: 184.318px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/exit-icon.svg);
    border:none;
    background-size:contain;
    background-repeat: no-repeat;
}
#fridge_location_group {
    position: absolute;
    width: 644px;
    height: 322px;
    left: 330px;
    top: 278px;
    overflow: visible;
}

#fridge_location_background {
    position: absolute;
    overflow: visible;
    width: 644px;
    height: 322px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;
}
#Fridge_Location {
    position: absolute;
    left: 238px;
    top: 16px;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(29,54,52,1);
}
#fridge {
    position: absolute;
    width: 169.285px;
    height: 203.143px;
    left: 88.157px;
    top: 77.189px;
    overflow: visible;
}
#fridge-img-details {
    position: absolute;
    width: 169.285px;
    height: 203.143px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/fridge-open.svg);
    background-size:contain;
    background-repeat: no-repeat;
}

#cheese_bj {
    position: absolute;
    width: 21.744px;
    height: 18px;
    left: 101px;
    top: 217px;
    overflow: visible;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/cheese_bj@2x.png);
    background-size:contain;
    background-repeat: no-repeat;

}


*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #40e0d0;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}





#Custom_product {
    position: absolute;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    --web-view-name: Custom product;
    --web-view-id: Custom_product;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Path_42 {
    opacity: 0.848;
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_metro_exit {
    overflow: visible;
    position: absolute;
    width: 26.449px;
    height: 28.213px;
    left: 1041.236px;
    top: 219.318px;
    transform: matrix(1,0,0,1,0,0);
}
#background-linear {
    position: absolute;
    width: 889.999px;
    height: 468.063px;
    left: 195px;
    top: 148.539px;
    overflow: visible;
}
#Subtraction_3_ {
    opacity: 0.711;
}
.Subtraction_3_ {
    filter: drop-shadow(9px 10px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 908px;
    height: 486.859px;
    left: 0px;
    top: 0.204px;
    transform: matrix(1,0,0,1,0,0);
}
#addproducticon {
    position: absolute;
    width: 80.791px;
    height: 70.204px;
    left: 18.604px;
    top: 0px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/addproduct-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 80.792px;
    height: 70.204px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.addcustomproductinput {
    position: absolute;
    overflow: visible;
    width: 536px;
    height: 36px;
    left: 374px;
    top: 277px;
    border-radius: 9px;
    border: none;
    padding: 13px;
    font-size: 20px;
}
.addcustomproductammountinput{
    position: absolute;
    overflow: visible;
    width: 536px;
    height: 36px;
    left: 374px;
    top: 349px;
    border-radius: 9px;
    border: none;
    padding: 13px;
    font-size: 20px;
}
.addcustomproductdays {
    position: absolute;
    overflow: visible;
    width: 173px;
    height: 36px;
    left: 457px;
    top: 523px;
    border-radius: 9px;
    border: none;
    padding: 13px;
    font-size: 20px;
}
.addcustomproducthours {
    filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 173px;
    height: 36px;
    left: 654px;
    top: 523px;
    border-radius:9px;
    border:none;
    padding: 13px;
    font-size: 20px;
}

#Product_Name_ {
    position: absolute;
    left: 378px;
    top: 254px;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(29,54,52,1);
}
#Product_Ammount_ {
    position: absolute;
    left: 378px;
    top: 326px;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -14px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(29,54,52,1);
}
#Product_Type_ {
    position: absolute;
    left: 378px;
    top: 396px;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(29,54,52,1);
}
#Expiration {
    position: absolute;
    left: 378px;
    top: 487px;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -14px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(29,54,52,1);
}
#Days {
    position: absolute;
    left: 379px;
    top: 527px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(29,54,52,1);
}
#Hours {
    position: absolute;
    left: 840px;
    top: 527px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(29,54,52,1);
}
.applycustomproduct {
    position: absolute;
    overflow: visible;
    width: 132px;
    height: 60px;
    left: 574px;
    top: 592px;
    background-color:#003325;
    border:none;
    border-radius:9px;
    white-space: nowrap;
    line-height: 62px;
    margin-top: -13px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(249,112,90,1);
}

#Custom_Product {
    position: absolute;
    left: 481px;
    top: 157px;
    overflow: visible;
    width: 360px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
}
#BakeryCat{
    position: absolute;
    width: 39px;
    height: 54px;
    left: 418px;
    top: 418px;
    overflow: visible;
}
#Bakery {
    position: absolute;
    left: 1px;
    top: 39px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}
.bakerybutton {
    position: absolute;
    overflow: visible;
    width: 25px;
    height: 27px;
    left: 7px;
    top: 5px;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/bakery.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;

}

#FishCat {
    position: absolute;
    width: 38px;
    height: 55px;
    left: 530px;
    top: 418px;
    overflow: visible;
}
#Fish {
    position: absolute;
    left: 9px;
    top: 40px;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}

.fishesbutton {
    position: absolute;
    width: 30.606px;
    height: 20.298px;
    left: 3.587px;
    top: 9.72px;
    overflow: visible;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/fish_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}

#MeatCat {
    position: absolute;
    width: 38px;
    height: 54px;
    left: 474px;
    top: 418px;
    overflow: visible;
}

#Meat {
    position: absolute;
    left: 6px;
    top: 39px;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}
.background-of-categories {
    position: absolute;
    overflow: visible;
    width: 38px;
    height: 38px;
    left: 0px;
    top: 0px;
    background-color:white;
    border-radius:38px;
}

.meatbutton {
    position: absolute;
    width: 30.499px;
    height: 18.085px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/meat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    
}

#DairyCat{
    position: absolute;
    width: 39px;
    height: 53px;
    left: 585px;
    top: 418px;
    overflow: visible;
}

#Dairy {
    position: absolute;
    left: 7px;
    top: 38px;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}
.dairybutton {
    overflow: visible;
    position: absolute;
    width: 23.4px;
    height: 24.096px;
    left: 7.823px;
    top: 6.919px;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/diary.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    
}

#FruitsCat {
    position: absolute;
    width: 39px;
    height: 54px;
    left: 642px;
    top: 419px;
    overflow: visible;
}

#Fruits {
    position: absolute;
    left: 5px;
    top: 39px;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}

.fruitsbutton {
    position: absolute;
    width: 31.517px;
    height: 28.126px;
    left: 4.845px;
    top: 6.605px;
    overflow: visible;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/fruits.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}


#VegesCat {
    position: absolute;
    width: 38px;
    height: 54px;
    left: 699px;
    top: 419px;
    overflow: visible;
}

#Veges {
    position: absolute;
    left: 3px;
    top: 39px;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}

.vegesbutton{
    overflow: visible;
    position: absolute;
    width: 23.502px;
    height: 24.259px;
    left: 8.417px;
    top: 4.517px;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/veges.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}

#BeveragesCat{
    position: absolute;
    width: 51px;
    height: 54px;
    left: 803px;
    top: 419px;
    overflow: visible;
}

#Beverages {
    position: absolute;
    left: 0px;
    top: 39px;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}


.beveragesbutton {
    overflow: visible;
    position: absolute;
    width: 15.403px;
    height: 24.563px;
    left: 0px;
    top: 0px;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/drink.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}
#CoffeeCat {
    position: absolute;
    width: 39px;
    height: 54px;
    left: 755px;
    top: 419px;
    overflow: visible;
}
#Coffee {
    position: absolute;
    left: 3px;
    top: 39px;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.37px;
}

.coffeebutton {
    overflow: visible;
    position: absolute;
    width: 30.166px;
    height: 26.036px;
    left: 6.82px;
    top: 2.952px;
    background-color:transparent;
    background-image: url(../../tablet/images/menuBarIcons/allproducts/coffee.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
}
