#menu-background {
  position: absolute;
  width: 612px;
  height: 385px;
  top: 415px;
  border-top-right-radius: 100px;
  background-color: #016f61;
  display: block;
}
#menu-icon {
  position: absolute;
  width: 27px;
  height: 15.75px;
  left: 16.7px;
  top: 439.63px;
  background-image: url("../../images/icons/sp-list/sp-list-v3/menu-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
#filter-icon {
  position: absolute;
  width: 27px;
  height: 18px;
  left: 560px;
  top: 24px;
  background-image: url("../../images/icons/sp-list/sp-list-v3/filter-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#menu-txt {
  position: absolute;
  left: 54px;
  top: 428px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdf5db;
  z-index: 1;
}
#filter-txt {
  position: absolute;
  left: 470px;
  top: 14px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdf5db;
}
