<li  class="list-group-item"><br>
    
    <div id="{{product.product_details.id}}"></div>
     <div  class="list-img"><img [src]="product.img"/></div> 
    <div  class="list-product-txt">{{product.product_details.name}}</div>
    <button (click)=" deleteProduct()" class="remove-product">remove</button>
    <div class="product-ammount">{{product.details.ammount_to_buy}}</div>
    <div class="product-category">{{product.details.category}}</div>
    <div class="product-tags">{{product.details.tags}}</div>
    
</li>

