body{
    background-color:#384043;
    background-size: 1280px 800px;
}
#left-side-login{
  position:absolute;
  width:540px;
  height:800px;
  background-color:#168075;
}
#right-side-login{
  position:absolute;
  left:540px;
  width:740px;
  height:800px;
  background-color:#fdf5db;
}
#loginpage-logo{
  position:absolute;
  width:250px;
  height: 250px;
  top:247px;
  left:140px;
  background-image: url('../images/icons/loginpage/loginpage-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.slide-position{
  position:absolute;
  top:471px;
  right:-48px;
}
.slide-right {
  color:white;
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px
}
.logo-txt{
  font-size:3rem;
}
.slide-right h2 {
  animation: 0.5s slide-right 2s forwards;
  transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}
.sign-in-txt{
  position: absolute;
  font-size: 3rem;
  font-family: archivo;
  top: 100px;
  left: 97px;
  color: #344a5e;
}

#login-text-1{
    position:relative;
    color:#344a5e;
    font-size:1.6rem;
    left:80px;
}

#login-form{
    position:absolute;
    top:225px;
    left:97px;
}

#login-username{
  width: 206%;
  padding: 15px 28px;
  margin: 16px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 7px solid #f5997b;
  color:#fdf5db;
}
#login-password{
  width: 206%;
  padding: 15px 28px;
  margin: 16px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 7px solid #f5997b;
  color:#fdf5db;
}
.btn {
    border: none;
    background-color: inherit;
    color: #FFFCF2;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

.login-checkbox-text{
  font-size:1rem;
  color:#344a5e;

}
#login-submit{
  width: 206%;
  padding: 15px 28px;
  margin: 35px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 7px solid #168075;
  color:#fdf5db;
}

.container {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top:3px;
  color:#344a5e;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 37px;
  width: 37px;
  background-color: #344a5e;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f5997b;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f5997b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 16px;
  top: 8px;
  width: 8px;
  height: 17px;
  border: solid #168075;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forget-password{
  position: relative;
  left: 353px;
  font-size: 22px;
  top: 3px;
  margin-top: -47px;
  color:#344a5e;
}
