
<div id="login-page">
  <div id="left-side-login">
  <div id="loginpage-logo"></div>
    <div class="slide-right slide-position">
      <h2 class="logo-txt">Welcome to SIM!</h2>
    </div>
  </div>
<div id="right-side-login">
  <p class="sign-in-txt">Sign in to SIM</p>

  <div id="login-form" >

          <input type="text" class="login-username-background-color" id="login-username" name="Username" placeholder="Username" value="m.morrison@sim.com"><br><br>
          <input type="password" class="login-password-background-color" id="login-password" name="Password" placeholder="Password" value="Secret"><br><br>
          <label class="container">Remember Me
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>

          </label>
           <p class="forget-password">Forgot Password?</p>
          <button (click)="login()" class="login-button-background-color" type="submit" id="login-submit" value="LOGIN">LOGIN</button>
          <br>
          <br>
          <br>
          <!-- <a [routerLink]="['/test']" rel="noopener">REDIRECT</a> -->

          <!-- <button (click)="goToPage('dashboard')" >Goto dashboard</button> -->
          <!-- </form> -->
        </div>
</div>
</div>




