<ami-fullstack-menubar></ami-fullstack-menubar>
<div id="go-shopping-container">
  
  <div id="go-shopping-product-list" *ngIf="showGoShoppingList">

    <div id="go-shopping-product-list" *ngIf="showGoShoppingList">
      <ul class="list-group" *ngFor="let gsProd of goShoppingProducts$">
        <div class="panel-heading">
          <ami-fullstack-spl-mobile-item [product]="gsProd" (click)="addToCart(gsProd)">
          </ami-fullstack-spl-mobile-item>
        </div>
	</ul>
    </div>

	<button id="button-to-open-filters" (click)="redirect('cart-mobile')"></button>

	<button (click)="openTheForm()" id="button-to-open-form"></button>
  </div>