#go-shopping-container {
    background-color:#fdf5db;
    width:1280px;
    height:800px;
  }
  #go-shopping-product-list{
    position:relative;
    top: 34px;
    height: 312px;
  }
  #product1 {
    position: absolute;
    left: 29px;
    top: 122px;
  }
  #product2 {
    position: absolute;
    left: 449px;
    top: 122px;
  }
  #product3 {
    position: absolute;
    left: 869px;
    top: 122px;
  }
  #product4 {
    position: absolute;
    left: 29px;
    top: 273px;
  }
  #product5 {
    position: absolute;
    left: 449px;
    top: 273px;
  }
  #thebackground {
    position: absolute;
    width: 377.49px;
    height: 131px;
    opacity: 71%;
    background-color: #5daa3b;
    border-radius: 10px;
  }
  #pr-background {
    position: absolute;
    left: 9px;
    top: 8px;
    width: 134px;
    height: 115px;
    opacity: 71%;
    background-color: #fdf5db;
    border-radius: 10px;
  }

  .pr1-positioning {
    position: relative;
    left: 163px;
    top: -29px;
  }
  
  .product-txt {
    font-size: 25px;
    color: #fdf5db;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pr1-brand-positioning {
    position: absolute;
    left: 164px;
    top: 45px;
  }
  
  
  
  .product-brand-txt {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #344a5e;
  }
  #button-to-open-filters{
    position:absolute;
    left:28px;
    top:699px;
    width:67px;
    height:67px;
    background-color:red;
    background-size:contain;
    background-repeat: no-repeat;
    border:none;
}
  #button-to-open-form{
    position:absolute;
    left:28px;
    top:788px;
    width:67px;
    height:67px;
    background-color:blue;
    background-size:contain;
    background-repeat: no-repeat;
    border:none;
}
//   .minus-btn {
//     position: absolute;
//     width: 45px;
//     height: 26px;
//     left: 164px;
//     top: 93px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-image: url("./../../images/icons/sp-list/sp-list-v3/minus-button.png");
//     border: none;
//   }
//   .plus-btn {
//     position: absolute;
//     width: 45px;
//     height: 26px;
//     left: 316px;
//     top: 93px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-image: url("./../../images/icons/sp-list/sp-list-v3/plus-button.png");
//     border: none;
//   }
  .how-much-kg {
    position: absolute;
    left: 241px;
    top: 97px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #344a5e;
  }
  
  
  #search-box-mini{
    position:absolute;
    top:137px;
    left:0px;
    width:1280px;
    height: 30px;
    background-color:#F9705A;
    display:block;
  }
  #search-box-open{
    position:absolute;
    top:137px;
    left:0px;
    width:1280px;
    height: 61px;
    background-color:#F9705A;
    display:none;
  }
  form.search-legit input[type=text] {
    position: relative;
      top: 3px;
      left: 34px;
      font-size: 25px;
      border: none;
      border-bottom: 4px solid #fdf5db;
      float: left;
      width: 90%;
      background: #F9705A;
      padding: 3px;
      margin-right: -4px;
      color:#fdf5db
  }
  form.search-legit button {
    position:absolute;
    width:30px;
    height: 30px;
    color: #fdf5db;
    font-size: 17px;
  }
  .fa{
    position: absolute;
    top: -7px;
    left: -3px;
    width: 30px;
    height: 46px;
    color: #fdf5db;
    font-size: 36px;
  }
  #search-coloring{
    position: absolute;
    color: #fdf5db;
    left: 600px;
    font-size: 25px;
    top: -4px;
  }
  
  
    
  
  