

#plus-button-while-is-open-for-details{
    background-color: transparent;
    border: none;
    font-size: 54px;
    position: absolute;
    left: +105px;
    top: -2px;
}
.pos{
    top:-55px;
    position:absolute;
}
#minus-button-while-is-open-for-details{
    background-color: transparent;
    border: none;
    font-size: 54px;
    position: absolute;
    left: -76px;
    top: -2px;
}
.add-ammount-while-is-open-for-details{
    background-color: transparent;
    border: none;
    font-size: 31px;
    position: absolute;
    left: -2px;
    top: 18px;
    color: red;
}

#while-a-product-is-open-for-details{
    position: absolute;
    top: -193px;
    z-index: 8;
    left: -11px;
}
#plusminus-btn{
    position:absolute;
    left:160px;
    top:568px;
    z-index:11;
}
#product-category-while-is-open-for-details{
    position:absolute;
    width:88px;
    height: 33px;
    top:521px;
    left:254px;
    background-color:#006F61;
    background-repeat: no-repeat;
    background-size: contain;
    border:none;
    color:white;
    z-index:11;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    border-radius: 8px;
}
#product-name-while-is-open-for-details{
    position:absolute;
    left:72px;
    top:468px;
    width:271px;
    height: 47px;
    font-size:40px;
    font-family: Big Caslon;
    color: #1D3634;
    z-index:11;
}
#product-ammount-while-is-open-for-details{
    position:absolute;
    left:74px;
    top:515px;
    width:80px;
    height: 39px;
    font-size:31px;
    color: #006F61;
    z-index:11;
}

#thebackground-while-is-open-for-details{
    position:absolute;
    left:10px;
    top:193px;
    width:394px;
    height: 488px;
    box-shadow: 0px 5px 6px;
    border-radius:19px;
    background-color:white;
    z-index:10;
}



.list-group-item{
    position:relative;
    width:395px;
    height: 104px;
    left: -6px;
    top: 94px;
    box-shadow: 0px 5px 6px;
    border-radius: 6px;
    left: -6px;
    top: 151px;
    //top:94px;
}
.list-product-txt{
    position:relative;
    left: 120px;
    top: -15px;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    // color: rgba(29,54,52,1);
    color:black;
}
.remove-product{
    position: relative;
    bottom: 80px;
    left: 304px;
    background-color: transparent;
    border: none;
    font-family: Didot;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgb(245, 112, 90);
}
.product-ammount{
    positioN: relative;
    bottom: 49px;
    left: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(29,54,52,1);
}

.product-category{
    position: absolute;
    top: 60px;
    left: 133px;
    background-color: yellowgreen;
    border-radius: 3px;
    padding: 2px 13px 2px 12px;
    color: darkgreen;
}
.product-tags{
    position: absolute;
    top: 60px;
    left: 200px;
    background-color: yellowgreen;
    border-radius: 3px;
    padding: 2px 13px 2px 12px;
    color: darkgreen;
}
