<ami-fullstack-menubar></ami-fullstack-menubar>
<div class="pos" *ngIf="show">
    <div  *ngFor="let p of cartProducts$">
        <div class="panel-heading">  
    

                <li  class="list-group-item"><br>
                    
                    
                    <!-- <div  class="list-img"><img [src]="product.img"/></div>  -->
                    <div class="list-product-txt">{{p.name}}</div>
                    <div class="product-ammount"></div>
                    <div class="product-category"></div>
                    <div class="product-tags"></div>
                    
                </li>
        </div> 
    </div>
</div>

