<ami-fullstack-top-side-bar-recurring></ami-fullstack-top-side-bar-recurring>
<ami-fullstack-menu-bar-recurring></ami-fullstack-menu-bar-recurring>


<div id="shopping-list-page">
  <div id="shopping-list-background-product1">
    <div id="shopping-list-product1"></div>
    <p id="shopping-list-product1-txt-name">Caffe Illy</p>
    <p id="shopping-list-product1-txt-price">12.70$ - 6 packs</p>
    <!-- <p id="shopping-list-product1-txt-category">6 packs</p> -->
  </div>

  <div id="shopping-list-background-product4">
    <div id="shopping-list-product4"></div>
    <p id="shopping-list-product4-txt-name">Lacta Buisquit</p>
    <p id="shopping-list-product4-txt-price">13.70$ - 5 kg</p>
  </div>
  <div id="shopping-list-background-product5">
    <div id="shopping-list-product5"></div>
    <p id="shopping-list-product5-txt-name">Coca Cola 1.5L</p>
    <p id="shopping-list-product5-txt-price">10.70$ - 4 btls</p>
  </div>

</div>

<div id="shopping-list-page-minimized">
  <div id="shopping-list-background-product1-mini">
    <div id="shopping-list-product1-mini"></div>
    <p id="shopping-list-product1-txt-name-mini">Coffee Illy</p>
    <p id="shopping-list-product1-txt-price-mini">3.70$ - 1pack</p>
  </div>

  <div id="shopping-list-background-product4-mini">
    <div id="shopping-list-product4-mini"></div>
    <p id="shopping-list-product4-txt-name-mini">Croissant Folie</p>
    <p id="shopping-list-product4-txt-price-mini">12.70$ - 6 packs</p>
  </div>
  <div id="shopping-list-background-product5-mini">
    <div id="shopping-list-product5-mini"></div>
    <p id="shopping-list-product5-txt-name-mini">Chichen Mimikos</p>
    <p id="shopping-list-product5-txt-price-mini">2.70$ - 1 pack</p>
  </div>


</div>
