// body{
//   background-color:#FFFCF2;
//   background-size: 1280px 800px;
// }

// #shopping-list-page{
//   position:relative;
//   display:block;
//   right:0px;
// }
// #shopping-list-background-product1{
//   position:absolute;
//   top:160px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product2{
//   position:absolute;
//   top:390px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product3{
//   position:absolute;
//   top:620px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product4{
//   position:absolute;
//   top:160px;
//   left:380px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product5{
//   position:absolute;
//   top:160px;
//   left:680px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product6{
//   position:absolute;
//   top:160px;
//   left:980px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product7{
//   position:absolute;
//   top:390px;
//   left:380px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product8{
//   position:absolute;
//   top:390px;
//   left:680px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product9{
//   position:absolute;
//   top:390px;
//   left:980px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }





// /*---------------------------------------------------------------------
// -----------------------------------------------------------------------
// ------------------------ P R O D U C T S ------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------*/
// #shopping-list-product1{
//   position:relative;
//   left:61px;
//   top:10px;
//   width:480px;
//   height:131px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/coffee-recurring.png');
// }
// #shopping-list-product2{
//   position:relative;
//   left:87px;
//   top:20px;
//   width:170px;
//   height:109px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/sugar-recurring.png');
// }
// #shopping-list-product4{
//   position:relative;
//   left:32px;
//   top:37px;
//   width:188px;
//   height:120px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/chocolate-favourite.png');
// }
// #shopping-list-product5{
//   position:relative;
//   left:66px;
//   top:20px;
//   width:150px;
//   height:111px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/coca_cola_1_5ltr.png');
// }
// #shopping-list-product7{
//   position:relative;
//   left:67px;
//   top:20px;
//   width:150px;
//   height:109px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/mimikos.png');
// }
// #shopping-list-product6{
//   position:relative;
//   left:50px;
//   top:20px;
//   width:150px;
//   height:120px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/gouda.png');
// }
// #shopping-list-product8{
//   position:relative;
//   left:50px;
//   top:20px;
//   width:150px;
//   height:120px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/milk-recurring.png');
// }

// /*---------------------------------------------------------------------
// -----------------------------------------------------------------------
// ------------------------ T E X T --------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------*/
// #shopping-list-product1-txt-name{
//   position:absolute;
//   left:82px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product1-txt-price{
//   position:absolute;
//   left:60px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product2-txt-name{
//   position:absolute;
//   left:60px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product2-txt-price{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product3-txt-name{
//   position:absolute;
//   left:44px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product3-txt-price{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product4-txt-name{
//   position:absolute;
//   left:57px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product4-txt-price{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product5-txt-name{
//   position:absolute;
//   left:78px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product5-txt-price{
//   position:absolute;
//   left:78px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product6-txt-name{
//   position:absolute;
//   left:60px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product6-txt-price{
//   position:absolute;
//   left:73px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product7-txt-name{
//   position:absolute;
//   left:43px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product7-txt-price{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product8-txt-name{
//   position:absolute;
//   left:45px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product8-txt-price{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product9-txt-name{
//   position:absolute;
//   left:45px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product9-txt-price{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }


// /*---------------------------------------------------------------------
// -----------------------------------------------------------------------
// ------------------- MINIMIZED -----------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------*/




// #shopping-list-page-minimized{
//   position:absolute;
//   left:130px;
//   display:none;
// }

// #shopping-list-background-product1-mini{
//   position:absolute;
//   top:160px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-product1-mini{
//   position:relative;
//   left:35px;
//   top:10px;
//   width:480px;
//   height:150px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/coffee-recurring.png');
// }
// #shopping-list-background-product2-mini{
//   position:absolute;
//   top:390px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product3-mini{
//   position:absolute;
//   top:620px;
//   left:80px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product4-mini{
//   position:absolute;
//   top:160px;
//   left:465px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product5-mini{
//   position:absolute;
//   top:160px;
//   left:850px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product6-mini{
//   position:absolute;
//   top:620px;
//   left:465px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// #shopping-list-background-product7-mini{
//   position:absolute;
//   top:390px;
//   left:465px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product8-mini{
//   position:absolute;
//   top:390px;
//   left:850px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }
// #shopping-list-background-product9-mini{
//   position:absolute;
//   top:620px;
//   left:850px;
//   width:250px;
//   height:200px;
//   background-color:#CBE6E9;
//   border-radius:15px;
// }

// /*---------------------------------------------------------------------
// -----------------------------------------------------------------------
// ------------------- PRODUCTS MINIMIZED -----------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------*/


// #shopping-list-product1-mini{
//   position:relative;
//   left:61px;
//   top:10px;
//   width:480px;
//   height:131px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../../images/icons/sp-list/coffee-recurring.png');
// }
// #shopping-list-product2-mini{
//   position:relative;
//   left:74px;
//   top:20px;
//   width:170px;
//   height:111px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/sugar-recurring.png');
// }
// #shopping-list-product3-mini{
//   position:relative;
//   left:50px;
//   top:20px;
//   width:150px;
//   height:120px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/milk-recurring.png');
// }
// #shopping-list-product4-mini{
//   position:relative;
//   left:32px;
//   top:37px;
//   width:188px;
//   height:120px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/chocolate-favourite.png');
// }
// #shopping-list-product5-mini{
//   position:relative;
//   left:74px;
//   top:20px;
//   width:150px;
//   height:111px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/coca_cola_1_5ltr.png');
// }
// #shopping-list-product7-mini{
//   position:relative;
//   left:67px;
//   top:20px;
//   width:150px;
//   height:109px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/gouda.png');
// }
// #shopping-list-product8-mini{
//   position:relative;
//   left:75px;
//   top:20px;
//   width:200px;
//   height:110px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('../../images/icons/sp-list/mimikos.png');
// }


// /*---------------------------------------------------------------------
// -----------------------------------------------------------------------
// ------------------- TEXT MINIMIZED -----------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------*/
// #shopping-list-product1-txt-name-mini{
//   position:absolute;
//   left:82px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product1-txt-price-mini{
//   position:absolute;
//   left:74px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product2-txt-name-mini{
//   position:absolute;
//   left:60px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product2-txt-price-mini{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product3-txt-name-mini{
//   position:absolute;
//   left:44px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product3-txt-price-mini{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product4-txt-name-mini{
//   position:absolute;
//   left:57px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product4-txt-price-mini{
//   position:absolute;
//   left:83px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product5-txt-name-mini{
//   position:absolute;
//   left:48.5px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product5-txt-price-mini{
//   position:absolute;
//   left:78px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product6-txt-name-mini{
//   position:absolute;
//   left:60px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product6-txt-price-mini{
//   position:absolute;
//   left:73px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product7-txt-name-mini{
//   position:absolute;
//   left:43px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product7-txt-price-mini{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }

// #shopping-list-product8-txt-name-mini{
//   position:absolute;
//   left:45px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product8-txt-price-mini{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product9-txt-name-mini{
//   position:absolute;
//   left:45px;
//   top:140px;
//   font-size:20px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
// #shopping-list-product9-txt-price-mini{
//   position:absolute;
//   left:80px;
//   top:170px;
//   font-size:14px;
//   font-family: archivo_bold;
//   color:#003A3E;
// }
