// #topside-user-board{

// }
#topside-user-board-logo{
  position:absolute;
  left:80px;
  background-image: url('../../images/icons/sp-list-top-sidebar/logo_for_top_bar.png') !important;
  width:80px;
  height:80px;
  background-repeat:no-repeat;
  background-size:contain;
}
#topside-user-board-container{
  position:absolute;
  top:90px;
  left:80px;
  width:1150px;
  height:50px;
  background-size: 520px 340px;
  background-color: #31CF99;
  opacity: 0.3;
  border-radius: 10px;
}
#topside-user-board-profile{
  position:absolute;
  top:15px;
  left:1150px;
  width:60px;
  height:60px;
  background-size: 50px 50px;
  background-color: #31CF99;
  border-radius: 30px;
}
#topside-user-board-profile-txt{
  position:absolute;
  font-size:18px;
  font-family: archivo;
  top:33.5px;
  left:1020px;
}
#topside-user-board-txt{
  position:absolute;
  font-size:25px;
  font-family:archivo_bold;
  top:33.5px;
  left:540px;
  color:#026C82;
}
#topside-user-board-txt-what-is-open{
  position:absolute;
  font-size:25px;
  top:97px;
  left:625px;
  color:#026C82;
}
#topside-user-board-txt-where_am_i{
  position:absolute;
  font-size:21px;
  top:97px;
  left:90px;
  color:#026C82;
}
#topside-user-board-notifi-icon{
  position:absolute;
  top:10px;
  left:785px;
  background-image: url('../../images/icons/sp-list-top-sidebar/info.png') !important;
  width:30px;
  height:30px;
  background-repeat:no-repeat;
  background-size:contain;

}

#topside-user-board2{
  display:none;
}

#topside-user-board-logo2{
  position:absolute;
  left:210px;
  background-image: url('../../images/icons/sp-list-top-sidebar/logo_for_top_bar.png') !important;
  width:80px;
  height:80px;
  background-repeat:no-repeat;
  background-size:contain;
}
#topside-user-board-container2{
  position:absolute;
  top:90px;
  left:210px;
  width:1000px;
  height:50px;
  background-size: 520px 340px;
  background-color: #31CF99;
  opacity: 0.3;
  border-radius: 10px;
}
#topside-user-board-profile2{
  position:absolute;
  top:15px;
  left:1150px;
  width:60px;
  height:60px;
  background-size: 50px 50px;
  background-color: #31CF99;
  border-radius: 30px;
}
#topside-user-board-profile-txt2{
  position:absolute;
  font-size:18px;
  font-family: archivo;
  top:33.5px;
  left:1020px;
}
#topside-user-board-txt-what-is-open2{
  position:absolute;
  font-size:25px;
  top:97px;
  left:611px;
  color:#026C82;
}
#topside-user-board-txt-where-am-i2{
  position:absolute;
  font-size:21px;
  top:97px;
  left:217px;
  color:#026C82;
}
#topside-user-board-txt-notification2{
  position:absolute;
  font-size:20px;
  font-family:archivo_bold;
  top:33.5px;
  left:470px;
  color:#026C82;
}
#topside-user-board-notifi-icon2{
  position:absolute;
  top:10px;
  left:880px;
  background-image: url('../../images/icons/sp-list-top-sidebar/info.png') !important;

  width:30px;
  height:30px;
  background-repeat:no-repeat;
  background-size:contain;

}
