<!-- While menu leftside bar menu is Closed -->
<div id="topside-user-board">
  <div id="topside-user-board-logo"></div>
  <div id="topside-user-board-container"></div>
  <div id="topside-user-board-profile"></div>
  <p id="topside-user-board-profile-txt">Marc Morison</p>
  <p id="topside-user-board-txt">You need to Checkout the Waste Manager</p>
  <p id="topside-user-board-txt-what-is-open">Recurring Products</p>
  <p id="topside-user-board-txt-where_am_i">Shopping List</p>
  <div id="topside-user-board-notifi-icon"></div>
</div>

<!-- While menu leftside bar menu is opened -->
<div id="topside-user-board2">
  <div id="topside-user-board-logo2"></div>
  <div id="topside-user-board-container2"></div>
  <div id="topside-user-board-profile2"></div>
  <p id="topside-user-board-profile-txt2">Marc Morison</p>
  <p id="topside-user-board-txt-notification2">You need to Checkout the Waste Manager</p>
  <p id="topside-user-board-txt-what-is-open2">All Products</p>
  <p id="topside-user-board-txt-where-am-i2">Super Market</p>
  <div id="topside-user-board-notifi-icon2"></div>
</div>


