<ami-fullstack-menubar></ami-fullstack-menubar>
<div id="kitchen-cabbinets-container">

  <div (click)="closeSearchBar()" id="search-box-open">
    <form class="search-legit" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" style="
            position: relative;
            left: 62px;
            top: 15px;
            background-color: transparent;
            border: none;
        "><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div id="prouductsContainer" *ngIf="haveProducts">
    <div id="cabbinets-products-list">
      <ul class="list-group" *ngFor="let product of productsArray$">
        <div class="panel-heading">
          <ami-fullstack-spl-mobile-item [product]="product">
          </ami-fullstack-spl-mobile-item>
        </div>
     </ul>
    </div>
  </div>

</div>