#sp-list-top-side-bar-control {
  background-color: #fdf5db;
  background-size: 1280px 800px;
}
#top-side-bar-background {
  position: absolute;
  width: 1280px;
  height: 140px;
  background-color: #006f61;
}
#top-side-bar-logo {
  position: absolute;
  width: 91px;
  height: 77px;
  left: 29px;
  top: 29px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../images/icons/loginpage/loginpage-logo.png");
}
#top-side-bar-where-am-i {
  position: absolute;
  top:76px;
  left: 113px;
  font-size: 25px;
  font-family: helvetica;
  color: #fdf5db;
}
#TimeDateClock-txt{
  position:absolute;
  left:463px;
  top:89px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:24px;
  color:#fdf5db;

}
.alert-icon {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../images/icons/sp-list/sp-list-v3/alert-icon.png");
  width: 30px;
  height: 30px;
  left: 448px;
  top: 35px;
}
#notification-txt {
  position: absolute;
  left: 488px;
  top: 38px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdf5db;
}
#user-name {
  position: absolute;
  left: 991px;
  top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fdf5db;
}
#search-button {
  position: absolute;
  left: 1035px;
  top: 66px;
  width: 35px;
  height: 27px;
  background-image: url("../../../images/icons/sp-list/sp-list-v3/search-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
}
#notification-button {
  position: absolute;
  left: 1040px;
  top: 57px;
  width: 64px;
  height: 55px;
  background-image: url("../../../images/icons/sp-list/sp-list-v3/notif-icon@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
}
#user-profile {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 1151.34px;
  top: 15px;
  border-radius: 105px;
  background-color: transparent;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
}

