<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>

<div id="fav-products-container" *ngIf="showFavProducts">
    <ul>
        <li *ngFor="let favProd of favouriteProducts$.products">
            <!-- <ami-fullstack-notification-item [notification] = favProd></ami-fullstack-notification-item> -->
            <ami-fullstack-favourite-product-item [product]="favProd"></ami-fullstack-favourite-product-item>
        </li>
    </ul>
</div>
