body{
    background-color:#006f61;
}
#FilterCat {
    position: fixed;
    top: -302px;
    left: -320px;
}  
    #backonclick{
        position:absolute;
        width:414px;
        height: 237px;
        background-color:#006f61;
        border-bottom-left-radius: 76px;
border-bottom-right-radius: 76px;
    }  
    #allproductsCat{
        position: absolute;
        width: 39px;
        height: 54px;
        left: 358px;
        top: 418px;
        overflow: visible;
    }
    #allproducts {
        position: absolute;
        left: 12.5px;
        top: 46px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    .background-of-categories1 {
        position: absolute;
        overflow: visible;
        width: 38px;
        height: 38px;
        left: 0px;
        top: 0px;
        background-color:yellowgreen;
        border-radius:38px;
    }
    .allproductsbutton {
        position: absolute;
        overflow: visible;
        width: 25px;
        height: 27px;
        left: 7px;
        top: 5px;
        background-color:transparent;
        border:none;
        font-size: 15px;
        padding: 0px;
    }

    #BakeryCat{
        position: absolute;
        width: 39px;
        height: 54px;
        left: 430px;
        top: 418px;
        overflow: visible;
    }
    #Bakery {
        position: absolute;
        left: 1px;
        top: 39px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    .bakerybutton {
        position: absolute;
        overflow: visible;
        width: 25px;
        height: 27px;
        left: 7px;
        top: 5px;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/bakery.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    
    }
    
    #FishCat {
        position: absolute;
        width: 38px;
        height: 55px;
        left: 510px;
        top: 418px;
        overflow: visible;
    }
    #Fish {
        position: absolute;
        left: 9px;
        top: 40px;
        overflow: visible;
        width: 21px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    
    .fishesbutton {
        position: absolute;
        width: 30.606px;
        height: 20.298px;
        left: 3.587px;
        top: 9.72px;
        overflow: visible;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/fish_1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    }
    
    #MeatCat {
        position: absolute;
        width: 38px;
        height: 54px;
        left: 474px;
        top: 418px;
        overflow: visible;
    }
    
    #Meat {
        position: absolute;
        left: 6px;
        top: 39px;
        overflow: visible;
        width: 26px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    .background-of-categories {
        position: absolute;
        overflow: visible;
        width: 38px;
        height: 38px;
        left: 0px;
        top: 0px;
        background-color:white;
        border-radius:38px;
    }
    
    .meatbutton {
        position: absolute;
        width: 30.499px;
        height: 18.085px;
        left: 0px;
        top: 0px;
        overflow: visible;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/meat.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
        
    }
    
    #DairyCat{
        position: absolute;
        width: 39px;
        height: 53px;
        left: 585px;
        top: 418px;
        overflow: visible;
    }
    
    #Dairy {
        position: absolute;
        left: 7px;
        top: 38px;
        overflow: visible;
        width: 25px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    .dairybutton {
        overflow: visible;
        position: absolute;
        width: 23.4px;
        height: 24.096px;
        left: 7.823px;
        top: 6.919px;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/diary.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
        
    }
    
    #FruitsCat {
        position: absolute;
        width: 39px;
        height: 54px;
        left: 655px;
        top: 419px;
        overflow: visible;
    }
    
    #Fruits {
        position: absolute;
        left: 5px;
        top: 39px;
        overflow: visible;
        width: 27px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    
    .fruitsbutton {
        position: absolute;
        width: 31.517px;
        height: 28.126px;
        left: 4.845px;
        top: 6.605px;
        overflow: visible;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/fruits.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    }
    
    
    #VegesCat {
        position: absolute;
        width: 38px;
        height: 54px;
        left: 399px;
        top: 489px;
        overflow: visible;
    }
    
    #Veges {
        position: absolute;
        left: 3px;
        top: 39px;
        overflow: visible;
        width: 31px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    
    .vegesbutton{
        overflow: visible;
        position: absolute;
        width: 23.502px;
        height: 24.259px;
        left: 8.417px;
        top: 4.517px;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/veges.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    }
    
    #BeveragesCat{
        position: absolute;
        width: 51px;
        height: 54px;
        left: 643px;
        top: 489px;
        overflow: visible;
    }
    
    #Beverages {
        position: absolute;
        left: 0px;
        top: 39px;
        overflow: visible;
        width: 52px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    
    
    .beveragesbutton {
        overflow: visible;
        position: absolute;
        width: 15.403px;
        height: 24.563px;
        left: 0px;
        top: 0px;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/drink.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    }
    #CoffeeCat {
        position: absolute;
        width: 39px;
        height: 54px;
        left: 521px;
        top: 489px;
        overflow: visible;
    }
    #Coffee {
        position: absolute;
        left: 3px;
        top: 39px;
        overflow: visible;
        width: 32px;
        white-space: nowrap;
        line-height: 14px;
        margin-top: -1px;
        text-align: left;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.37px;
    }
    
    .coffeebutton {
        overflow: visible;
        position: absolute;
        width: 30.166px;
        height: 26.036px;
        left: 6.82px;
        top: 2.952px;
        background-color:transparent;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/coffee.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border:none;
    }


    // KOUMPIA


#running-out-of-products{
    position:absolute;
}

#running-out-of-product-btn{
    position:relative;
    left:0px;
    top:21px;
}
.running-out-of-product-btn{
    

    width:310px;
    height: 59px;
    background-color:#fdf5db;
    border:none;
    border-radius:11px;
    box-shadow:6px 4px 4px;
    font-size:18px;
}
.number-of-submenu-items{
    position: absolute;
    width: 34px;
    height: 33px;
    background: #00453f;
    border-radius: 33px;
    left: 254px;
    top: 15px;
    color: yellowgreen;
    padding: 2.5px;
}

#empty-products{
    position:absolute;
}
.empty-product-btn{
    position: relative;
    width: 310px;
    height: 59px;
    left: 485px;
    top: 287px;
    background-color:#fdf5db;
    border:none;
    border-radius:11px;
    box-shadow:6px 4px 4px;
    font-size:18px;
}
#ellipse-empty-products{
    position: absolute;
    width: 34px;
    height: 33px;
    background: #00453f;
    border-radius: 33px;
    left: 254px;
    top: 15px;
    color: yellowgreen;
    padding: 2.5px;
}

#full-products{
    position:absolute;
}
.full-product-btn{
    position: relative;
    width: 310px;
    height: 59px;
    left: 900px;
    top: 287px;
    background-color:#fdf5db;
    border:none;
    border-radius:11px;
    box-shadow:6px 4px 4px;
    font-size:18px;
}
#ellipse-full-products{
    position: absolute;
    width: 34px;
    height: 33px;
    background: #00453f;
    border-radius: 33px;
    left: 254px;
    top: 15px;
    color: yellowgreen;
    padding: 2.5px;
}



// Running out Category


    #Cheece_Graviera-mini {
        position: absolute;
        left: 61px;
        top: 9px;
        overflow: visible;
        width: 151px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(29,54,52,1);
    }
    #product-1-mini {
        position: absolute;
        width: 69px;
        height: 60px;
        left: 10px;
        top: 51px;
        overflow: visible;
    }
    .product_background-mini {
        position: absolute;
        overflow: visible;
        width: 69px;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #cheese_img-mini {
        position: absolute;
        width: 57px;
        height: 51px;
        left: 7px;
        top: 4px;
        overflow: visible;
        background-image:url(../../tablet/images/menuBarIcons/allproducts/cheese@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #Availability-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 100px;
        top: 50px;
        overflow: visible;
    }
    #availability_background-mini {
        opacity: 0.711;
    }
    .availability_background-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    
    }
    #run_out_product_icon-mini {
        position: absolute;
        width: 36px;
        height: 34px;
        left: 18px;
        top: 18px;
        overflow: visible;
        // background-image:url(../../tablet/images/menuBarIcons/allproducts/run-out-product-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #Availability_-mini {
        position: absolute;
        left: 18px;
        top: 5px;
        overflow: visible;
        width: 38px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    #Expiration-mini {
        position: absolute;
        width: 73px;
        height: 61px;
        left: 195px;
        top: 50px;
        overflow: visible;
    }
    #expiration_background-mini {
        opacity: 0.711;
    }
    .expiration_background-mini {
        position: absolute;
        overflow: visible;
        width: 73px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
       
    }
    #Expiration-text-mini {
        position: absolute;
        left: 20px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .expiration-img-mini {
        overflow: visible;
        position: absolute;
        width: 36.083px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/expiration-icon.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    
    
    #Ammount-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 293px;
        top: 50px;
        overflow: visible;
    }
    #product_background_bf-mini {
        opacity: 0.711;
    }
    .ammount-background-mini {
        position: absolute;
        overflow: visible;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #Ammount_bg-mini {
        position: absolute;
        left: 19px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .ammount-img-mini {
        overflow: visible;
        position: absolute;
        width: 35.562px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/ammount-icon.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    #tags {
        position: absolute;
        width: 44px;
        height: 15px;
        left: 343px;
        top: 383px;
        overflow: visible;
    }
    .diary_background {
        position: absolute;
        overflow: visible;
        width: 44px;
        height: 15px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        border:none;
        border-radius:10px;
    }
    #DIARY {
        position: absolute;
        left: 8px;
        top: 1px;
        overflow: visible;
        width: 32px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        color: rgba(29,54,52,1);
    }

// Empty Category

    #emptybackground-of-product-mini {
        position: absolute;
        width: 374px;
        height: 119px;
        left: 455px;
        top: 364px;
        overflow: visible;
        background-color:#5DAA3B;
        border-radius:14px;
    }
    #emptyCheece_Graviera-mini {
        position: absolute;
        left: 61px;
        top: 9px;
        overflow: visible;
        width: 151px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(29,54,52,1);
    }
    #emptyproduct-1-mini {
        position: absolute;
        width: 69px;
        height: 60px;
        left: 10px;
        top: 51px;
        overflow: visible;
    }
    .emptyproduct_background-mini {
        position: absolute;
        overflow: visible;
        width: 69px;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #emptycheese_img-mini {
        position: absolute;
        width: 57px;
        height: 51px;
        left: 7px;
        top: 4px;
        overflow: visible;
        background-image:url(../../tablet/images/menuBarIcons/allproducts/arabica-icon@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #emptyAvailability-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 100px;
        top: 50px;
        overflow: visible;
    }
    #emptyavailability_background-mini {
        opacity: 0.711;
    }
    .emptyavailability_background-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    
    }
    #emptyrun_out_product_icon-mini {
        position: absolute;
        width: 36px;
        height: 34px;
        left: 18px;
        top: 18px;
        overflow: visible;
        background-image:url(../../tablet/images/menuBarIcons/allproducts/is-empty-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #emptyAvailability_-mini {
        position: absolute;
        left: 18px;
        top: 5px;
        overflow: visible;
        width: 38px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    #emptyExpiration-mini {
        position: absolute;
        width: 73px;
        height: 61px;
        left: 195px;
        top: 50px;
        overflow: visible;
    }
    #emptyexpiration_background-mini {
        opacity: 0.711;
    }
    .emptyexpiration_background-mini {
        position: absolute;
        overflow: visible;
        width: 73px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
       
    }
    #emptyExpiration-text-mini {
        position: absolute;
        left: 20px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .emptyexpiration-img-mini {
        overflow: visible;
        position: absolute;
        width: 36.083px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/0kg-icon.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    
    
    #emptybuycart-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 293px;
        top: 50px;
        overflow: visible;
    }
    #emptyproduct_background_bf-mini {
        opacity: 0.711;
    }
    .emptybuycart-background-mini {
        position: absolute;
        overflow: visible;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #emptybuycart {
        position: absolute;
        left: 19px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .emptybuycart-img-mini {
        overflow: visible;
        position: absolute;
        width: 35.562px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/buy-cart.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    #emptytags {
        position: absolute;
        width: 44px;
        height: 15px;
        left: 762px;
        top: 383px;
        overflow: visible;
    }
    .emptydiary_background {
        position: absolute;
        overflow: visible;
        width: 44px;
        height: 15px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        border:none;
        border-radius:10px;
    
    }
    #emptyDIARY {
        position: absolute;
        left: 8px;
        top: 1px;
        overflow: visible;
        width: 32px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        color: rgba(29,54,52,1);
    }


    // Full Products 

    #full-productsbackground-of-product-mini {
        position: absolute;
        width: 374px;
        height: 119px;
        left: 870px;
        top: 364px;
        overflow: visible;
        background-color:#5DAA3B;
        border-radius:14px;
    }
    #full-productsCheece_Graviera-mini {
        position: absolute;
        left: 61px;
        top: 9px;
        overflow: visible;
        width: 151px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(29,54,52,1);
    }
    #full-productsproduct-1-mini {
        position: absolute;
        width: 69px;
        height: 60px;
        left: 10px;
        top: 51px;
        overflow: visible;
    }
    .full-productsproduct_background-mini {
        position: absolute;
        overflow: visible;
        width: 69px;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #full-productscheese_img-mini {
        position: absolute;
        width: 57px;
        height: 51px;
        left: 7px;
        top: 4px;
        overflow: visible;
        background-image:url(../../tablet/images/menuBarIcons/allproducts/sugar-domino-icon@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #full-productsAvailability-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 100px;
        top: 50px;
        overflow: visible;
    }
    #full-productsavailability_background-mini {
        opacity: 0.711;
    }
    .full-productsavailability_background-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    
    }
    #full-productsrun_out_product_icon-mini {
        position: absolute;
        width: 36px;
        height: 34px;
        left: 18px;
        top: 18px;
        overflow: visible;
        background-image:url(../../tablet/images/menuBarIcons/allproducts/full-prod-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #full-productsAvailability_-mini {
        position: absolute;
        left: 18px;
        top: 5px;
        overflow: visible;
        width: 38px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    #full-productsExpiration-mini {
        position: absolute;
        width: 73px;
        height: 61px;
        left: 195px;
        top: 50px;
        overflow: visible;
    }
    #full-productsexpiration_background-mini {
        opacity: 0.711;
    }
    .full-productsexpiration_background-mini {
        position: absolute;
        overflow: visible;
        width: 73px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
       
    }
    #full-productsExpiration-text-mini {
        position: absolute;
        left: 20px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .full-productsexpiration-img-mini {
        overflow: visible;
        position: absolute;
        width: 36.083px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/expiration-icon.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    
    
    #full-productsAmmount-mini {
        position: absolute;
        width: 72px;
        height: 61px;
        left: 293px;
        top: 50px;
        overflow: visible;
    }
    #full-productsproduct_background_bf-mini {
        opacity: 0.711;
    }
    .full-productsammount-background-mini {
        position: absolute;
        overflow: visible;
        width: 72px;
        height: 61px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        opacity: 0.711;
        border-radius:14px;
    }
    #full-productsAmmount_bg-mini {
        position: absolute;
        left: 19px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
    }
    .full-productsammount-img-mini {
        overflow: visible;
        position: absolute;
        width: 35.562px;
        height: 36.128px;
        left: 18px;
        top: 18.081px;
        background-image: url(../../tablet/images/menuBarIcons/allproducts/2pcs.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    #full-productstags {
        position: absolute;
        width: 44px;
        height: 15px;
        left: 1177px;
        top: 383px;
        overflow: visible;
    }
    .full-productsdiary_background {
        position: absolute;
        overflow: visible;
        width: 44px;
        height: 15px;
        left: 0px;
        top: 0px;
        background-color:#fdf5db;
        border:none;
        border-radius:10px;
    
    }
    #full-productsDIARY {
        position: absolute;
        left: 8px;
        top: 1px;
        overflow: visible;
        width: 32px;
        white-space: nowrap;
        text-align: left;
        font-family: Big Caslon;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        color: rgba(29,54,52,1);
    }

    #while-product-is-open {
        position: absolute;
        width: 1283px;
        height: 800px;
        overflow: hidden;
        --web-view-name: productforproduct;
        --web-view-id: productforproduct;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
        transform: 0.3s ease-in-out;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
#product-location-info{
    position: absolute;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    --web-view-name: productforproduct;
    --web-view-id: productforproduct;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
     transform: 0.3s ease-in-out;
}
#Path_42 {
    opacity: 0.848;
}
.background-opacity {
    position: relative;
    width: 1280px;
    height: 800px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: #003325;
    opacity: 0.848;
}
#Subtraction_3 {
    opacity: 0.711;
}
#Subtraction_3-location {
    opacity: 0.711;
}
.Subtraction_3{
    filter: drop-shadow(9px 10px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 908px;
    height: 482px;
    left: 195px;
    top: 173px;
    transform: matrix(1,0,0,1,0,0);
}
#Cheece_Graviera {
    position: absolute;
    left: 463px;
    top: 190px;
    overflow: visible;
    width: 356px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
}
#produ-name-location-info {
    position: absolute;
    left: 463px;
    top: 190px;
    overflow: visible;
    width: 356px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
}
#product {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 214px;
    top: 183px;
    overflow: visible;
}
#product-image {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-repeat: no-repeat;
    background-size:contain;
}
#topGroup {
    position: absolute;
    width: 631px;
    height: 145px;
    left: 325px;
    top: 296px;
    overflow: visible;
}

// Availability 

#availability_background {
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 145px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;

}
.run_out_product_icon{
    position: absolute;
    width: 86px;
    height: 81px;
    left: 43px;
    top: 43px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/is-empty-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}
.run_out_on_hover{
    position: absolute;
left: 25px;
font-size: 72px;
top: 25px;
color: rebeccapurple;
}

#Availability {
    position: absolute;
    left: 46px;
    top: 12px;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}

// Expiration 

#Expiration {
    position: absolute;
    width: 174px;
    height: 145px;
    left: 229px;
    top: 0px;
    overflow: visible;
    border:none;
    background-color:#fdf5db;
    border-radius: 14px;
}

#Expiration-text {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
.expiration-img {
    overflow: visible;
    position: absolute;
    width: 85.806px;
    height: 85.915px;
    left: 42.832px;
    top: 42.905px;
    background-image:url(../../tablet/images/icons/inv-manager/date.svg);
    background-size:contain;
    background-repeat: no-repeat;
    text-align: center;
}



#Ammount {
    position: absolute;
    width: 171px;
    height: 145px;
    left: 460px;
    top: 0px;
    overflow: visible;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;
}

#Ammount-txt {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
.ammount-img {
    overflow: visible;
    position: absolute;
    width: 84.571px;
    height: 85.915px;
    left: 42.879px;
    top: 42.904px;
    background-image:url(../../tablet/images/icons/inv-manager/ammount.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


#location-background {
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 145px;
    left: 325px;
    top: 461px;
    background-color:#fdf5db;
    border:none;
    border-radius: 14px;
}
#Location-txt {
    position: absolute;
    left: 54px;
    top: 11px;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
#fridge-img {
    position: absolute;
    width: 64.4px;
    height: 77.28px;
    left: 53px;
    top: 46px;
    overflow: visible;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/fridge.svg);
    background-size:contain;
    background-repeat: no-repeat;
}


#select-ammount {
    position: absolute;
    width: 174px;
    height: 145px;
    left: 554px;
    top: 461px;
    overflow: visible;
    // background-color:#fdf5db;
    border:none;
    border-radius:14px;
    background-image: url(../../../../assets/inv-manager-ammount/prod-details/add-background-cutted.svg);
}
#Select-Ammount-txt {
    position: absolute;
    left: 23px;
    top: 11px;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}



#buy-product {
    position: absolute;
    width: 171px;
    height: 145px;
    left: 785px;
    top: 461px;
    overflow: visible;
    border:none;
    border-radius:14px;
    background-color:#fdf5db;
}

#buy-product-txt {
    position: absolute;
    left: 37px;
    top: 12px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}
#cart-img{
    overflow: visible;
    position: absolute;
    width: 89.294px;
    height: 79.372px;
    left: 37px;
    top: 40px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/cart.svg);
    background-size:contain;
    background-repeat:no-repeat;
}


// Select Ammount 
#minusbtn {
	background-color: transparent;
	width: 51px;
	height: 55px;
	position: absolute;
	left: -15px;
	top: 49px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	opacity: 0.7;
	border: none;
}
#plusbtn {
	background-color: transparent;
	width: 51px;
	height: 55px;
	position: absolute;
	left: 137px;
	top: 48px;
	/* border-left-color: #1d3634; */
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	opacity: 0.7;
	/* border-top-color: #1d3634; */
	/* border-bottom-color: #1d3634; */
	border: none;
}
.fa-minus{
    color:#fdf5db;
    font-size: 11px;
}
.fa-plus{
    color:#fdf5db;
}
#inputpm{
    overflow: visible;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 50px;
    height: 50px;
    top: 47px;
    position: absolute;
    left: 61px;
    font-size: 46px;

}

#notification_list{
    height:200px;
    width:18%;
    overflow:hidden;
    overflow-y:scroll;

    list-style: none;
}

.owl-item{
    width: 374.5px;
	height: 600px;
}

.im-prod-det-text{
    //myriad pro
    color: #fdf5db;
}

#expiration-value-day{
    font-size:40px;

}

#expiration-value-month{
    font-size: 9px;
}

#ammount-value {
	font-size: 26px;
	top: 22px;
	position: absolute;
	left: 14px;
}

#im-carousel-container {
	position: absolute;
	text-align: center;
    top: 260px;
    left: -70px;
    width:1280px;
    
}

.carouselElement{
    position: absolute;
    width:390px;
    height:500px;
}


.colored-bg-im{
    background-color: mediumorchid;
    border: 1px solid black;
}

.colored-bg-im2{
    background-color: lightcoral;
    border: 1px solid black;
}

.colored-bg-im3{
    background-color: yellowgreen;
    border: 1px solid black;
}

.colored-bg-im4{
    background-color: lightblue;
    border: 1px solid black;
}

.colored-bg-im5{
    background-color: lightseagreen;
    border: 1px solid black;
}

.carouselInnerElement{
    left:-33px;
    width:390px;
    height: 500px;

}

.carousel-menu-upper-btn {
	position: fixed;
	left: auto;
	width: 310px;
	height: 59px;
	background-color: #fdf5db;
	border: none;
	border-radius: 11px;
	box-shadow: 6px 4px 4px;
	font-size: 18px;
	margin-left: -165px;
}

.product-tile-in-carousel{
    position: absolute;
    width: 374px;
    height: 122px;
    overflow: visible;
    background-color: #5DAA3B;
    border-radius: 14px;
}

// #placeholder-product-running-out {
//     position: absolute;
//     left: 0px;
//     top: -80px;
// }

.tags {
    position: relative;
    width: 44px;
    height: 15px;
    left: 230px;
    top: 21px;
    overflow: visible;
}

.position0{
    position: absolute;
    display: block;
    left: 100px;
}

.position1{
    position: absolute;
    display: block;
    left: 520px;    
}

.position2{
    position: absolute;
    display: block;
    left: 940px;
}

.position3{
    position: absolute;
    display: none;
    left: 1360px;
}

.position4{
    position: absolute;
    display: none;
    left: 1780px;
}

//animations
.animationLeft {
    width: 100px;
    /* height: 100px; */
    position: relative;
    -webkit-animation: mymoveRight 5s infinite;
    animation: mymoveRight 5s;
}

.animationRight {
    width: 100px;
    /* height: 100px; */
    position: relative;
    -webkit-animation: mymoveLeft 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymoveLeft 5s;
    display: none;
}

@keyframes mymoveRight {
    from {left: 0px;}
    to {left: 200px;}
}
@keyframes mymoveLeft {
    from {left: 0px;}
    to {left: -200px;}
}


//flip
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	// .flip-container:hover .flipper, .flip-container.hover .flipper {
	// 	transform: rotateY(180deg);
    // }
    
    .flip-container-hover{
        transform: rotateY(180deg);
    }


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#exp-back{
    position: absolute;
    top: 10px;
    left: 174px;
}

#Expiration-text-back{
    background-color: yellowgreen;
    position: absolute;
    left:-120px;
}

.fade-in-exp {
    animation: fadeIn ease 1.3s;
    -webkit-animation: fadeIn ease 1.3s;
    -moz-animation: fadeIn ease 1.3s;
    -o-animation: fadeIn ease 1.3s;
    -ms-animation: fadeIn ease 1.3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out-exp {
    animation: fadeOut ease 1.3s;
    -webkit-animation: fadeOut ease 1.3s;
    -moz-animation: fadeOut ease 1.3s;
    -o-animation: fadeOut ease 1.3s;
    -ms-animation: fadeOut ease 1.3s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
    
@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
    
@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
    
@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
    
@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.hidden{
    visibility: hidden;
}

.tileDataContainer {
    width: 374px;
    height: 450px;
    overflow-y: auto;
    position: fixed;
    top: 330px;
    /* border: 1px solid black; */
}

#inv-man-location-goto-general-info{
    /* z-index: 0; */
    position: absolute;
    top: 582px;
    left: 230px;
    width: 91px;
    height: 46px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #1d6364;
    font-size: 14px;
    /* font-weight: bold; */
}

#product-details-location-img {
	border: none;
	position: absolute;
	width: 652.29px;
	height: 322.14px;
	top: 274px;
	left: 335px;
}

#prod-details-categories {
	width: 169px;
	height: 23px;
	position: absolute;
	top: 224px;
	left: 800px;
}


#tag-2{
    position: absolute;
    left: 65px;
    top: 0px;
}

#tag-3 {
	width: 26px;
	border-radius: 100px;
	background-color: #fdf5db;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 129px;
	height: 25px;
}

.tagTile {
	width: 55px;
	border-radius: 100px;
	background-color: #fdf5db;
	text-align: center;
	height: 25px;
}

.tag-text {
	font-size: 10px;
	position: absolute;
	top: 4px;
	left: 13px;
}

#tag-text-plus{
    position: absolute;
    font-size: 10px;
    left: 6px;
    top: 4px;
}

#exit-from-details-btn {
    background-image: url(../../../../assets/inv-manager-ammount/prod-details/exit-icon-fr-location.svg);
	background-repeat: no-repeat;
	position: absolute;
	background-color: transparent;
	width: 36px;
	height: 31px;
	border: none;
	background-size: contain;
	top: 210px;
	left: 1037px;
}

#im-rec-prod-text{
    position: absolute;
    width: 174px;
    height: 145px;
    left: 554px;
    top: 461px;
    overflow: visible;
    background-color:#fdf5db;
    border:none;
    border-radius:14px;
    // background-image: url(../../../../assets/inv-manager-ammount/prod-details/add-background-cutted.svg);
}


#im-rec-prod-remove{
    position: absolute;
    width: 171px;
    height: 145px;
    left: 785px;
    top: 461px;
    overflow: visible;
    border:none;
    border-radius:14px;
    background-color:#fdf5db;
}

#remove-product-txt{
    position: absolute;
    left: 37px;
    top: 12px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,54,52,1);
}

#cart-img-rem{
    overflow: visible;
    position: absolute;
    width: 89.294px;
    height: 79.372px;
    left: 37px;
    top: 40px;
    background-image:url(../../tablet/images/menuBarIcons/allproducts/cart.svg);
    background-size:contain;
    background-repeat:no-repeat;
}