<div id="home-devices-cabbinets-background">
    <div id="staticSimLogo" *ngIf="showSimLogo">
        <ami-fullstack-home-devices-date-time></ami-fullstack-home-devices-date-time>
    </div>

    <div id="scannedProducts" *ngIf="showScannedProducts">
        <div class="row" id="scanned-products-list">
            <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let scannedProd of productsArray$">
                <div class="panel-heading">
                    <ami-fullstack-super-market-product-item [product]="scannedProd" id="prod-item">
                    </ami-fullstack-super-market-product-item>
                </div>
            </div>
        </div>

        <button id="end_classification" class="scan-receipt-end-btn" (click)="endClassification()">End
            Classification
        </button>
    </div>
</div>