#kitchen-cabbinets-container {
  background-color: #fdf5db;
  width: 1280px;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#product-list {
  position: relative; 
  top: 60px;
}
#product1 {
  position: absolute;
  left: 29px;
  top: 122px;
}
#product2 {
  position: absolute;
  left: 449px;
  top: 122px;
}
#product3 {
  position: absolute;
  left: 869px;
  top: 122px;
}
#product4 {
  position: absolute;
  left: 29px;
  top: 273px;
}
#product5 {
  position: absolute;
  left: 449px;
  top: 273px;
}
#thebackground {
  position: absolute;
  width: 377.49px;
  height: 131px;
  opacity: 71%;
  background-color: #5daa3b;
  border-radius: 10px;
}
#pr-background {
  position: absolute;
  left: 9px;
  top: 8px;
  width: 134px;
  height: 115px;
  opacity: 71%;
  background-color: #fdf5db;
  border-radius: 10px;
}
.product-brand-txt {
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #344a5e;
}
.how-much-kg {
  position: absolute;
  left: 241px;
  top: 97px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #344a5e;
}
#search-box-mini {
  position: absolute;
  top: 137px;
  left: 0px;
  width: 1280px;
  height: 30px;
  background-color: #f9705a;
  display: block;
}
#search-box-open {
  position: absolute;
  top: 137px;
  left: 0px;
  width: 1280px;
  height: 61px;
  background-color: #f9705a;
  display: none;
}
form.search-legit input[type="text"] {
  position: relative;
  top: 3px;
  left: 34px;
  font-size: 25px;
  border: none;
  border-bottom: 4px solid #fdf5db;
  float: left;
  width: 90%;
  background: #f9705a;
  padding: 3px;
  margin-right: -4px;
  color: #fdf5db;
}
form.search-legit button {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #fdf5db;
  font-size: 17px;
}
.fa {
  position: absolute;
  top: -7px;
  left: -3px;
  width: 30px;
  height: 46px;
  color: #fdf5db;
  font-size: 36px;
}
#cabbinets-products-list{
  position: relative;
  top: 150px;
}

#search-coloring{
  position: absolute;
  color: #fdf5db;
  left: 600px;
  font-size: 25px;
  top: -4px;
}