<li class="list-group-item"><br>

    <div id="{{product.product_details.id}}"></div>
    <!-- <div (click)="openProd('open')" class="list-img"><img [src]="product.img" /></div> -->
    <div (click)="openProd('open')" class="list-img"><img
            src="https://dummyimage.com/87x77/3785d4/ffffff&text=placeholder" /></div>
    <div (click)="openProd('open')" class="list-product-txt">{{product.product_details.name}}</div>
    <div class="product-ammount">{{product.details.ammount_to_buy}}</div>
    <div class="product-category">{{product.details.category}}</div>
    <div class="product-tags">{{product.details.tags}}</div>

    <div *ngIf="prodDetails" id="while-a-product-is-open-for-details">
        <div id="product-ammount-while-is-open-for-details">{{product.details.ammount_to_buy}}</div>
        <div id="product-name-while-is-open-for-details">{{product.product_details.name}}</div>
        <div id="product-category-while-is-open-for-details">{{product.details.category}}</div>
        <div id="thebackground-while-is-open-for-details"></div>
        <div id="plusminus-btn">
            <button id="minus-button-while-is-open-for-details">-</button>>
            <input class="add-ammount-while-is-open-for-details" placeholder="2 KG" type="text">
            <button id="plus-button-while-is-open-for-details">+</button>
        </div>
        <button (click)="openProd('close')" id="close-the-box-while-is-open-for-details"></button>
    </div>
</li>
<!-- -->