<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>

<div id="FilterCat">
  <div id="allproductsCat">
    <div id="allproducts">
      <span>Awaiting Confirmation</span>
    </div>
    <div class="background-of-categories1"></div>
    <button class="allproductsbutton" (click)="filterClicked('all')">ALL</button>
  </div>

  <div id="BakeryCat">
    <div id="Bakery">
      <span>Bakery</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="bakerybutton" (click)="filterClicked('bakery')"></button>
  </div>

  <div id="FishCat">
    <div id="Fish">
      <span>Fish</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="fishesbutton" (click)="filterClicked('fish')"></button>
  </div>

  <div id="MeatCat">
    <div id="Meat">
      <span>Meat</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="meatbutton" (click)="filterClicked('meat')"></button>
  </div>

  <div id="DairyCat">
    <div id="Dairy">
      <span>Dairy</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="dairybutton" (click)="filterClicked('dairy')"></button>
  </div>
  <div id="FruitsCat">

    <div id="Fruits">
      <span>Fruits</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="fruitsbutton" (click)="filterClicked('fruit')"></button>
  </div>


  <div id="VegesCat">

    <div id="Veges">
      <span>Veges</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="vegesbutton" (click)="filterClicked('vegetables')"></button>

  </div>

  <div id="BeveragesCat">

    <div id="Beverages">
      <span>Beverages</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="beveragesbutton" (click)="filterClicked('beverages')"></button>
  </div>


  <div id="CoffeeCat">
    <div id="Coffee">
      <span>Coffee</span>
    </div>
    <div class="background-of-categories"></div>
    <button class="coffeebutton" (click)="filterClicked('coffee')"></button>
  </div>

</div>


<div id="im-carousel-container" (swipe)="onSwipe($event)">

  <div id="inv-manager-running-out" class="carouselElement">
    <button class="carousel-menu-upper-btn">Running out
      <div id="ellipse-of-running-out-of-products" class="number-of-submenu-items">{{tileProductsQuantity[0]}}</div>
    </button>

    <div class="tileDataContainer" *ngIf="showTile[0]">
      <div class="" *ngFor="let roProd of tileData$[0]">
        <ami-fullstack-inventory-manager-product [product]="roProd"></ami-fullstack-inventory-manager-product>
      </div>
    </div>
  </div>

  <div id="inv-manager-empty" class="carouselElement">
    <button class="carousel-menu-upper-btn">Empty
      <div id="ellipse-of-empty-products" class="number-of-submenu-items">{{tileProductsQuantity[1]}}</div>
    </button>
    <div class="tileDataContainer" *ngIf="showTile[1]">
      <div class="" *ngFor="let emProd of tileData$[1]">
        <ami-fullstack-inventory-manager-product [product]="emProd"></ami-fullstack-inventory-manager-product>
      </div>
    </div>
  </div>

  <div id="inv-manager-all" class="carouselElement">
    <button class="carousel-menu-upper-btn">All
      <div id="ellipse-of-all-products" class="number-of-submenu-items">{{tileProductsQuantity[2]}}</div>
    </button>
    <div class="tileDataContainer" *ngIf="showTile[2]">
      <div class="" *ngFor="let allProd of tileData$[2]">
        <ami-fullstack-inventory-manager-product [product]="allProd"></ami-fullstack-inventory-manager-product>
      </div>
    </div>
  </div>

  <div id="inv-manager-full" class="carouselElement">
    <button class="carousel-menu-upper-btn">Full
      <div id="ellipse-of-full-products" class="number-of-submenu-items">{{tileProductsQuantity[3]}}</div>
    </button>
    <div class="tileDataContainer" *ngIf="showTile[3]">
      <div class="" *ngFor="let fullProd of tileData$[3]">
        <ami-fullstack-inventory-manager-product [product]="fullProd"></ami-fullstack-inventory-manager-product>
      </div>
    </div>
  </div>

  <div id="inv-manager-wasted" class="carouselElement">
    <button class="carousel-menu-upper-btn">Wasted
      <div id="ellipse-of-wasted-products" class="number-of-submenu-items">{{tileProductsQuantity[4]}}</div>
    </button>
    <div class="tileDataContainer" *ngIf="showTile[4]">
      <div class="" *ngFor="let wsProd of tileData$[4]">
        <ami-fullstack-inventory-manager-product [product]="wsProd"></ami-fullstack-inventory-manager-product>
      </div>
    </div>
  </div>

</div>








<div *ngIf="showProductDetails" id="while-product-is-open">

  <div id="doublebg">
    <svg class="background-opacity" (click)="closeProdDetails()"></svg>
    <svg class="Subtraction_3" viewBox="-277.858 -37.579 889.999 463">
      <path fill="rgba(99,196,57,1)" id="Subtraction_3"
        d="M 599.1417236328125 425.4210510253906 L -264.8582458496094 425.4210510253906 C -268.3303527832031 425.4210510253906 -271.5949096679688 424.0688171386719 -274.0503540039062 421.6134948730469 C -276.5056762695312 419.1582641601562 -277.85791015625 415.8937072753906 -277.85791015625 412.4213562011719 L -277.85791015625 64.64970397949219 L -152.5895843505859 40.30025863647461 C -148.9185791015625 39.5869255065918 -145.7452392578125 37.48659515380859 -143.6539154052734 34.38615036010742 C -141.5629119873047 31.28603744506836 -140.8042449951172 27.55703735351562 -141.5176849365234 23.88603782653809 L -153.465576171875 -37.57851791381836 L 599.1417236328125 -37.57851791381836 C 602.6140747070312 -37.57851791381836 605.8785400390625 -36.22629547119141 608.3336181640625 -33.77096176147461 C 610.7890625 -31.31562805175781 612.1414184570312 -28.05118370056152 612.1414184570312 -24.57907295227051 L 612.1414184570312 412.4213562011719 C 612.1414184570312 415.8938293457031 610.7890625 419.1582641601562 608.3336181640625 421.6134948730469 C 605.8785400390625 424.0688171386719 602.6140747070312 425.4210510253906 599.1417236328125 425.4210510253906 Z">
      </path>
    </svg>
  </div>


  <div id="Cheece_Graviera">
    <span>{{detailedProduct.product_details.name}}</span>
  </div>


  <div id="product">
    <img id="product-image" [src]="detailedProductImg">
  </div>


  <div id="detailsGeneral" *ngIf="!showProductLocation">

    <div id="prod-details-categories">
      <div id="tag-1" class="tagTile" *ngIf="this.showTags[1]">
        <p class="tag-text">{{detailedProduct.details.tags[0]}}</p>
      </div>

      <div id="tag-2" class="tagTile" *ngIf="this.showTags[2]">
        <p class="tag-text">{{detailedProduct.details.tags[1]}}</p>
      </div>

      <div id="tag-3" *ngIf="this.showTags[3]">
        <p id="tag-text-plus">{{tagsRemaining}}</p>
      </div>
    </div>


    <div id="topGroup">

      <button (mouseenter)="hideNseek()" (mouseleave)="hideNseek2()" id="availability_background">

        <img *ngIf="hideIcon" id="availability-img" class="run_out_product_icon" [src]="availabilityImg">

      </button>
      <div id="Availability">
        <span>Availability</span>
      </div>
      <div *ngIf="availabilityPercentage" class="run_out_on_hover">{{availabilityValue}}</div>

      <div id="Expiration" (click)="flipIt($event)">
        <div class="flip-container">
          <div class="flipper">

            <div class="front">

              <div id="Expiration-text">
                <span>Expiration</span>
              </div>

              <div class="expiration-img">
                <p id="expiration-value-month" class="im-prod-det-text">{{detailedProductMoreData.exp_month}}</p>
                <p id="expiration-value-day" class="im-prod-det-text">{{detailedProductMoreData.exp_day}}</p>
              </div>

            </div>

            <div class="back" id="exp-back">
              <!-- BACK SIDE OF EXP -->
              <div id="Expiration-text-back">
                <span>Expiration</span>
              </div>

            </div>

          </div>
        </div>

      </div>


      <button id="Ammount">
        <div id="Ammount-txt">
          <span>Ammount</span>
        </div>
        <div class="ammount-img">
          <p id="ammount-value" class="im-prod-det-text">{{detailedProductMoreData.ammount_remaining}}
            {{detailedProductMoreData.ammount_unit}}</p>
        </div>
      </button>

    </div>

    <div id="bottomGroup">
      <button (click)="getInvManLocation($event)" id="location-background">
        <div id="Location-txt">
          <span>Location</span>
        </div>
        <div id="fridge-img"></div>
      </button>

      <div id="select-ammount" *ngIf="!hideIfRecurring">
        <div id="Select-Ammount-txt">
          <span>Select Ammount</span>
        </div>
        <div class="container text-center">
          <button id="minusbtn" (click)="minus()" type="button"><i class="fa fa-minus"></i></button>
          <input id="inputpm" type="text" [value]="quantity">
          <button id="plusbtn" (click)="plus()" type="button"><i class="fa fa-plus"></i></button>
        </div>
      </div>

      <div (click)="pushAccept()" id="buy-product" *ngIf="!showIfRecurring">
        <div id="buy-product-txt">
          <span>Add Product</span>
        </div>
        <div id="cart-img"></div>
      </div>

      <div id="im-rec-prod-text" *ngIf="hideIfRecurring">
        <p>Already Added to Shopping List</p>
      </div>

      <div id="im-rec-prod-remove" *ngIf="hideIfRecurring">
        <div id="remove-product-txt">
          <span>Remove Product</span>
        </div>
        <div id="cart-img-rem"></div>
      </div>


    </div>



  </div>

  <div id="detailsLocation" *ngIf="showProductLocation">
    <img id="product-details-location-img" src="assets/inv-manager-ammount/prod-details/location/cabinnet-top-left.svg">
    <button id="inv-man-location-goto-general-info" (click)="getInvManLocation()">
      BACK
    </button>
  </div>

  <button id="exit-from-details-btn" (click)="closeProdDetails()"></button>

</div>