<div id="home-devices-fridge-background">
    <div id="date-and-time">
        <p id="time">{{today | date:'H:mm'}}</p>
        <p id="date">{{today | date:'fullDate'}} </p>
    </div>
    <div id="notifications-container" *ngIf="showNotifications">
        <ami-fullstack-home-devices-notif-list></ami-fullstack-home-devices-notif-list>
    </div>
</div>