#home-devices-time-background{
    widows: 1280px;
    height:800px;
    position: absolute;
    top:0px;
    left:0px;
}

#date-and-time{
	background-color: #05564B;
	background-image: url('../../tablet/images/logo/simlogo.svg');
	background-repeat: no-repeat;
	width: 1280px;
	height: 800px;
	background-position-x: 25px;
}

#time {
	position: absolute;
	top: 200px;
	left: 331px;
	font-size: 200px;
	color: white;
}

#date {
	position: absolute;
	top: 500px;
	left: 302px;
	font-size: 60px;
	color: white;
	/* text-align: center; */
}

#notifications-container{
    position: absolute;
    top:0px;
    left: 0px;
}