
<div class="row">
    <div class="col-md-4" *ngFor="let productTail of productTails">
        <div id="background-item">
            <div class="product-txt pr1-positioning">{{productTail.name}}</div>
         </div>
    </div>
</div>


