#SearchContainer{
	position: absolute;
	top: 137px;
	left: 0px;
	width: 655px;
	height: 800px;
	display: block;
    /* background-color: red; */
    z-index: 1;
}

#searchBar{
	position: absolute;
	top: 140px;
	left: -0px;
	width: 1280px;
}
#searchElements{
	max-height: 200px;
	overflow: auto;
	width: 1280px;
	position: absolute;
	left: -0px;
	top: 170px;
	z-index: 1;
	background-color: #fdf5db;
}
.searchProd:hover{
    background-color: gray;
}
#search-box-mini {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 30px;
	background-color: #f9705a;
	display: block;
}