<div id="SearchContainer" (click)="containerClicked()">
    <div (click)="searchBarController()" 
    *ngIf="!showSearch" 
    id="search-box-mini">
        <p id="search-coloring">Search</p>
    </div>



    <input id="searchBar" 
    *ngIf="showSearch"
    (focus)="searchInputCheck()"
    
    type="text"  
    placeholder="Search" 
    [(ngModel)]="searchQuery" 
    id="searchBar" 
    (ngModelChange)="searchInputCheck($event)">

    <div id="searchElements">
        <div class="" *ngFor="let product of productsArray | searchFilter:searchQuery" >
            
            <!-- <label [for]="lock.ID" class="searchProdLabel" (click)="clickedProd($event.explicitOriginalTarget.id)"></label> -->
            <p id="{{product.Index}}" 
            class="searchProd" 
            *ngIf="showProducts" 
            (click)="clickedProd($event.explicitOriginalTarget.id)">
            {{product.Name}}
            </p>
        </div>
    </div>
</div>




<!-- <ul>
    <li *ngFor="let product of products | searchFilter:searchQuery:'Name'">
        {{product.Name}}
    </li>
</ul> -->