<div id="scannedProductsContainer">
    <ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>

    <div id="scanned-products-container" *ngIf="showScannedProductsList">
        <div class="row" id="scanned-products-list">
            <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let scannedProd of scannedProducts$">
                <div class="panel-heading">
                    <ami-fullstack-super-market-product-item [product]="scannedProd">
                    </ami-fullstack-super-market-product-item>
                </div>
            </div>
        </div>
    </div>

    <button id="end_classification" class="scan-receipt-end-btn" (click)="endClassification()">End
        Classification
    </button>
</div>