// body{
//     background-color:#FFFCF2;
//     background-size: 1280px 800px;
//     width: 1280px;
//     height: 800px;
// }
#scannedProductsContainer{
  width:1280px;
  height: 800px;
  background-color:#FFFCF2;
  background-size: 1280px 800px;

}

#scanned-products-container{
    position:relative;
    top: 40px;
}







.product-txt {
    font-size: 25px;
    color: #fdf5db;
    font-family: Arial, Helvetica, sans-serif;
  }
.pr1-brand-positioning {
    position: absolute;
    left: 164px;
    top: 45px;
  }
.product-brand-txt {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #344a5e;
  }







  #search-box-mini {
    position: absolute;
    top: 140px;
    left: -0px;
    width: 1280px;
    height: 30px;
    background-color: #f9705a;
    display: block;
  }
  #search-box-open {
    position: absolute;
    top: 137px;
    left: 0px;
    width: 1280px;
    height: 61px;
    background-color: #f9705a;
    display: none;
  }
  form.search-legit input[type="text"] {
    position: relative;
    top: 3px;
    left: 34px;
    font-size: 25px;
    border: none;
    border-bottom: 4px solid #fdf5db;
    float: left;
    width: 90%;
    background: #f9705a;
    padding: 3px;
    margin-right: -4px;
    color: #fdf5db;
  }
  form.search-legit button {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fdf5db;
    font-size: 17px;
  }
  .fa {
    position: absolute;
    top: -7px;
    left: -3px;
    width: 30px;
    height: 46px;
    color: #fdf5db;
    font-size: 36px;
  }
  

  //---------------------------
  #scanned-products-container{
    position:relative;
}

#searchBar{
    position: absolute;
    top:70px;
    left:225px;
}

.product_name{
    position: relative;
    top:55%;
    text-align: center;
}

.product_image{
    top: 31%;
    position: relative;
    left: 31%;

    max-width: 100px;;
    max-height: 100px;;
    
}

.scan-receipt-end-btn {
	position: fixed;
	top: 540px;
	left: 535px;
	background-color: #F5705A;
	width: 208px;
	height: 67px;
	border-bottom-left-radius: 67px;
	border-top-right-radius: 67px;
	border: none;
}

.panel-heading{
  margin: 60px;
}