<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>
<div id="go-shopping-container">
  <ami-fullstack-bottom-side-bar-goshopping></ami-fullstack-bottom-side-bar-goshopping>
  <!-- <ami-fullstack-top-side-bar-goshopping></ami-fullstack-top-side-bar-goshopping> -->


  <div (click)="openSearchBar()" id="search-box-mini">
    <p id="search-coloring">Search</p>
  </div>
  <div (click)="closeSearchBar()" id="search-box-open">
    <form class="search-legit" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" style="
            position: relative;
            left: 62px;
            top: 15px;
            background-color: transparent;
            border: none;
        "><i class="fa fa-search"></i></button>
    </form>
  </div>


  <div id="go-shopping-product-list" *ngIf="showGoShoppingList">

    <div class="row" id="go-shopping-product-list" *ngIf="showGoShoppingList">
      <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let gsProd of goShoppingProducts$">
        <div class="panel-heading">
          <ami-fullstack-super-market-product-item [product]="gsProd" (click)="addToCart(gsProd)">
          </ami-fullstack-super-market-product-item>
        </div>
      </div>
    </div>

  </div>