<div id="top-side-bar-control">
  <div class="top-side-bar-nav">
    <div id="top-side-bar-background"></div>
    <div (click)="redirect('dashboard')" id="top-side-bar-logo"></div>
    <div id="top-side-bar-where-am-i">
      <p>Shopping list</p>
    </div>
    <div class="alert-icon"></div>
    <div id="notification-txt">
      <!-- <p>You need to check the Waste Manager</p> -->
    </div>
    <div id="TimeDateClock-txt">
      <p>{{today | date:'fullDate'}} {{today | date:'h:mm a'}}</p>
    </div>
    <div id="user-name"></div>
    <button id="notification-button"></button>
    <button id="sign-out-button"></button>
    <img id="user-profile">
  </div>
</div>