.thebackground {
    position: absolute;
    width: 377.49px;
    height: 131px;
    opacity: 71%;
    background-color: #5daa3b;
    border-radius: 10px;
  }
#product-accept{
  position: absolute;
  left: 320px;
  background-color: red;
  width: 57px;
  border-top-right-radius: 9px;
  top: 0px;
  height: 65px;
}
#product-reject{
  position: absolute;
  width: 57px;
  left: 320px;
  background-color: green;
  top: 65px;
  height: 65px;
  border-bottom-right-radius: 9px;
}
#producttxt{
  position: absolute;
  font-size: 28px;
  left: 91px;
  top: 37px;
}
//   #product-accept{

//   }

//   #product-reject{

//   }

.confirmation{
    border: none;
    background-color: transparent;
    font-size: 30px;
}