#push-container{
  position:absolute;
  width:544px;
  height:137px;
  left:368px;
  top:0px;
  background-color:#F5FF81;
  border:none;
  box-shadow:9px 8px 4px;
  border-radius:16px;
  z-index: 100;
}
#warning-icon{
  position:absolute;
  background-image: url(../tablet/images/menuBarIcons/allproducts/warning.svg);
  background-size:contain;
  background-repeat: no-repeat; 
  left: 25px;
     top: 30px;
     width: 68px;
     height: 64px;
 
 }
 #push-source{
  position: absolute;
  left: 214px;
  top: 29px;
  font-size:25px;
}
#push-message{
  position: absolute;
  left: 174px;
  top: 59px;
  font-size: 18px;

}
#push-notifications{
  position: absolute;
  left: 534px;
  top: 98px;
  font-size: 18px;
}
.showMe {
    opacity: 1;
    transition: opacity 1000ms;
  }
.hideMe {
    opacity: 0;
    transition: opacity 1000ms;
  }