<ami-fullstack-topside-user-bar id="indexuserbar"></ami-fullstack-topside-user-bar>

<div id="notification-container" *ngIf="showNotificationsList">

    <ul class="list-group">
        <div *ngFor="let notification of notifications$.notifications">
            <div class="panel-heading">
                <ami-fullstack-notification-item *ngIf="showNotCat" id="position-of-each-notification"
                    [notification]=notification>

                </ami-fullstack-notification-item>
            </div>
        </div>
    </ul>

</div>
<p id="ptext">All notifications</p>
<div id="notification-buttons">
    <button (click)="filtClick('all')" id="allButton">ALL</button>
    <button (click)="filtClick('low')" id="wasteButton"></button>
    <button (click)="filtClick('high')" id="emptyButton"></button>
    <button (click)="filtClick('severe')" id="runningButton"></button>
    <button (click)="filtClick('info')" id="fullButton"></button>
</div>