#menu-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
}

#menu-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    top:420px;
    border-top-right-radius: 100px;
    background-color: #016F61;
    display:block;
}
#menu-txt-open {
    position: absolute;
    left: 54px;
    top: 428px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdf5db;
    z-index: 1;
  }
#menu-icon-open{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:16.7px;
    top:439.63px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/menu-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
#bottom-menu{
    display:block;
    position: absolute;
    z-index: 2;
}
.toggle-menu-btn2 {
    background-color: #F9705A;
    border: none;
    color: white;
    padding: 43px 43px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 729px;
    left: 601px;
    border-radius: 206px;
    z-index: 3;
}
.fa{
    position: absolute;
    top: 26px;
    left: 29px;
    width: 29px;
    height: 54px;
    color: #fdf5db;
    font-size: 36px; 
}
#bottom-left-menu{
    position:absolute;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-right-radius: 100px;
    display:block;
}
#bottom-right-menu{
    position:absolute;
    left:675px;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-left-radius: 100px;
}
#menu-icon{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:28.7px;
    top:27px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/menu-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#filter-icon{
    position:absolute;
    width:27px;
    height: 18px;
    left:560px;
    top:24px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/filter-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
   display:block;
}
#menu-txt{
    position:absolute;
    left:62px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
}
#filter-txt{
    position:absolute;
    left:470px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
}





#mbio-dashboard{
    position: absolute;
    left: 33px;
    top: 10px;
}



.mbio-notification-text{
    position:absolute;
    font-size:16px;
    color:#fdf5db;
    font-family: Arial, Helvetica, sans-serif;
    top:19px;
    left:263px;
}
.mbio-alert-icon{
    position:absolute;
    top:18.94px;
    left:535.94px;
    width:22.13px;
    height: 22.13px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/alert-icon@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:transparent;
    border:none;
}

#mbio-kitchen{
    position: absolute;
    top: 40px;
    left: 0px;
    width:150px;
    height: 150px;
    background-image: url("../../../../images/menuBarIcons/light/kitchen-ligh.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-supermarket{
    position: absolute;
    top: 80px;
    left: 139px;
    width: 66px;
    height: 70px;
    background-image: url("../../../../images/menuBarIcons/light/super-market-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-invmanager{
    position: absolute;
    top: 80px;
    left: 239px;
    width: 70px;
    height: 70px;
    background-image: url("../../../../images/menuBarIcons/light/inventory-manager-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-recepies{
    position: absolute;
    top: 85px;
    left: 343px;
    width: 70px;
    height: 56px;
    background-image: url("../../../../images/menuBarIcons/light/recipies-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-profile{
    position: absolute;
    top: 80px;
    left: 429px;
    width: 70px;
    height: 64px;
    background-image: url("../../../../images/menuBarIcons/light/profile-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:none;
}

#mbio-recurring-btn{
    position:absolute;
    left: -33px;
    top: 284px;
    width: 612px;
    height: 91px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/recurring-btn@2x.png");
    background-color:transparent;
    background-size:contain;
    border:none;
}
#mbio-favourite-btn{
    position:absolute;
    left: -33px;
    top: 187px;
    width: 612px;
    height: 91px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/favourite-btn.png");
    background-color:transparent;
    background-size:contain;
    border:none;
}
#filter-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
}

#filter-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    left: 675px;
    top: 420px;
    border-top-left-radius: 100px;
    background-color: #016F61;
    display:block;
}

#filter-icon-open{
    position:absolute;
    width:27px;
    height: 18px;
    left:1233.7px;
    top:442.5px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/filter-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    z-index:3;
}
#filter-txt-open{
    position:absolute;
    left:1146px;
    top:435px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
    z-index:3;
}

#The-filters{
    position:absolute;
    left: -340px;
    top: -244px;
}
#bread-field-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 385px;
    top: 345px;
    overflow: visible;
}
.Ellipse_4-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
.Icon_awesome_bread_slice-filters {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
}
#Bread-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
#fish-field-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 467px;
    top: 345px;
    overflow: visible;
}
#Group_65-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_u-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#___Fish-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_fish-filters {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 12.05px;
    top: 15.25px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_68-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 549px;
    top: 345px;
    overflow: visible;
}
#Group_64-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_z-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Cheese-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_cheese-filters {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 13.001px;
    top: 12.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_69-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 625px;
    top: 345px;
    overflow: visible;
}
#Group_63-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 6px;
    top: 0px;
}
#Vegetable-filters {
    position: absolute;
    left: 0px;
    top: 64px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_carrot-filters {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 21.079px;
    top: 9.082px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_70-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 713px;
    top: 345px;
    overflow: visible;
}
#Group_62-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_ba-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Bread_ba-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_coffee-filters {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 13.408px;
    top: 21.077px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_71-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 795px;
    top: 345px;
    overflow: visible;
}
#Group_61-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_be-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Fruits-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_apple_alt-filters {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 17.494px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_72-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 877px;
    top: 345px;
    overflow: visible;
}
#Group_60-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_bj-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Drinks-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_wine_bottle-filters {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 12.883px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
}
#apply-button-filters {
    position: absolute;
    width: 611.55px;
height: 51px;
left: 340px;
top: 578px;
    overflow: visible;
    background-color:#fdf5db;
}
.Rectangle_14-filters {
    position: absolute;
    overflow: visible;
    width: 603px;
    height: 51px;
    left: 0px;
    top: 0px;
}
#APPLY-filters {
    position: absolute;
    left: 263px;
    top: 8px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,111,97,1);
}


#add-product{
    position:absolute;
    z-index: 2;
}
#product-opacity-background{
    position:absolute;
    width:1280px;
    height: 663px;
    top:137px;
    background-color: #006F61;
    opacity: 70%;
}



.Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 691px;
    height: 635px;
    left: 295px;
    top: 165px;
}
#Add_Product {
    position: absolute;
    left: 558.929px;
    top: 190px;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,111,97,1);
}
#Product_Name {
    position: absolute;
    left: 365.929px;
    top: 267px;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Homemade_Product___ {
    position: absolute;
    left: 365.929px;
    top: 542px;
    overflow: visible;
    width: 275px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Product_Category {
    position: absolute;
    left: 365.929px;
    top: 368px;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Expiration_Date {
    position: absolute;
    left: 365.929px;
    top: 595px;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
.Icon_metro_exit {
    overflow: visible;
    position: absolute;
    width: 31.699px;
    height: 33.812px;
    left: 926.23px;
    top: 193.094px;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 309px;
}
.Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 646px;
}
.Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 366px;
    top: 730px;
}
#Group_66 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 365.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
.Icon_awesome_bread_slice {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
}
#Bakery {
    position: absolute;
    left: 4px;
    top: 63px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_65 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 447.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_ {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#___Fish {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_64 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 529.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_ba {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Dairy {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_63 {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 600.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bb {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 11px;
    top: 0px;
}
#Vegetables {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_60 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 693.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bc {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Meat {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_67 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 691.929px;
    top: 529px;
    overflow: visible;
}
.Ellipse_4_bf {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Group_61 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 775.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bh {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Fruits {
    position: absolute;
    left: 9px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_68 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 773.929px;
    top: 529px;
    overflow: visible;
}
.Ellipse_4_bk {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Group_62 {
    position: absolute;
    width: 58px;
    height: 80px;
    left: 857.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bm {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Drinks {
    position: absolute;
    left: 7px;
    top: 62px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
.Icon_awesome_fish {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 459.979px;
    top: 436.25px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_cheese {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 542.93px;
    top: 433.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_carrot {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 627.008px;
    top: 430.082px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_coffee {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 707.337px;
    top: 442.077px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_apple_alt {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 793.423px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_wine_bottle {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 870.813px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
}
.ic_done_24px {
    overflow: visible;
    position: absolute;
    width: 23.201px;
    height: 17.665px;
    left: 708.929px;
    top: 549px;
    transform: matrix(1,0,0,1,0,0);
}
.ic_clear_24px {
    overflow: visible;
    position: absolute;
    width: 21.065px;
    height: 21.065px;
    left: 791.929px;
    top: 547px;
    transform: matrix(1,0,0,1,0,0);
}
#APPLY-product {
    position: absolute;
    left: 609px;
    top: 735px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(253,245,219,1);
}