<div *ngIf="addProduct" id="add-product">
    <div id="product-opacity-background"></div>
    <svg class="Rectangle_24">
        <rect fill="rgba(253,245,219,1)" id="Rectangle_24" rx="50" ry="50" x="0" y="0" width="691" height="635">
        </rect>
    </svg>
    <div id="Add_Product">
        <span>Add Product</span>
    </div>
    <div id="Product_Name">
        <span>Product Name</span>
    </div>
    <div id="Product_Category">
        <span>Product Category</span>
    </div>
    <div id="Expiration_Date">
        <span>Expiration Date</span>
    </div>
    <svg (click)="productController()" class="Icon_metro_exit" viewBox="2.571 1.928 31.699 33.812">
        <path fill="rgba(0,111,97,1)" id="Icon_metro_exit" d="M 27.92995643615723 23.06074523925781 L 27.92995643615723 18.83420181274414 L 17.36359977722168 18.83420181274414 L 17.36359977722168 14.6076602935791 L 27.92995643615723 14.6076602935791 L 27.92995643615723 10.38111782073975 L 34.2697639465332 16.7209300994873 L 27.92995643615723 23.06074523925781 Z M 25.81668472290039 20.94747352600098 L 25.81668472290039 29.40055656433105 L 15.25032806396484 29.40055656433105 L 15.25032806396484 35.7403678894043 L 2.570701599121094 29.40055847167969 L 2.570701599121094 1.928033590316772 L 25.81668472290039 1.928033590316772 L 25.81668472290039 12.4943904876709 L 23.70341300964355 12.4943904876709 L 23.70341300964355 4.041304588317871 L 6.797244071960449 4.041304588317871 L 15.25032806396484 8.267847061157227 L 15.25032806396484 27.28728485107422 L 23.70341300964355 27.28728485107422 L 23.70341300964355 20.94747352600098 L 25.81668472290039 20.94747352600098 Z">
        </path>
    </svg>
    <svg class="Rectangle_22">
        <rect fill="rgba(255,255,255,1)" stroke="rgba(0,111,97,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_22" rx="24" ry="24" x="0" y="0" width="550" height="48">
        </rect>
    </svg>
    <svg class="Rectangle_23">
        <rect fill="rgba(255,255,255,1)" stroke="rgba(0,111,97,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_23" rx="24" ry="24" x="0" y="0" width="550" height="48">
        </rect>
    </svg>
    <svg class="Rectangle_25">
        <rect fill="rgba(249,112,90,1)" id="Rectangle_25" rx="24" ry="24" x="0" y="0" width="550" height="48">
        </rect>
    </svg>
    <div id="Group_66">
        <svg class="Ellipse_4">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <svg class="Icon_awesome_bread_slice" viewBox="0 0 33.667 29.926">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_bread_slice" d="M 16.83337783813477 0 C 6.312516689300537 0 0 5.459157943725586 0 9.886102676391602 C 0 11.65711402893066 1.416809320449829 13.09262657165527 3.740750551223755 13.09262657165527 L 3.740750551223755 28.05562973022461 C 3.740750551223755 29.08842658996582 4.682952404022217 29.92600440979004 5.84492301940918 29.92600440979004 L 27.82183265686035 29.92600440979004 C 28.98380279541016 29.92600440979004 29.92600440979004 29.08842658996582 29.92600440979004 28.05562973022461 L 29.92600440979004 13.09262657165527 C 32.24994659423828 13.09262657165527 33.66675567626953 11.65711402893066 33.66675567626953 9.886102676391602 C 33.66675567626953 5.459157943725586 27.35423851013184 0 16.83337783813477 0 Z">
            </path>
        </svg>
        <div id="Bakery">
            <span>Bakery</span>
        </div>
    </div>
    <div id="Group_65">
        <svg class="Ellipse_4_">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="___Fish">
            <span>   Fish</span>
        </div>
    </div>
    <div id="Group_64">
        <svg class="Ellipse_4_ba">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_ba" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="Dairy">
            <span>Dairy</span>
        </div>
    </div>
    <div id="Group_63">
        <svg class="Ellipse_4_bb">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_bb" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="Vegetables">
            <span>Vegetables</span>
        </div>
    </div>
    <div id="Group_60">
        <svg class="Ellipse_4_bc">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_bc" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="Meat">
            <span>Meat</span>
        </div>
    </div>

    <div id="Group_61">
        <svg class="Ellipse_4_bh">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_bh" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="Fruits">
            <span>Fruits</span>
        </div>
    </div>
   
    <div id="Group_62">
        <svg class="Ellipse_4_bm">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_bm" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <div id="Drinks">
            <span>Drinks</span>
        </div>
    </div>
    <svg class="Icon_awesome_fish" viewBox="0 6.75 34 26.95">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_fish" d="M 14.69189453125 6.75 C 20.00261306762695 6.75 24.64041519165039 11.36265277862549 27.22169494628906 15.30913639068604 L 32.37657928466797 9.74649715423584 C 33.09258270263672 8.973371505737305 34.16157531738281 9.797029495239258 33.97858810424805 10.98114204406738 L 32.55130004882812 20.2249755859375 L 33.97917938232422 29.46965217590332 C 34.16216278076172 30.65376281738281 33.09317398071289 31.47658157348633 32.37716674804688 30.70429611206055 L 27.2222843170166 25.14165687561035 C 24.64100646972656 29.08729934692383 20.00261306762695 33.699951171875 14.69189453125 33.699951171875 C 6.577951431274414 33.699951171875 -8.7738037109375e-05 22.91996955871582 -8.7738037109375e-05 20.2249755859375 C -8.7738037109375e-05 17.52997970581055 6.577951431274414 6.75 14.69189453125 6.75 Z M 9.531105041503906 22.2462215423584 C 10.31322288513184 22.2462215423584 10.94776916503906 21.34087181091309 10.94776916503906 20.2249755859375 C 10.94776916503906 19.10823440551758 10.31322288513184 18.20372772216797 9.531105041503906 18.20372772216797 C 8.748397827148438 18.20372772216797 8.114442825317383 19.10823440551758 8.114442825317383 20.2249755859375 C 8.114442825317383 21.34087181091309 8.748989105224609 22.2462215423584 9.531105041503906 22.2462215423584 Z">
        </path>
    </svg>
    <svg class="Icon_awesome_cheese" viewBox="0 2.249 31.999 28">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_cheese" d="M 0 18.24909591674805 L 0 28.24862861633301 C 0 29.35314750671387 0.8953885436058044 30.24853706359863 1.999906182289124 30.24853706359863 L 29.99860000610352 30.24853706359863 C 31.10311889648438 30.24853706359863 31.99850654602051 29.35314750671387 31.99850654602051 28.24862861633301 L 31.99850654602051 18.24909591674805 L 0 18.24909591674805 Z M 18.73850059509277 2.249844312667847 C 18.2601432800293 2.232941389083862 17.79158782958984 2.388165473937988 17.41793823242188 2.687323570251465 L 0 16.24918937683105 L 31.99850654602051 16.24918937683105 C 31.99850654602051 8.756415367126465 26.123779296875 2.637326240539551 18.73850059509277 2.249844312667847 Z">
        </path>
    </svg>
    <svg class="Icon_awesome_carrot" viewBox="0.003 0 33.841 33.842">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_carrot" d="M 19.71192359924316 10.35162448883057 C 16.22832870483398 8.65279483795166 12.1432056427002 9.657549858093262 9.783351898193359 12.51978206634521 L 13.43220043182373 16.16862869262695 C 13.84864521026611 16.58507347106934 13.84864521026611 17.25270843505859 13.43220043182373 17.66254234313965 C 13.2272834777832 17.86746025085449 12.95626354217529 17.97322273254395 12.6852445602417 17.97322273254395 C 12.41422653198242 17.97322273254395 12.1432056427002 17.86746025085449 11.93828964233398 17.66254234313965 L 8.619950294494629 14.34420490264893 L 0.1522430628538132 31.70928573608398 C -0.03945368155837059 32.10589981079102 -0.05267414450645447 32.58844757080078 0.1522430628538132 33.01149749755859 C 0.5091956853866577 33.74523544311523 1.40157687664032 34.0493049621582 2.135312795639038 33.69235229492188 L 10.96658515930176 29.38248443603516 L 7.714349269866943 26.13024520874023 C 7.297904491424561 25.72041130065918 7.297904491424561 25.04616928100586 7.714349269866943 24.6363353729248 C 8.130793571472168 24.22650146484375 8.798426628112793 24.22650146484375 9.208261489868164 24.6363353729248 L 12.97609519958496 28.40417098999023 L 19.71853446960449 25.11227226257324 C 21.30498886108398 24.33887481689453 22.66008758544922 23.04327011108398 23.49297523498535 21.33782768249512 C 25.48265266418457 17.25931549072266 23.79043579101562 12.3413028717041 19.71192359924316 10.35162162780762 Z M 25.79994583129883 8.04465389251709 C 27.08893966674805 5.354288578033447 26.42130851745605 2.174766540527344 23.79704475402832 0 C 20.47209930419922 2.756466865539551 20.32667350769043 7.106000423431396 23.27483558654785 10.04094409942627 L 23.80365562438965 10.56976222991943 C 26.73859786987305 13.51792526245117 31.09474182128906 13.3725004196167 33.84459686279297 10.04755401611328 C 31.66982841491699 7.423291206359863 28.49030685424805 6.75565767288208 25.79994583129883 8.04465389251709 Z">
        </path>
    </svg>
    <svg class="Icon_awesome_coffee" viewBox="-0.004 2.25 32.366 22.654">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_coffee" d="M 9.707764625549316 20.04959678649902 L 19.4166374206543 20.04959678649902 C 22.09668731689453 20.04959678649902 24.27107238769531 17.87521362304688 24.27107238769531 15.19516086578369 L 25.88921737670898 15.19516086578369 C 29.45925140380859 15.19516086578369 32.36180114746094 12.29261207580566 32.36180114746094 8.722579956054688 C 32.36180114746094 5.152547836303711 29.45925140380859 2.249999046325684 25.88921737670898 2.249999046325684 L 6.066938400268555 2.249999046325684 C 5.394397258758545 2.249999046325684 4.853330135345459 2.79106616973877 4.853330135345459 3.463608264923096 L 4.853330135345459 15.19516086578369 C 4.853330135345459 17.87521362304688 7.027712345123291 20.04959678649902 9.707764625549316 20.04959678649902 Z M 25.88921737670898 5.486289978027344 C 27.67423820495605 5.486289978027344 29.12550926208496 6.937563419342041 29.12550926208496 8.722579956054688 C 29.12550926208496 10.50759601593018 27.67423820495605 11.95886898040771 25.88921737670898 11.95886898040771 L 24.27107238769531 11.95886898040771 L 24.27107238769531 5.486289978027344 L 25.88921737670898 5.486289978027344 Z M 28.30126571655273 24.90403175354004 L 2.441282272338867 24.90403175354004 C 0.03429146856069565 24.90403175354004 -0.6433068513870239 21.6677417755127 0.6208690404891968 21.6677417755127 L 30.11662483215332 21.6677417755127 C 31.38080215454102 21.6677417755127 30.71331787109375 24.90403175354004 28.30126953125 24.90403175354004 Z">
        </path>
    </svg>
    <svg class="Icon_awesome_apple_alt" viewBox="-0.001 0 25.411 29.041">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_apple_alt" d="M 19.90011978149414 7.316912651062012 C 21.37314414978027 7.581796646118164 22.58128547668457 8.375880241394043 23.52567863464355 9.699163436889648 C 24.35663032531738 10.87157154083252 24.92326545715332 12.34629821777344 25.22501754760742 14.1233434677124 C 25.48990058898926 15.74951362609863 25.47004699707031 17.3751163482666 25.16829681396484 19.00128555297852 C 24.71510124206543 21.68585395812988 23.80871200561523 23.93594741821289 22.44912719726562 25.75099563598633 C 20.82465934753418 27.94436645507812 18.78556632995605 29.040771484375 16.33071327209473 29.040771484375 C 15.72607517242432 29.040771484375 15.06585121154785 28.85189056396484 14.34777164459229 28.47356796264648 C 13.85657405853271 28.1712474822998 13.30922317504883 28.01980590820312 12.70458602905273 28.01980590820312 C 12.09994792938232 28.01980590820312 11.5531644821167 28.1712474822998 11.06140041351318 28.47356796264648 C 10.34332180023193 28.85189056396484 9.683097839355469 29.040771484375 9.078459739685059 29.040771484375 C 6.623607158660889 29.040771484375 4.584514141082764 27.94436645507812 2.960046052932739 25.75099563598633 C 1.600461363792419 23.93594741821289 0.6940718293190002 21.68585395812988 0.2408769875764847 19.00128555297852 C -0.06087477132678032 17.3751163482666 -0.08072684705257416 15.74951362609863 0.184156745672226 14.1233434677124 C 0.4859085381031036 12.34629821777344 1.052543759346008 10.87157154083252 1.883495569229126 9.699163436889648 C 2.827888011932373 8.375880241394043 4.03602933883667 7.581796646118164 5.509054183959961 7.316912651062012 C 6.415443897247314 7.165469646453857 7.661588191986084 7.298195362091064 9.248053550720215 7.713954448699951 C 10.60763835906982 8.092278480529785 11.7596263885498 8.546040534973145 12.70401859283447 9.075241088867188 C 13.64841079711914 8.546040534973145 14.80039978027344 8.092278480529785 16.15998458862305 7.713954448699951 C 17.74701881408691 7.298195362091064 18.99372863769531 7.165469646453857 19.90011787414551 7.316912651062012 Z M 16.78390884399414 4.991382598876953 C 16.25527763366699 5.483147144317627 15.5559139251709 5.842186450958252 14.68752670288086 6.069067478179932 C 14.08288955688477 6.257945537567139 13.4226655960083 6.352668762207031 12.70458602905273 6.352668762207031 L 11.85491752624512 6.295948505401611 C 11.77947998046875 5.766748428344727 11.77947998046875 5.161543369293213 11.85491752624512 4.480900287628174 C 12.00636100769043 3.119614124298096 12.44027042388916 2.079931735992432 13.15778160095215 1.361286163330078 C 13.68641376495361 0.8695214986801147 14.38577556610107 0.5104823112487793 15.25416278839111 0.2836012840270996 C 15.85880088806152 0.09472282975912094 16.5190258026123 0 17.23710441589355 0 L 18.0867748260498 0.05672025680541992 L 18.14349555969238 0.9075241088867188 C 18.14349555969238 1.626169681549072 18.04877281188965 2.287527799606323 17.8604621887207 2.892733097076416 C 17.63414764404297 3.762254238128662 17.27567481994629 4.462182521820068 16.78391075134277 4.991382598876953 Z">
        </path>
    </svg>
    <svg class="Icon_awesome_wine_bottle" viewBox="0.001 0 32.233 32.233">
        <path fill="rgba(0,111,97,1)" id="Icon_awesome_wine_bottle" d="M 31.93827056884766 4.568737030029297 L 27.66482353210449 0.2952820658683777 C 27.27134704589844 -0.09819305688142776 26.63360214233398 -0.09819305688142776 26.24012756347656 0.2952820658683777 L 24.81543350219727 1.719977021217346 C 24.42195892333984 2.113452196121216 24.42195892333984 2.751196622848511 24.81543350219727 3.14467191696167 L 19.98859405517578 7.97150993347168 C 17.05610466003418 6.731276988983154 13.54189777374268 7.295992851257324 11.15145778656006 9.68580436706543 L 1.180480599403381 19.65677642822266 C -0.3927904367446899 21.23004722595215 -0.3927904367446899 23.78165435791016 1.180480599403381 25.35492706298828 L 6.8786301612854 31.05307388305664 C 8.451901435852051 32.62634658813477 11.00350952148438 32.62634658813477 12.57678031921387 31.05307388305664 L 22.54838371276855 21.08147239685059 C 24.93819427490234 18.69165992736816 25.5029125213623 15.17682647705078 24.2626781463623 12.24433708190918 L 29.08951377868652 7.417496681213379 C 29.48298835754395 7.810972213745117 30.12073135375977 7.810972213745117 30.51420783996582 7.417496681213379 L 31.93889808654785 5.992802143096924 C 32.33174896240234 5.599956512451172 32.33174896240234 4.962212085723877 31.93827056884766 4.568737030029297 Z M 11.283034324646 26.64867401123047 L 5.584883689880371 20.95052337646484 L 13.26803779602051 13.26737117767334 L 18.96618843078613 18.96551895141602 L 11.28303527832031 26.64867210388184 Z">
        </path>
    </svg>
    <div (click)="productController()" id="APPLY-product">
        <span>APPLY</span>
    </div>


</div>

<div id="menu-bar-is-open" *ngIf="showMenu">
<div (click)="menuController()" id="menu-txt-open">Menu</div>
<div  (click)="menuController()"id="menu-icon-open"></div>
<div id="menu-background-open">
  <p class="mbio-notification-text">Dont forget to check your notifications</p>
  <button class="mbio-alert-icon"></button>
  <div id="mbio-dashboard">

    <div (click)="redirect('kitchen')" id="mbio-kitchen"></div>
    <div (click)="redirect('super-market')" id="mbio-supermarket" (click)="redirect('super-market')"></div>
    <div (click)="redirect('inventory-manager')" id="mbio-invmanager"></div>
    <div id="mbio-recepies"></div>
    <div (click)="redirect('profile')" id="mbio-profile"></div>

  <button id="mbio-recurring-btn"></button>
  <button id="mbio-favourite-btn"></button>
     
  </div>
  <div class="mbio-lightbar1"></div>
  <div class="mbio-lightbar2"></div>
</div>
</div>

<div id="filter-bar-is-open" *ngIf="showFilter">
<div (click)="filterController()" id="filter-txt-open">Filters</div>
<div (click)="filterController()" id="filter-icon-open"></div>
<div id="filter-background-open">

<div id="The-filters">

    <div id="bread-field-filters">
        <svg class="Ellipse_4-filters">
            <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4" rx="29" ry="29" cx="29" cy="29">
            </ellipse>
        </svg>
        <svg class="Icon_awesome_bread_slice-filters" viewBox="0 0 33.667 29.926">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_bread_slice" d="M 16.83337783813477 0 C 6.312516689300537 0 0 5.459157943725586 0 9.886102676391602 C 0 11.65711402893066 1.416809320449829 13.09262657165527 3.740750551223755 13.09262657165527 L 3.740750551223755 28.05562973022461 C 3.740750551223755 29.08842658996582 4.682952404022217 29.92600440979004 5.84492301940918 29.92600440979004 L 27.82183265686035 29.92600440979004 C 28.98380279541016 29.92600440979004 29.92600440979004 29.08842658996582 29.92600440979004 28.05562973022461 L 29.92600440979004 13.09262657165527 C 32.24994659423828 13.09262657165527 33.66675567626953 11.65711402893066 33.66675567626953 9.886102676391602 C 33.66675567626953 5.459157943725586 27.35423851013184 0 16.83337783813477 0 Z">
            </path>
        </svg>
        <div id="Bread-filters">
            <span>Bread</span>
        </div>
    </div>
    <div id="fish-field-filters">
        <div id="Group_65-filters">
            <svg class="Ellipse_4_u-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_u-filters" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="___Fish-filters">
                <span>   Fish</span>
            </div>
        </div>
        <svg class="Icon_awesome_fish-filters" viewBox="0 6.75 34 26.95">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_fish" d="M 14.69189453125 6.75 C 20.00261306762695 6.75 24.64041519165039 11.36265277862549 27.22169494628906 15.30913639068604 L 32.37657928466797 9.74649715423584 C 33.09258270263672 8.973371505737305 34.16157531738281 9.797029495239258 33.97858810424805 10.98114204406738 L 32.55130004882812 20.2249755859375 L 33.97917938232422 29.46965217590332 C 34.16216278076172 30.65376281738281 33.09317398071289 31.47658157348633 32.37716674804688 30.70429611206055 L 27.2222843170166 25.14165687561035 C 24.64100646972656 29.08729934692383 20.00261306762695 33.699951171875 14.69189453125 33.699951171875 C 6.577951431274414 33.699951171875 -8.7738037109375e-05 22.91996955871582 -8.7738037109375e-05 20.2249755859375 C -8.7738037109375e-05 17.52997970581055 6.577951431274414 6.75 14.69189453125 6.75 Z M 9.531105041503906 22.2462215423584 C 10.31322288513184 22.2462215423584 10.94776916503906 21.34087181091309 10.94776916503906 20.2249755859375 C 10.94776916503906 19.10823440551758 10.31322288513184 18.20372772216797 9.531105041503906 18.20372772216797 C 8.748397827148438 18.20372772216797 8.114442825317383 19.10823440551758 8.114442825317383 20.2249755859375 C 8.114442825317383 21.34087181091309 8.748989105224609 22.2462215423584 9.531105041503906 22.2462215423584 Z">
            </path>
        </svg>
    </div>
    <div id="Group_68-filters">
        <div id="Group_64-filters">
            <svg class="Ellipse_4_z-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_z-filters" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="Cheese-filters">
                <span>Cheese</span>
            </div>
        </div>
        <svg class="Icon_awesome_cheese-filters" viewBox="0 2.249 31.999 28">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_cheese" d="M 0 18.24909591674805 L 0 28.24862861633301 C 0 29.35314750671387 0.8953885436058044 30.24853706359863 1.999906182289124 30.24853706359863 L 29.99860000610352 30.24853706359863 C 31.10311889648438 30.24853706359863 31.99850654602051 29.35314750671387 31.99850654602051 28.24862861633301 L 31.99850654602051 18.24909591674805 L 0 18.24909591674805 Z M 18.73850059509277 2.249844312667847 C 18.2601432800293 2.232941389083862 17.79158782958984 2.388165473937988 17.41793823242188 2.687323570251465 L 0 16.24918937683105 L 31.99850654602051 16.24918937683105 C 31.99850654602051 8.756415367126465 26.123779296875 2.637326240539551 18.73850059509277 2.249844312667847 Z">
            </path>
        </svg>
    </div>
    <div id="Group_69-filters">
        <div id="Group_63-filters">
            <svg class="Ellipse_4_-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="Vegetable-filters">
                <span>Vegetable</span>
            </div>
        </div>
        <svg class="Icon_awesome_carrot-filters" viewBox="0.003 0 33.841 33.842">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_carrot" d="M 19.71192359924316 10.35162448883057 C 16.22832870483398 8.65279483795166 12.1432056427002 9.657549858093262 9.783351898193359 12.51978206634521 L 13.43220043182373 16.16862869262695 C 13.84864521026611 16.58507347106934 13.84864521026611 17.25270843505859 13.43220043182373 17.66254234313965 C 13.2272834777832 17.86746025085449 12.95626354217529 17.97322273254395 12.6852445602417 17.97322273254395 C 12.41422653198242 17.97322273254395 12.1432056427002 17.86746025085449 11.93828964233398 17.66254234313965 L 8.619950294494629 14.34420490264893 L 0.1522430628538132 31.70928573608398 C -0.03945368155837059 32.10589981079102 -0.05267414450645447 32.58844757080078 0.1522430628538132 33.01149749755859 C 0.5091956853866577 33.74523544311523 1.40157687664032 34.0493049621582 2.135312795639038 33.69235229492188 L 10.96658515930176 29.38248443603516 L 7.714349269866943 26.13024520874023 C 7.297904491424561 25.72041130065918 7.297904491424561 25.04616928100586 7.714349269866943 24.6363353729248 C 8.130793571472168 24.22650146484375 8.798426628112793 24.22650146484375 9.208261489868164 24.6363353729248 L 12.97609519958496 28.40417098999023 L 19.71853446960449 25.11227226257324 C 21.30498886108398 24.33887481689453 22.66008758544922 23.04327011108398 23.49297523498535 21.33782768249512 C 25.48265266418457 17.25931549072266 23.79043579101562 12.3413028717041 19.71192359924316 10.35162162780762 Z M 25.79994583129883 8.04465389251709 C 27.08893966674805 5.354288578033447 26.42130851745605 2.174766540527344 23.79704475402832 0 C 20.47209930419922 2.756466865539551 20.32667350769043 7.106000423431396 23.27483558654785 10.04094409942627 L 23.80365562438965 10.56976222991943 C 26.73859786987305 13.51792526245117 31.09474182128906 13.3725004196167 33.84459686279297 10.04755401611328 C 31.66982841491699 7.423291206359863 28.49030685424805 6.75565767288208 25.79994583129883 8.04465389251709 Z">
            </path>
        </svg>
    </div>
    <div id="Group_70-filters">
        <div id="Group_62-filters">
            <svg class="Ellipse_4_ba-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_ba" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="Bread_ba-filters">
                <span>Bread</span>
            </div>
        </div>
        <svg class="Icon_awesome_coffee-filters" viewBox="-0.004 2.25 32.366 22.654">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_coffee-filters" d="M 9.707764625549316 20.04959678649902 L 19.4166374206543 20.04959678649902 C 22.09668731689453 20.04959678649902 24.27107238769531 17.87521362304688 24.27107238769531 15.19516086578369 L 25.88921737670898 15.19516086578369 C 29.45925140380859 15.19516086578369 32.36180114746094 12.29261207580566 32.36180114746094 8.722579956054688 C 32.36180114746094 5.152547836303711 29.45925140380859 2.249999046325684 25.88921737670898 2.249999046325684 L 6.066938400268555 2.249999046325684 C 5.394397258758545 2.249999046325684 4.853330135345459 2.79106616973877 4.853330135345459 3.463608264923096 L 4.853330135345459 15.19516086578369 C 4.853330135345459 17.87521362304688 7.027712345123291 20.04959678649902 9.707764625549316 20.04959678649902 Z M 25.88921737670898 5.486289978027344 C 27.67423820495605 5.486289978027344 29.12550926208496 6.937563419342041 29.12550926208496 8.722579956054688 C 29.12550926208496 10.50759601593018 27.67423820495605 11.95886898040771 25.88921737670898 11.95886898040771 L 24.27107238769531 11.95886898040771 L 24.27107238769531 5.486289978027344 L 25.88921737670898 5.486289978027344 Z M 28.30126571655273 24.90403175354004 L 2.441282272338867 24.90403175354004 C 0.03429146856069565 24.90403175354004 -0.6433068513870239 21.6677417755127 0.6208690404891968 21.6677417755127 L 30.11662483215332 21.6677417755127 C 31.38080215454102 21.6677417755127 30.71331787109375 24.90403175354004 28.30126953125 24.90403175354004 Z">
            </path>
        </svg>
    </div>
    <div id="Group_71-filters">
        <div id="Group_61-filters">
            <svg class="Ellipse_4_be-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_be-filters" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="Fruits-filters">
                <span>Fruits</span>
            </div>
        </div>
        <svg class="Icon_awesome_apple_alt-filters" viewBox="-0.001 0 25.411 29.041">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_apple_alt" d="M 19.90011978149414 7.316912651062012 C 21.37314414978027 7.581796646118164 22.58128547668457 8.375880241394043 23.52567863464355 9.699163436889648 C 24.35663032531738 10.87157154083252 24.92326545715332 12.34629821777344 25.22501754760742 14.1233434677124 C 25.48990058898926 15.74951362609863 25.47004699707031 17.3751163482666 25.16829681396484 19.00128555297852 C 24.71510124206543 21.68585395812988 23.80871200561523 23.93594741821289 22.44912719726562 25.75099563598633 C 20.82465934753418 27.94436645507812 18.78556632995605 29.040771484375 16.33071327209473 29.040771484375 C 15.72607517242432 29.040771484375 15.06585121154785 28.85189056396484 14.34777164459229 28.47356796264648 C 13.85657405853271 28.1712474822998 13.30922317504883 28.01980590820312 12.70458602905273 28.01980590820312 C 12.09994792938232 28.01980590820312 11.5531644821167 28.1712474822998 11.06140041351318 28.47356796264648 C 10.34332180023193 28.85189056396484 9.683097839355469 29.040771484375 9.078459739685059 29.040771484375 C 6.623607158660889 29.040771484375 4.584514141082764 27.94436645507812 2.960046052932739 25.75099563598633 C 1.600461363792419 23.93594741821289 0.6940718293190002 21.68585395812988 0.2408769875764847 19.00128555297852 C -0.06087477132678032 17.3751163482666 -0.08072684705257416 15.74951362609863 0.184156745672226 14.1233434677124 C 0.4859085381031036 12.34629821777344 1.052543759346008 10.87157154083252 1.883495569229126 9.699163436889648 C 2.827888011932373 8.375880241394043 4.03602933883667 7.581796646118164 5.509054183959961 7.316912651062012 C 6.415443897247314 7.165469646453857 7.661588191986084 7.298195362091064 9.248053550720215 7.713954448699951 C 10.60763835906982 8.092278480529785 11.7596263885498 8.546040534973145 12.70401859283447 9.075241088867188 C 13.64841079711914 8.546040534973145 14.80039978027344 8.092278480529785 16.15998458862305 7.713954448699951 C 17.74701881408691 7.298195362091064 18.99372863769531 7.165469646453857 19.90011787414551 7.316912651062012 Z M 16.78390884399414 4.991382598876953 C 16.25527763366699 5.483147144317627 15.5559139251709 5.842186450958252 14.68752670288086 6.069067478179932 C 14.08288955688477 6.257945537567139 13.4226655960083 6.352668762207031 12.70458602905273 6.352668762207031 L 11.85491752624512 6.295948505401611 C 11.77947998046875 5.766748428344727 11.77947998046875 5.161543369293213 11.85491752624512 4.480900287628174 C 12.00636100769043 3.119614124298096 12.44027042388916 2.079931735992432 13.15778160095215 1.361286163330078 C 13.68641376495361 0.8695214986801147 14.38577556610107 0.5104823112487793 15.25416278839111 0.2836012840270996 C 15.85880088806152 0.09472282975912094 16.5190258026123 0 17.23710441589355 0 L 18.0867748260498 0.05672025680541992 L 18.14349555969238 0.9075241088867188 C 18.14349555969238 1.626169681549072 18.04877281188965 2.287527799606323 17.8604621887207 2.892733097076416 C 17.63414764404297 3.762254238128662 17.27567481994629 4.462182521820068 16.78391075134277 4.991382598876953 Z">
            </path>
        </svg>
    </div>
    <div id="Group_72-filters">
        <div id="Group_60-filters">
            <svg class="Ellipse_4_bj-filters">
                <ellipse fill="rgba(255,255,255,1)" id="Ellipse_4_bj-filters" rx="29" ry="29" cx="29" cy="29">
                </ellipse>
            </svg>
            <div id="Drinks-filters">
                <span>Drinks</span>
            </div>
        </div>
        <svg class="Icon_awesome_wine_bottle-filters" viewBox="0.001 0 32.233 32.233">
            <path fill="rgba(0,111,97,1)" id="Icon_awesome_wine_bottle-filters" d="M 31.93827056884766 4.568737030029297 L 27.66482353210449 0.2952820658683777 C 27.27134704589844 -0.09819305688142776 26.63360214233398 -0.09819305688142776 26.24012756347656 0.2952820658683777 L 24.81543350219727 1.719977021217346 C 24.42195892333984 2.113452196121216 24.42195892333984 2.751196622848511 24.81543350219727 3.14467191696167 L 19.98859405517578 7.97150993347168 C 17.05610466003418 6.731276988983154 13.54189777374268 7.295992851257324 11.15145778656006 9.68580436706543 L 1.180480599403381 19.65677642822266 C -0.3927904367446899 21.23004722595215 -0.3927904367446899 23.78165435791016 1.180480599403381 25.35492706298828 L 6.8786301612854 31.05307388305664 C 8.451901435852051 32.62634658813477 11.00350952148438 32.62634658813477 12.57678031921387 31.05307388305664 L 22.54838371276855 21.08147239685059 C 24.93819427490234 18.69165992736816 25.5029125213623 15.17682647705078 24.2626781463623 12.24433708190918 L 29.08951377868652 7.417496681213379 C 29.48298835754395 7.810972213745117 30.12073135375977 7.810972213745117 30.51420783996582 7.417496681213379 L 31.93889808654785 5.992802143096924 C 32.33174896240234 5.599956512451172 32.33174896240234 4.962212085723877 31.93827056884766 4.568737030029297 Z M 11.283034324646 26.64867401123047 L 5.584883689880371 20.95052337646484 L 13.26803779602051 13.26737117767334 L 18.96618843078613 18.96551895141602 L 11.28303527832031 26.64867210388184 Z">
            </path>
        </svg>
    </div>
    <div (click)="filterController()" id="apply-button-filters">
       
        <div  id="APPLY-filters">
            <span>APPLY</span>
        </div>
    </div>
</div>
</div>
</div>

<button (click)="productController()"  class="toggle-menu-btn2"><i class="fa fa-plus"></i></button>

<div  id="bottom-menu">

<div (click)="menuController()" id="bottom-left-menu">
    <div  id="MenuBar">
        <div id="menu-txt">Menu</div>
        <div id="menu-icon"></div>
    </div>
</div>
<div (click)="filterController()" id="bottom-right-menu">
    <div id="FilterBar">
        <div id="filter-txt">Filters</div>
        <div id="filter-icon"></div>
    </div>
</div>
</div>
