<div id="{{product.product_details.id}}" class="product mb-4">
    <div id="thebackground" class="thebackground"></div>
    <div id="pr-background" class="pr-background"></div>
    <img id="productimg" [src]="prodImg">
    <button id="productremove-btn" class="remove-btn" (click)="deleteProduct()" style="border: none;
    position: absolute;
    background-color: transparent;
    left: 304px;
    font-size: 15px;
    top: 5px;
    color: #fdf5db">remove</button>
    <div id="producttxt" class="product-txt pr1-positioning">{{product.product_details.name}}</div>
    <div id="tagtxt">{{product.details.tags}}</div>
    <div id="categorytxt">{{product.details.category}}</div>
    <div id="ammountxt">{{product.details.ammount_to_buy}}</div>
</div>