#productlist {
    position: relative;
    top: 60px;
  }
  .product {
    position: absolute;
    left: 29px;
    top: 122px;
    border-radius: 0px;
    z-index: 2;
  }
  //horizontal: 420 px;
  //vertical: 150px;
  
  .thebackground {
    position: absolute;
    width: 377.49px;
    height: 131px;
    opacity: 71%;
    background-color: #5daa3b;
    border-radius: 10px;
  }
  .pr-background {
    position: absolute;
    left: 9px;
    top: 8px;
    width: 134px;
    height: 115px;
    opacity: 71%;
    background-color: #fdf5db;
    border-radius: 10px;
  }
  #pr1-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/sp-list/cheese.png");
  }
  #pr2-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 27px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/sp-list/coffee-recurring.png");
   
  }
  #pr3-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/sp-list/sugar-recurring.png");  
  }
  #pr4-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 25px;
    left: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/sp-list/milk-recurring.png");  
  }
  #pr5-img {
    position: absolute;
    width: 128px;
  height: 99px;
  top: 42px;
  left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/sp-list/chocolate-favourite.png");  
  }
  .pr1-positioning {
    position: relative;
    left: 163px;
    top: 16px;
  }
  .product-txt {
    font-size: 25px;
    color: #fdf5db;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pr1-brand-positioning {
    position: absolute;
    left: 164px;
    top: 45px;
  }
  .product-brand-txt {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #344a5e;
  }

  .how-much-kg {
    position: absolute;
    left: 241px;
    top: 97px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #344a5e;
  }

  #productammount{
    width:65px;
    // border: none;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    text-align: center;
  }

  #productimg{
    position: absolute;
    z-index: 99;
  }