<div id="menu-bar-recurring-container">
<div (click)="yolostonvolo()" id="sp-list-left-sidebar-minimized"></div>

<div id="sp-list-left-sidebar">
  <button (click)="redirect('dashboard')" id="sp-list-left-sidebar-logo"></button>
  <button (click)="redirect('favourite-products')" id="sp-list-left-sidebar-fav">Favourites</button>
  <div (click)="redirect('shopping-list')" id="sp-list-left-sidebar-backofmyproducts"><button id="sp-list-left-sidebar-myproducts">My Products</button></div>
  <button (click)="redirect('custom-products')" id="sp-list-left-sidebar-custom">Custom Products</button>
  <button (click)="redirect('recurring-products')"  id="sp-list-left-sidebar-recurring">Recurring</button>

  <button (click)="leftMenuSideBarHide()" id="hide"></button>

</div>

<div (click)="ShowMenuSideBarWhileAfilterIsOn()" id="sp-list-left-sidebar-minimizedCat"></div>
<div id="sp-list-left-sidebarCat">
  <button (click)="redirect('dashboard')" id="sp-list-left-sidebar-logo"></button>
  <button id="sp-list-left-sidebar-fav">Favourites</button>
  <div id="sp-list-left-sidebar-backofmyproducts"><button id="sp-list-left-sidebar-myproducts">My Products</button></div>
  <button id="sp-list-left-sidebar-custom">Custom Products</button>

  <button (click)="LeftMenuSideBarHideCat()" id="hide"></button>
</div>
</div>