.product-tile-in-carousel{
    position: relative;
    width: 374px;
    height: 122px;
    overflow: visible;
    background-color: #5DAA3B;
    border-radius: 14px;
    // top:50px;
    margin-top: 30px;
}

#product-name {
	position: relative;
	left: 110px;
	top: 9px;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	font-family: Big Caslon;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: #1d3634;
	text-align: center;
}

#product-img-container {
	position: absolute;
	width: 69px;
	height: 60px;
	left: 10px;
	top: 51px;
	overflow: visible;
}

.product-img-background {
    position: absolute;
    overflow: visible;
    width: 69px;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
}

#product-img {
    position: absolute;
    width: 57px;
    height: 51px;
    left: 7px;
    top: 4px;
    overflow: visible;
    // background-image:url(../../../tablet/images/menuBarIcons/allproducts/cheese@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#product-availability{
    position: absolute;
        width: 72px;
        height: 61px;
        left: 100px;
        top: 50px;
        overflow: visible;
}

.product-availability-background{
    position: absolute;
    width: 72px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
}

#run-out-product-icon{
    position: absolute;
        width: 36px;
        height: 34px;
        left: 18px;
        top: 18px;
        overflow: visible;
        background-image:url(../../../tablet/images/menuBarIcons/allproducts/is-empty-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
}

// #run-out-product-icon {
//     position: absolute;
//     width: 36px;
//     height: 34px;
//     left: 18px;
//     top: 18px;
//     overflow: visible;
//     background-image:url(../../tablet/images/menuBarIcons/allproducts/is-empty-icon.svg);
//     background-repeat: no-repeat;
//     background-size: contain;
// }

#availability-txt{
    position: absolute;
    left: 18px;
    top: 5px;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(29,54,52,1);
}

#expiration {
    position: absolute;
    width: 73px;
    height: 61px;
    left: 195px;
    top: 50px;
    overflow: visible;
}

#expiration-background {
    opacity: 0.711;
}
.expiration-background {
    position: absolute;
    overflow: visible;
    width: 73px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
   
}

#expiration-txt{
    position: absolute;
        left: 20px;
        top: 5px;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        line-height: 20px;
        margin-top: -6px;
        text-align: left;
        font-family: Myriad Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: rgba(29,54,52,1);
}

.expiration-img{
    overflow: visible;
    position: absolute;
    width: 36.083px;
    height: 36.128px;
    left: 18px;
    top: 18.081px;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/expiration-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

#ammount{
    position: absolute;
    width: 72px;
    height: 61px;
    left: 293px;
    top: 50px;
    overflow: visible;
}
#product_background_bf{
    opacity: 0.711;
}
.ammount-background{
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    opacity: 0.711;
    border-radius:14px;
}
#ammount-txt {
    position: absolute;
    left: 19px;
    top: 5px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -6px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(29,54,52,1);
}
.ammount-img {
    overflow: visible;
    position: absolute;
    width: 35.562px;
    height: 36.128px;
    left: 18px;
    top: 18.081px;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/ammount-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

.tags {
    position: relative;
    width: 44px;
    height: 15px;
    left: 230px;
    top: 21px;
    overflow: visible;
}

.tags-background {
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 15px;
    left: 0px;
    top: 0px;
    background-color:#fdf5db;
    border:none;
    border-radius:10px;
}

#tags-txt{
    position: absolute;
    left: 8px;
    top: 1px;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: rgba(29,54,52,1);
}

//DETAILS
