<div id="product-{{product.product_details.id}}">

  <div (click)="detailsMenu()" id="productforproduct">
    <div id="placeholder-product-running-out" class="product-tile-in-carousel">

      <div id="product-name">
        <span>{{product.product_details.name}}</span>
      </div>

      <div id="product-img-container" class="product-img">
        <svg class="product-img-background"></svg>
        <img id="product-img" [src]="prodImg">
      </div>

      <div id="product-availability">
        <svg class="product-availability-background"></svg>
        <div id="run-out-product-icon" class="run-out-product-icon"></div>
        <div id="availability-txt">
          <span>Availability</span>
        </div>
      </div>

      <div id="expiration">
        <svg class="expiration-background"></svg>
        <div id="expiration-txt">
          <span>Expiration</span>
        </div>
        <svg class="expiration-img"></svg>
      </div>


      <div id="ammount">
        <svg class="ammount-background">
        </svg>
        <div id="ammount-txt">
          <span>Ammount</span>
        </div>
        <svg class="ammount-img"></svg>
      </div>

    </div>
  </div>

</div>