
<div id="scannedProductsContainer">


    <div id="mobileShoppingList">
        
            <ul class="list-group" *ngFor="let scannedProd of scannedProducts$">
                <div class="panel-heading">
                    <ami-fullstack-scan-receipt-item-mobile [product]="scannedProd">
                    </ami-fullstack-scan-receipt-item-mobile>
                </div>
            </ul>
        
    </div>

    <button id="end_classification" class="scan-receipt-end-btn" (click)="endClassification()">End
        Classification</button>
</div>