#background-item{

  width: 377.49px;
  height: 131px;
  opacity: 71%;
  background-color: #5daa3b;
  border-radius: 10px;
}

.pr1-positioning {

    left: 163px;
    top: 16px;
  }
  .product-txt {
    font-size: 25px;
    color: #fdf5db;
    font-family: Arial, Helvetica, sans-serif;
  }