<div id="blackBase">
    <div *ngIf="showNotifications">
        <drag-scroll style="width: 1280px; height: 800px;">
            <div id="notificationsContainer" *ngFor="let notification of notifications$">
                <ami-fullstack-home-devices-notif-item [notification]="notification">
                </ami-fullstack-home-devices-notif-item>
            </div>
        </drag-scroll>
    </div>
</div>