#menu-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
}

#menu-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    top:420px;
    border-top-right-radius: 100px;
    background-color: #016F61;
    display:block;
}
#menu-txt-open {
    position: absolute;
    left: 54px;
    top: 428px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdf5db;
    z-index: 1;
  }
#menu-icon-open{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:16.7px;
    top:439.63px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/menu-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
#bottom-menu{
    display:block;
}
.toggle-menu-btn2 {
    background-color: #F9705A;
    border: none;
    color: white;
    padding: 43px 43px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 729px;
    left: 601px;
    border-radius: 206px;
    z-index: 1;
}
.fa{
    position: absolute;
    top: 26px;
    left: 29px;
    width: 29px;
    height: 54px;
    color: #fdf5db;
    font-size: 36px; 
}
#bottom-left-menu{
    position:absolute;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-right-radius: 100px;
    display:block;
}
#bottom-right-menu{
    position:absolute;
    left:675px;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-left-radius: 100px;
}
#menu-icon{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:28.7px;
    top:27px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/menu-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#filter-icon{
    position:absolute;
    width:27px;
    height: 18px;
    left:560px;
    top:24px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/filter-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
   display:block;
}
#menu-txt{
    position:absolute;
    left:62px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
}
#filter-txt{
    position:absolute;
    left:470px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
}





#mbio-dashboard{
    position: absolute;
    left: 33px;
    top: 10px;
}



.mbio-notification-text{
    position:absolute;
    font-size:16px;
    color:#fdf5db;
    font-family: Arial, Helvetica, sans-serif;
    top:19px;
    left:263px;
}
.mbio-alert-icon{
    position:absolute;
    top:18.94px;
    left:535.94px;
    width:22.13px;
    height: 22.13px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/alert-icon@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:transparent;
    border:none;
}

#mbio-kitchen{
    position: absolute;
    top: 40px;
    left: 0px;
    width:150px;
    height: 150px;
    background-image: url("../../../../images/menuBarIcons/light/kitchen-ligh.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-supermarket{
    position: absolute;
    top: 80px;
    left: 139px;
    width: 66px;
    height: 70px;
    background-image: url("../../../../images/menuBarIcons/light/super-market-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-invmanager{
    position: absolute;
    top: 80px;
    left: 239px;
    width: 70px;
    height: 70px;
    background-image: url("../../../../images/menuBarIcons/light/inventory-manager-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-recepies{
    position: absolute;
    top: 85px;
    left: 343px;
    width: 70px;
    height: 56px;
    background-image: url("../../../../images/menuBarIcons/light/recipies-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
}
#mbio-profile{
    position: absolute;
    top: 80px;
    left: 429px;
    width: 70px;
    height: 64px;
    background-image: url("../../../../images/menuBarIcons/light/profile-light.png") !important;
    background-repeat: no-repeat;
    background-size:contain;
    border:none;
}

#mbio-recurring-btn{
    position:absolute;
    left: -33px;
    top: 284px;
    width: 612px;
    height: 91px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/recurring-btn@2x.png");
    background-color:transparent;
    background-size:contain;
    border:none;
}
#mbio-favourite-btn{
    position:absolute;
    left: -33px;
    top: 187px;
    width: 612px;
    height: 91px;
    background-image: url("../../../../images/menuBarIcons/shoppingList/favourite-btn.png");
    background-color:transparent;
    background-size:contain;
    border:none;
}
#filter-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
}

#filter-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    left: 675px;
    top: 420px;
    border-top-left-radius: 100px;
    background-color: #016F61;
    display:block;
}

#filter-icon-open{
    position:absolute;
    width:27px;
    height: 18px;
    left:1233.7px;
    top:442.5px;
    background-image: url("../../../../images/icons/sp-list/sp-list-v3/filter-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    z-index:3;
}
#filter-txt-open{
    position:absolute;
    left:1146px;
    top:435px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
    z-index:3;
}

#The-filters{
    position:absolute;
    left: -340px;
    top: -244px;
}
#bread-field-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 385px;
    top: 345px;
    overflow: visible;
}
.Ellipse_4-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
.Icon_awesome_bread_slice-filters {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
}
#Bread-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
#fish-field-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 467px;
    top: 345px;
    overflow: visible;
}
#Group_65-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_u-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#___Fish-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_fish-filters {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 12.05px;
    top: 15.25px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_68-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 549px;
    top: 345px;
    overflow: visible;
}
#Group_64-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_z-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Cheese-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_cheese-filters {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 13.001px;
    top: 12.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_69-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 625px;
    top: 345px;
    overflow: visible;
}
#Group_63-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 6px;
    top: 0px;
}
#Vegetable-filters {
    position: absolute;
    left: 0px;
    top: 64px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_carrot-filters {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 21.079px;
    top: 9.082px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_70-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 713px;
    top: 345px;
    overflow: visible;
}
#Group_62-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_ba-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Bread_ba-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_coffee-filters {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 13.408px;
    top: 21.077px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_71-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 795px;
    top: 345px;
    overflow: visible;
}
#Group_61-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_be-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Fruits-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_apple_alt-filters {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 17.494px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_72-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 877px;
    top: 345px;
    overflow: visible;
}
#Group_60-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_4_bj-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Drinks-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_wine_bottle-filters {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 12.883px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
}
#apply-button-filters {
    position: absolute;
    width: 611.55px;
height: 51px;
left: 340px;
top: 578px;
    overflow: visible;
    background-color:#fdf5db;
}
.Rectangle_14-filters {
    position: absolute;
    overflow: visible;
    width: 603px;
    height: 51px;
    left: 0px;
    top: 0px;
}
#APPLY-filters {
    position: absolute;
    left: 263px;
    top: 8px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,111,97,1);
}


#add-product{
    position:absolute;
    z-index: 2;
    left:0px;
    top:12px;
}
#product-opacity-background{
    position:absolute;
    width:1280px;
    height: 663px;
    top:137px;
    background-color: #006F61;
    opacity: 70%;
}



.Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 691px;
    height: 635px;
    left: 295px;
    top: 165px;
}
#Add_Product {
    position: absolute;
    left: 558.929px;
    top: 190px;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,111,97,1);
}
#Product_Name {
    position: absolute;
    left: 365.929px;
    top: 267px;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Homemade_Product___ {
    position: absolute;
    left: 365.929px;
    top: 542px;
    overflow: visible;
    width: 275px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Product_Category {
    position: absolute;
    left: 365.929px;
    top: 368px;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
#Expiration_Date {
    position: absolute;
    left: 365.929px;
    top: 595px;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
}
.Icon_metro_exit {
    overflow: visible;
    position: absolute;
    width: 31.699px;
    height: 33.812px;
    left: 926.23px;
    top: 193.094px;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 309px;
}
.Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 646px;
}
.Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 366px;
    top: 730px;
}
#Group_66 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 365.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
.Icon_awesome_bread_slice {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
}
#Bakery {
    position: absolute;
    left: 4px;
    top: 63px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_65 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 447.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_ {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#___Fish {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_64 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 529.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_ba {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Dairy {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_63 {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 600.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bb {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 11px;
    top: 0px;
}
#Vegetables {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_60 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 693.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bc {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Meat {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_67 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 691.929px;
    top: 529px;
    overflow: visible;
}
.Ellipse_4_bf {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Group_61 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 775.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bh {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Fruits {
    position: absolute;
    left: 9px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
#Group_68 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 773.929px;
    top: 529px;
    overflow: visible;
}
.Ellipse_4_bk {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Group_62 {
    position: absolute;
    width: 58px;
    height: 80px;
    left: 857.929px;
    top: 421px;
    overflow: visible;
}
.Ellipse_4_bm {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Drinks {
    position: absolute;
    left: 7px;
    top: 62px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
}
.Icon_awesome_fish {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 459.979px;
    top: 436.25px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_cheese {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 542.93px;
    top: 433.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_carrot {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 627.008px;
    top: 430.082px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_coffee {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 707.337px;
    top: 442.077px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_apple_alt {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 793.423px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_wine_bottle {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 870.813px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
}
.ic_done_24px {
    overflow: visible;
    position: absolute;
    width: 23.201px;
    height: 17.665px;
    left: 708.929px;
    top: 549px;
    transform: matrix(1,0,0,1,0,0);
}
.ic_clear_24px {
    overflow: visible;
    position: absolute;
    width: 21.065px;
    height: 21.065px;
    left: 791.929px;
    top: 547px;
    transform: matrix(1,0,0,1,0,0);
}
#APPLY-product {
    position: absolute;
    left: 609px;
    top: 735px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(253,245,219,1);
}





#index-100{
    position: absolute;
    z-index:100;
  }
  #product-list {
      position: relative;
      top: 70px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 660px;
  }
  
  .product-list-class{
    position: relative;
    top: 60px;
  }
  .product {
    position: absolute;
    left: 29px;
    top: 25px;
    z-index: 2;
  }
  .cat-product {
    position: absolute;
    left: 29px;
    top: 122px;
  }
  
  .shopping-list-item-padding{
    height: 170px;
  }
  
  //horizontal: 420 px;
  //vertical: 150px;
  
  .thebackground {
    position: absolute;
    width: 377.49px;
    height: 131px;
    opacity: 71%;
    background-color: #5daa3b;
    border-radius: 10px;
  }
  .pr-background {
    position: absolute;
    left: 9px;
    top: 8px;
    width: 134px;
    height: 115px;
    opacity: 71%;
    background-color: #fdf5db;
    border-radius: 10px;
  }
  #pr1-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 16px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #pr2-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 27px;
    background-repeat: no-repeat;
    background-size: contain;
   
  }
  #pr3-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 18px;
    left: 42px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #pr4-img {
    position: absolute;
    width: 109px;
    height: 99px;
    top: 25px;
    left: 32px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #pr5-img {
    position: absolute;
    width: 128px;
  height: 99px;
  top: 42px;
  left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pr1-positioning {
    position: relative;
    left: 163px;
    top: -29px;
  }
  .product-txt {
    font-size: 25px;
    color: #fdf5db;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pr1-brand-positioning {
    position: absolute;
    left: 164px;
    top: 45px;
  }
  .product-brand-txt {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #344a5e;
  }
  .minus-btn {
    position: absolute;
    width: 45px;
    height: 26px;
    left: 164px;
    top: 93px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:10px;
    border: none;
  }
  .plus-btn {
    position: absolute;
    width: 45px;
    height: 26px;
    left: 316px;
    top: 93px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:10px;
    border: none;
  }
  .how-much-kg {
    position: absolute;
    left: 241px;
    top: 97px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #344a5e;
  }
  #searchElements {
      z-index: 51;
      position: absolute;
      width: 537px;
      left: 376px;
      top: 375px;
      background-color: palegoldenrod;
      font-size: 20px;
      height: 420px;
    border-top: 1px solid black;
    overflow: scroll;
  
  }
  #search-box-mini {
      position: absolute;
    top: -260px;
      left: -301px;
    width: 1280px;
    height: 30px;
    background-color: #f9705a;
    display: block;
    
  }
  #search-box-open {
    position: absolute;
    top: 137px;
    left: 0px;
    width: 1280px;
    height: 61px;
    background-color: #f9705a;
    display: none;
  }
  form.search-legit input[type="text"] {
    position: relative;
    top: 3px;
    left: 34px;
    font-size: 25px;
    border: none;
    border-bottom: 4px solid #fdf5db;
    float: left;
    width: 90%;
    background: #f9705a;
    padding: 3px;
    margin-right: -4px;
    color: #fdf5db;
  }
  form.search-legit button {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fdf5db;
    font-size: 17px;
  }
  .fa {
    position: absolute;
    top: -7px;
    left: -3px;
    width: 30px;
    height: 46px;
    color: #fdf5db;
    font-size: 36px;
  }
  
  #search{
    position: absolute;
    top:300px;
    left:100px;
  }
  
  .bot-side-bar{
    position: fixed;
    z-index: 2;
    top: 0px;
  }
  // top-side-bar-control pos: fixed
  //#top-side-bar-where-am-i width: 155
  //#notification-txt width: 270px
  //#user-name width: 160px
  
  .toggle-menu-btn2 {
    background-color: #F9705A;
    border: none;
    color: white;
    padding: 43px 43px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 730px;
    left: 601px;
    border-radius: 206px;
    z-index: 3;
  }
  
  .fa{
    position: absolute;
    top: 26px;
    left: 29px;
    width: 29px;
    height: 54px;
    color: #fdf5db;
    font-size: 36px; 
  }
  
  #add-product{
    position:absolute;
    top:12px;
  }
  
  #product-opacity-background{
    position:absolute;
    width:1280px;
    height: 800px;
    top:-25px;
    background: #003325;
    opacity: 0.85;
    z-index: 2;
  }
  
  #product_name_container{
    position: absolute;
    z-index: 50;
    top:-10px;
  }
  
  #product-name-thetxt{
    position:relative;
    left:380px;
    top:292px;
    font-family: "Myriad Hebrew";
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    text-align: left;
    color: #1d3634;
    z-index:50;
    width: 205px;
  }
  #searchBar{
    position: absolute;
  left: 376px;
  top: 341px;
  width: 537px;
  height: 51px;
  border-radius: 9px;
  background: #fff;
  border: none;
  padding: 8px;
  font-size: 25px;
  }
  #product_to_add_to_splist_ammount{
    position: absolute;
  left: 376px;
  top: 446px;
  width: 537px;
  height: 51px;
  border-radius: 9px;
  background: #fff;
  border: none;
  
  }
  #product_to_add_to_splist_ammount_text{
    position:relative;
    left:380px;
    top: 356px;
    font-family: "Myriad Hebrew";
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    text-align: left;
    color: #1d3634;
    z-index: 50;
    width:205px;
    font-size: 25px;
  }
  
  #is_favourite{
    position: relative;
    z-index: 2;
  }
  
  #is_recurring{
    position: relative;
    z-index: 2;
  }
  
  .remove-btn {
      position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    left: 335px;
    top: -10px;
    background-color: red;
    border: none;
    font-size: 12px;
    color: darkgreen;
    font-weight: bold;
    text-align: center;
    outline: transparent;
    border: none;
    left: 310px;
    top: 1px;
    background-color: transparent;
  }
  
  .remove-btn:hover .remove-btn:active .remove-btn:focus{
    outline: none;
  }
  
  .remove-btn::-moz-focus-inner { 
    border: none;
  }
  
  
  .thegreenbackgroundlayer {
    filter: drop-shadow(9px 10px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 908px;
    height: 482px;
    left: 195px;
    top: 168px;
    transform: matrix(1,0,0,1,0,0);
    z-index:49;
  }
  
  #product_icon {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 214px;
    top: 183px;
    overflow: visible;
    z-index:50;
  }
  #product_text {
    position: absolute;
    left: 463px;
    top: 190px;
    overflow: visible;
    width: 356px;
    white-space: nowrap;
    text-align: left;
    font-family: Big Caslon;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(29,54,52,1);
    z-index:50;
  }
  
  #cheese-img-details {
    position: absolute;
    width: 77px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
    background-image:url(../../../../../tablet/images/menuBarIcons/allproducts/add_product.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:50;
  }
  #apply-button-addproduct{
    position: absolute;
    left: 577px;
    top: 612px;
    width: 132px;
    height: 60px;
    border-radius: 14px;
    background: #224e42;
    border: 2px solid #4da23b;
    color: #F9705A;
    font-size: 30px;
    z-index: 50;
  
  }
  
  #choose-fav-rec{
    position: relative;
    left: 556px;
    top: 500px;
    z-index: 50;
  }
  #fav-txt{
    position:absolute;
    position: absolute;
    top: 9px;
    right: 69px;
    font-size: 23px;
  }
  #rec-txt{
    position:absolute;
    top:9px;
    left:153px;
    font-size:23px;
  }
  
  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #40e0d0;
  }
  .option-input:checked {
    background: #40e0d0;
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
  
  #exit-icon {
    overflow: visible;
    position: absolute;
    width: 26.449px;
    height: 28.213px;
    left: 1049.236px;
    top: 184.318px;
    background-image:url(../../../../../tablet/images/menuBarIcons/allproducts/exit-icon.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
    z-index:50;
  }
  
  #menu-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
  }
  
  #menu-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    top:420px;
    border-top-right-radius: 100px;
    background-color: #016F61;
    display:block;
  }
  #menu-txt-open {
    position: absolute;
    left: 54px;
    top: 428px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdf5db;
    z-index: 1;
  }
  #menu-icon-open{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:16.7px;
    top:439.63px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  #bottom-menu{
    display:block;
  }
  .fa{
    position: absolute;
    top: 26px;
    left: 29px;
    width: 29px;
    height: 54px;
    color: #fdf5db;
    font-size: 36px; 
  }
  #bottom-left-menu{
    position:absolute;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-right-radius: 100px;
    display:block;
  }
  #bottom-right-menu{
    position:absolute;
    left:675px;
    top:730px;
    width:612px;
    height: 70px;
    background-color:#016F61;
    border-top-left-radius: 100px;
  }
  #menu-icon{
    position:absolute;
    width:27px;
    height: 15.75px;
    left:28.7px;
    top:27px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #filter-icon{
    position:absolute;
    width:27px;
    height: 18px;
    left:560px;
    top:24px;
    background-repeat: no-repeat;
    background-size: contain;
   display:block;
  }
  #menu-txt{
    position:absolute;
    left:62px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
  }
  #filter-txt{
    position:absolute;
    left:470px;
    top:14px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
  }
  
  
  
  
  
  #mbio-dashboard{
    position: absolute;
    left: 33px;
    top: 10px;
  }
  
  
  
  .mbio-notification-text{
    position:absolute;
    font-size:16px;
    color:#fdf5db;
    font-family: Arial, Helvetica, sans-serif;
    top:19px;
    left:263px;
  }
  .mbio-alert-icon{
    position:absolute;
    top:18.94px;
    left:535.94px;
    width:22.13px;
    height: 22.13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:transparent;
    border:none;
  }
  
  #mbio-kitchen{
    position: absolute;
    top: 40px;
    left: 0px;
    width:150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
  }
  #mbio-supermarket{
    position: absolute;
    top: 80px;
    left: 139px;
    width: 66px;
    height: 70px;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
  }
  #mbio-invmanager{
    position: absolute;
    top: 80px;
    left: 239px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
  }
  #mbio-recepies{
    position: absolute;
    top: 85px;
    left: 343px;
    width: 70px;
    height: 56px;
    background-repeat: no-repeat;
    background-size:contain;
    border:block;
  }
  #mbio-profile{
    position: absolute;
    top: 80px;
    left: 429px;
    width: 70px;
    height: 64px;
    background-repeat: no-repeat;
    background-size:contain;
    border:none;
  }
  
  #sp-list-filters-show-all{
    position:absolute;
    left: 340px;
    top: 537px;
    width: 612px;
    height: 91px;
    background-color:transparent;
    background-size:contain;
    border:none;
  }
  
  #mbio-recurring-btn{
    position:absolute;
    left: -33px;
    top: 284px;
    width: 612px;
    height: 91px;
    
    background-color:transparent;
    background-size:contain;
    border:none;
  }
  #mbio-favourite-btn{
    position:absolute;
    left: -33px;
    top: 187px;
    width: 612px;
    height: 91px;
   
    background-color:transparent;
    background-size:contain;
    border:none;
  }
  #filter-bar-is-open{
    position:absolute;
    display:block;
    z-index: 2;
  }
  
  #filter-background-open{
    position:absolute;
    width:612px;
    height: 385px;
    left: 675px;
    top: 420px;
    border-top-left-radius: 100px;
    background-color: #016F61;
    display:block;
  }
  
  #filter-icon-open{
    position:absolute;
    width:27px;
    height: 18px;
    left:1233.7px;
    top:442.5px;
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    z-index:3;
  }
  #filter-txt-open{
    position:absolute;
    left:1146px;
    top:435px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fdf5db;
    display:block;
    z-index:3;
  }
  
  #The-filters{
    position:absolute;
    left: -340px;
    top: -244px;
  }
  #bread-field-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 385px;
    top: 345px;
    overflow: visible;
  }
  .Ellipse_4-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  .Icon_awesome_bread_slice-filters {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Bread-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  #fish-field-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 467px;
    top: 345px;
    overflow: visible;
  }
  #Group_65-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_u-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #___Fish-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_fish-filters {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 12.05px;
    top: 15.25px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Group_68-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 549px;
    top: 345px;
    overflow: visible;
  }
  #Group_64-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_z-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Cheese-filters {
    position: absolute;
    left: 2px;
    top: 63px;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_cheese-filters {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 13.001px;
    top: 12.5px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Group_69-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 625px;
    top: 345px;
    overflow: visible;
  }
  #Group_63-filters {
    position: absolute;
    width: 71px;
    height: 82px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 6px;
    top: 0px;
  }
  #Vegetable-filters {
    position: absolute;
    left: 0px;
    top: 64px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_carrot-filters {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 21.079px;
    top: 9.082px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Group_70-filters{
    position: absolute;
    width: 58px;
    height: 81px;
    left: 713px;
    top: 345px;
    overflow: visible;
  }
  #Group_62-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_ba-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Bread_ba-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_coffee-filters {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 13.408px;
    top: 21.077px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Group_71-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 795px;
    top: 345px;
    overflow: visible;
  }
  #Group_61-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_be-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Fruits-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_apple_alt-filters {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 17.494px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Group_72-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 877px;
    top: 345px;
    overflow: visible;
  }
  #Group_60-filters {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Ellipse_4_bj-filters {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Drinks-filters {
    position: absolute;
    left: 8px;
    top: 63px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(253,245,219,1);
  }
  .Icon_awesome_wine_bottle-filters {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 12.883px;
    top: 13.883px;
    transform: matrix(1,0,0,1,0,0);
  }
  #apply-button-filters {
    position: absolute;
    width: 611.55px;
  height: 51px;
  left: 340px;
  top: 578px;
    overflow: visible;
    background-color:#fdf5db;
  }
  .Rectangle_14-filters {
    position: absolute;
    overflow: visible;
    width: 603px;
    height: 51px;
    left: 0px;
    top: 0px;
  }
  #APPLY-filters {
    position: absolute;
    left: 263px;
    top: 8px;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,111,97,1);
  }
  
  
  // #add-product{
  //     position:absolute;
  //     z-index: 2;
  // }
  // #product-opacity-background{
  //     position:absolute;
  //     width:1280px;
  //     height: 663px;
  //     top:137px;
  //     background-color: #006F61;
  //     opacity: 70%;
  // }
  
  
  
  .Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 691px;
    height: 635px;
    left: 295px;
    top: 165px;
  }
  #Add_Product {
    position: absolute;
    left: 558.929px;
    top: 190px;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,111,97,1);
  }
  #Product_Name {
    position: absolute;
    left: 365.929px;
    top: 267px;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
  }
  #Homemade_Product___ {
    position: absolute;
    left: 365.929px;
    top: 542px;
    overflow: visible;
    width: 275px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
  }
  #Product_Category {
    position: absolute;
    left: 365.929px;
    top: 368px;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
  }
  #Expiration_Date {
    position: absolute;
    left: 365.929px;
    top: 595px;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(0,111,97,1);
  }
  .Icon_metro_exit {
    overflow: visible;
    position: absolute;
    width: 31.699px;
    height: 33.812px;
    left: 926.23px;
    top: 193.094px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 309px;
  }
  .Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 365.929px;
    top: 646px;
  }
  .Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 550px;
    height: 48px;
    left: 366px;
    top: 730px;
  }
  #Group_66 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 365.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  .Icon_awesome_bread_slice {
    overflow: visible;
    position: absolute;
    width: 33.667px;
    height: 29.926px;
    left: 12.338px;
    top: 13.927px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Bakery {
    position: absolute;
    left: 4px;
    top: 63px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_65 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 447.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_ {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #___Fish {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_64 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 529.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_ba {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Dairy {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_63 {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 600.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_bb {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 11px;
    top: 0px;
  }
  #Vegetables {
    position: absolute;
    left: 0px;
    top: 63px;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_60 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 693.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_bc {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Meat {
    position: absolute;
    left: 11px;
    top: 63px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_67 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 691.929px;
    top: 529px;
    overflow: visible;
  }
  .Ellipse_4_bf {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Group_61 {
    position: absolute;
    width: 58px;
    height: 81px;
    left: 775.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_bh {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Fruits {
    position: absolute;
    left: 9px;
    top: 63px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  #Group_68 {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 773.929px;
    top: 529px;
    overflow: visible;
  }
  .Ellipse_4_bk {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Group_62 {
    position: absolute;
    width: 58px;
    height: 80px;
    left: 857.929px;
    top: 421px;
    overflow: visible;
  }
  .Ellipse_4_bm {
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
  }
  #Drinks {
    position: absolute;
    left: 7px;
    top: 62px;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,111,97,1);
  }
  .Icon_awesome_fish {
    overflow: visible;
    position: absolute;
    width: 34px;
    height: 26.95px;
    left: 459.979px;
    top: 436.25px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Icon_awesome_cheese {
    overflow: visible;
    position: absolute;
    width: 31.999px;
    height: 28px;
    left: 542.93px;
    top: 433.5px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Icon_awesome_carrot {
    overflow: visible;
    position: absolute;
    width: 33.841px;
    height: 33.842px;
    left: 627.008px;
    top: 430.082px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Icon_awesome_coffee {
    overflow: visible;
    position: absolute;
    width: 32.366px;
    height: 22.654px;
    left: 707.337px;
    top: 442.077px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Icon_awesome_apple_alt {
    overflow: visible;
    position: absolute;
    width: 25.411px;
    height: 29.041px;
    left: 793.423px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Icon_awesome_wine_bottle {
    overflow: visible;
    position: absolute;
    width: 32.233px;
    height: 32.233px;
    left: 870.813px;
    top: 434.883px;
    transform: matrix(1,0,0,1,0,0);
  }
  .ic_done_24px {
    overflow: visible;
    position: absolute;
    width: 23.201px;
    height: 17.665px;
    left: 708.929px;
    top: 549px;
    transform: matrix(1,0,0,1,0,0);
  }
  .ic_clear_24px {
    overflow: visible;
    position: absolute;
    width: 21.065px;
    height: 21.065px;
    left: 791.929px;
    top: 547px;
    transform: matrix(1,0,0,1,0,0);
  }
  #APPLY-product {
    position: absolute;
    left: 609px;
    top: 735px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(253,245,219,1);
  }
  
  