<ami-fullstack-bottom-side-bar-cabbinet></ami-fullstack-bottom-side-bar-cabbinet>
<!-- <ami-fullstack-top-side-bar-cabbinet></ami-fullstack-top-side-bar-cabbinet> -->
<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>
<div id="kitchen-cabbinets-container">
  <div (click)="openSearchBar()" id="search-box-mini">
    <p id="search-coloring">Search</p>
  </div>
  <div (click)="closeSearchBar()" id="search-box-open">
    <form class="search-legit" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" style="
            position: relative;
            left: 62px;
            top: 15px;
            background-color: transparent;
            border: none;
        "><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div id="prouductsContainer" *ngIf="haveProducts">
    <div class="row" id="cabbinets-products-list">
      <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let product of productsArray$">
        <div class="panel-heading">
          <ami-fullstack-inventory-manager-product [product]="product">
          </ami-fullstack-inventory-manager-product>
        </div>
      </div>
    </div>
  </div>

</div>