<!-- <div id="{{product.product_details.id}}" class="product {{product.details.category}}" (click)="showDetails()"> -->
<div id="{{product.product_details.id}}" class="product {{product.details.category}}">
    <div id="thebackground" class="thebackground"></div>
    <div id="pr-background" class="pr-background"></div>
    <img id="productimg" [src]="imgSrc">
    <button id="productremove-btn" class="remove-btn" (click)="deleteProduct()">remove</button>
    <div id="producttxt" class="product-txt pr1-positioning">{{product.product_details.name}}</div>
    <div id="tagtxt">{{product.details.tags}}</div>
    <div id="categorytxt">{{product.details.category}}</div>
    <div id="ammountxt">{{product.details.ammount_to_buy}}</div>
    <div id="productammount-btns">
        <button id="productminus" class="minus-btn" (click)="minusAmmountBtn($event)"></button>
        <input id="productammount-{{product.product_details.id}}" class="how-much-kg"
            value="{{product.details.ammount_to_buy}}" (change)="ammountChanged($event)">
        <button id="productplus" class="plus-btn" (click)="plusAmmountBtn($event)"></button>
    </div>
</div>