#top-side-bar-control-container {
  background-color: #fdf5db;
  background-size: 1280px 800px;
}
#top-side-bar-background {
  position: absolute;
  width: 1280px;
  height: 100px;
  background-color: #006f61;
}
#top-side-bar-logo {
  position: absolute;
  width: 65px;
  height: 57px;
  left: 30px;
  top: 20px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/loginpage/loginpage-logo.png");
}
#top-side-bar-where-am-i {
  position: absolute;
  top: 55px;
  left: 95px;
  font-size: 20px;
  font-family: helvetica;
  color: #fdf5db;
}
.alert-icon {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/sp-list/sp-list-v3/alert-icon.png");
  width: 30px;
  height: 30px;
  left: 416px;
  top: 40px;
}
#notification-txt {
  position: absolute;
  left: 457px;
  top: 43px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdf5db;
}
#user-name {
  position: absolute;
  left: 1023px;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fdf5db;
}
#search-button {
  position: absolute;
  left: 1040px;
  top: 54px;
  width: 35px;
  height: 27px;
  background-image: url("../../images/icons/sp-list/sp-list-v3/search-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
}
#notification-button {
  position: absolute;
  left: 1080px;
  top: 54px;
  width: 34px;
  height: 27px;
  background-image: url("../../images/icons/sp-list/sp-list-v3/notification-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
}
#sign-out-button {
  position: absolute;
  left: 1119px;
  top: 54px;
  width: 35px;
  height: 27px;
  background-image: url("../../images/icons/sp-list/sp-list-v3/signout-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
}
#user-profile {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 1186px;
  top: 17px;
  border-radius: 50px;
  background-color: #fdf5db;
}
