<div id="top-side-bar-control-container">
    <div class="top-side-bar-nav">
        <div id="top-side-bar-background"></div>
        <div id="top-side-bar-logo"></div>
        <div id="top-side-bar-where-am-i"><p>Shopping list</p></div>
        <div class="alert-icon"></div>
        <div id="notification-txt"><p>You need to check the Waste Manager</p></div>
        <div id="user-name">Marc Morison</div>
        <button id="search-button"></button>
        <button id="notification-button"></button>
        <button id="sign-out-button"></button>
        <div id="user-profile"></div>
    </div>
 
</div>
