* {
  font-family:archivo;
}

#hide{
  position:absolute;
  top:600px;
  width:50px;
  height:50px;
  background-color:#FFFCF2;
  background-size:50px 50px;
  border-radius: 30px;
  border:none;
}
#menu-bar-goshopping-container{
  background-color:#FFFCF2;
  background-size: 1280px 800px;
}
#sp-list-left-sidebar-minimized{
  position:absolute;
  top:370px;
  width:80px;
  height:80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url(../../images/icons/sp-list-left-sidebar/left-side-bar-menu-icon.png);
  display:inline-block;
  transition: transform 3000ms ease-in-out;
}
#sp-list-left-sidebar-minimizedCat{
  position:absolute;
  top:370px;
  width:80px;
  height:80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url(../../images/icons/sp-list-left-sidebar/left-side-bar-menu-icon2x.png);
  display:none;
  transition: transform 3000ms ease-in-out;
}
#sp-list-left-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 800px;
  background-color: #026C82;
  display: none;
}
#sp-list-left-sidebarCat {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 800px;
  background-color: #026C82;
  display: none;
}

#sp-list-left-sidebar.fade{
  opacity:1;
}

#sp-list-left-sidebar-logo{
  position: absolute;
  left:25px;
  top:25px;
  background-image: url('../../images//logo/simlogo.svg') !important;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:transparent;
  border-style:none;
  padding: -5px;

}

#sp-list-left-sidebar-fav{
  position: absolute;
  left:25px;
  top:350px;
  background-repeat: no-repeat;
  background-size:contain;
  background-color:transparent;
  color:#FFFCF2;
  font-size: 25px;
  border:none;
}
#sp-list-left-sidebar-myproducts{
  position:absolute;
  background-color: #FFFCF2;
  top:400px;
  left:0px;
  border: none;
  color: #003A3E;
  padding: 16px 56px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family:archivo;
}

#sp-list-left-sidebar-custom{
  position: absolute;
  left:25px;
  top:490px;
  background-repeat: no-repeat;
  background-size:contain;
  background-color:transparent;
  color:#FFFCF2;
  font-size: 20px;
  border:none;
}

@font-face {
  font-family: archivo;
  src:url(../../fonts/Archivo-Regular.ttf);
}
@font-face {
  font-family: archivo_bold;
  src:url(../../fonts/Archivo-Bold.ttf);
}
