#notification_list{
    height:200px;
    width:158%;
    overflow:hidden;
    overflow-y:scroll;

    list-style: none;
}

#gotonotifications{
    width:50px;
    height:50px;
    border: none;
    background-color: transparent;
   
}