#top-bar-container{
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
}

#kitchen-awaiting-container {
	position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
 }
#awaiting-products-list{
    position: relative;
    top: 150px;
  }

  .panel-heading{
      margin-bottom: 130px;
  }