<div id="top-bar-container">
    <ami-fullstack-menubar></ami-fullstack-menubar>
</div>

<div id="kitchen-awaiting-container">

    <div id="prouductsContainer" *ngIf="haveProducts">
        <div id="awaiting-products-list">
            <div class="list-group" *ngFor="let product of productsArray$">
                <div class="panel-heading">
                    <ami-fullstack-awaiting-item-mobile [product]="product">
                    </ami-fullstack-awaiting-item-mobile>
                </div>
            </div>
        </div>
    </div>
</div>