.Rectangle_90 {
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 111px;
    height: 87px;
    left: 16.999px;
    top: 24px;
}
.poison{
    position: relative;
    top: 200px;
}
.list-group-item{
    position: relative;
    width: 800px;
    height: 104px;
    box-shadow: 0px 5px 6px;
    border-radius: 6px;
    left: 200px;
    top: 149px;
    }
#not-all{
position:absolute;
top:200px;
}
.low{
    background-color:red;
}
.Subtraction_7 {
    filter: drop-shadow(7px 11px 8px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 785.999px;
    height: 103px;
    left: 0px;
    top: 5.001px;
    transform: matrix(1,0,0,1,0,0);
}
#notification-icon {
    position: absolute;
    width: 33.225px;
    height: 43.843px;
    left: 44.387px;
    top: 34px;
    overflow: visible;
    // background-image:url(../../../images/menuBarIcons/allproducts/waste-white-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}
#notification-close {
    position: absolute;
    width: 35.54px;
    height: 35.54px;
    left: 744px;
    top: 9px;
    overflow: visible;
    // background-image: url('../../../images/menuBarIcons/allproducts/cance-icon-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
#notification-text {
    position: absolute;
    left: 200.999px;
    top: 42px;
    overflow: visible;
    width: 361px;
    white-space: nowrap;
    line-height: 77px;
    margin-top: -24px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(36,92,87,1);
}
#notification-timestamp {
    position: absolute;
    left: 650.999px;
    top: 77px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    line-height: 34px;
    margin-top: -10.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(29,54,52,1);
}

