<li id="bgcolor" class="list-group-item poison" (click)="doStuff()">
    <div id="{{notification.id}}">
        <div id="notification-background">
            <div class="{{notification.type}}">

            </div>
        </div>
        <div id="notification-icon-background">
            <svg class="Rectangle_90">
                <rect fill="rgba(0,111,97,1)" id="Rectangle_90" rx="10" ry="10" x="0" y="0" width="87" height="63">
                </rect>
            </svg>
        </div>

        <div id="notification-icon"></div>
        <div id="notification-text">
            {{notification.message}}
        </div>
        <div id="notification-timestamp">
            <span>Monday, 15 May 15:30</span>
        </div>
        <button id="notification-close">

        </button>
    </div>
</li>