<ami-fullstack-menubar id="indexuserbar"></ami-fullstack-menubar>

<div id="notification-container" *ngIf="showNotificationsList">

        <ul class="list-group" *ngFor="let notification of notifications$.notifications">
           <div class="panel-heading">
                <ami-fullstack-notifications-item-mobile *ngIf="showNotCat" id="position-of-each-notification"  [notification]=notification>
                   
                </ami-fullstack-notifications-item-mobile>
            </div>
        </ul>

</div>
<p id="ptext">All notifications</p>
<div id="notification-buttons">
    <button (click)="filtClick('all')" id="allButton">ALL</button>
    <button (click)="filtClick('low')" id="wasteButton"></button>
    <button (click)="filtClick('high')" id="emptyButton"></button>
    <button (click)="filtClick('severe')" id="runningButton"></button>
    <button (click)="filtClick('info')" id="fullButton"></button>
</div> 