#ptext{
    position: absolute;
    font-size: 27px;
    top: 182px;
    left: 114px;
    color: #1D3634;
    z-index: 300;
}
#indexuserbar{
    z-index:100;
    position: fixed;
}
#notification-buttons{
    position: fixed;
    top: -29px;
    left: -73px;
    z-index: 300;
}
.list-group{
    position: relative;
    top: -159px;
    left: 50px;
}
#wasteButton{
    position: absolute;
    top: 149px;
    left: 170px;
    width: 52px;
    height: 43px;
    box-shadow: 5px 5px 8px;
    border: none;
    background-color: #1D3634;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/waste-white-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#emptyButton{
    position:absolute;
    top: 149px;
    left: 250px;
    width: 52px;
    height: 43px;
    box-shadow:5px 5px 8px;
    border:none;
    background-color:#1D3634;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/emptyofthegods.svg);
    background-position: center; 
    background-repeat: no-repeat;
    border-radius:10px;
}
#allButton{
    position: absolute;
    top: 149px;
    left: 92px;
    width: 52px;
    height: 43px;
    box-shadow: 5px 5px 8px;
    border: none;
    background-color: #1D3634;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}
#runningButton{
    position:absolute;
    top: 149px;
    left: 330px;
    width: 52px;
    height: 43px;
    box-shadow:5px 5px 8px;
    border:none;
    background-color:#1D3634;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/is-empty-white-icon.svg);
    background-position: center; 
    background-repeat: no-repeat;
    border-radius:10px;
}
#fullButton{
    position:absolute;
    top: 149px;
    left: 410px;
    width: 52px;
    height: 43px;
    box-shadow:5px 5px 8px;
    border:none;
    background-color:#1D3634;
    background-image: url(../../../tablet/images/menuBarIcons/allproducts/fullproduct-white-edition-icon.svg);
    background-position: center; 
    background-repeat: no-repeat;
    border-radius:10px;
}
#notification_list{
    // position: absolute;
    // top:140px;

    height:200px;
    width:158%;
    overflow:hidden;
    overflow-y:scroll;

    list-style: none;
}

#notifications-container{
    position: relative;
    
}

.Rectangle_90 {
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.161));
    // position: absolute;
    overflow: visible;
    width: 111px;
    height: 87px;
    left: 16.999px;
    top: 24px;
}
.Subtraction_7 {
    filter: drop-shadow(7px 11px 8px rgba(0, 0, 0, 0.161));
    overflow: visible;
    // position: absolute;
    width: 785.999px;
    height: 103px;
    left: 0px;
    top: 5.001px;
    transform: matrix(1,0,0,1,0,0);
}
#notification-icon {
    // position: absolute;
    width: 33.225px;
    height: 43.843px;
    left: 44.387px;
    top: 34px;
    overflow: visible;
    // background-image:url(../../images/menuBarIcons/allproducts/waste-white-icon.svg);
    background-size:contain;
    background-repeat: no-repeat;
}
#notification-close {
    // position: absolute;
    width: 35.54px;
    height: 35.54px;
    left: 744px;
    top: 9px;
    overflow: visible;
    // background-image: url('../../images/menuBarIcons/allproducts/cance-icon-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
#notification-text {
    // position: absolute;
    left: 200.999px;
    top: 42px;
    overflow: visible;
    width: 361px;
    white-space: nowrap;
    line-height: 77px;
    margin-top: -24px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(36,92,87,1);
}
#notification-timestamp {
    // position: absolute;aaaa
    left: 650.999px;
    top: 77px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    line-height: 34px;
    margin-top: -10.5px;
    text-align: left;
    font-family: Myriad Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(29,54,52,1);
}

#notification-container{
    position:fixed;
    z-index: 9;
    overflow-y: scroll;
    width: 1211px;
    top: 236px;
    height: 658px;
    overflow-x: -moz-hidden-unscrollable;
    z-index: 200;
}
#notifications-container{
    position: absolute;
    top: 52px;
}
