<div id="dashboard">
  <div id="dashboard-top-kitchen">
    <div (click)="redirect('dashboard')" id="dashboard-logo-kitchen"></div>
    <div id="all-together">
      <div id="logo-bar"></div>
      <p class="position-of-txt general-category-txt">Kitchen</p>
      <a class="notification position-of-notification">
        <span class="badge">3</span>
      </a>
    </div>
  </div>
  <div id="kitchen-dashboard">
    <div id="kitchen-logo"></div>
    <div id="kitchen-background">
      <button (click)="redirect('fridge')" id="fridge-board">
        <div id="fridge-board-logo"></div>
        <p id="fridge-txt">Fridge</p>
      </button>
      <button (click)="redirect('shelves')" id="shelves-board">
        <div id="shelves-board-logo"></div>
        <p id="shelves-txt">Shelves</p>
      </button>
      <div (click)="redirect('cabbinet')" id="cabinets-board">
        <div id="cabinets-board-logo"></div>
        <p id="cabinets-board-txt">Cabinets</p>
      </div>
      <button id="custom-products-board" (click)="redirect('awaiting-confirmation')">
        <div id="custom-products-board-logo"></div>
        <p id="custom-products-board-txt">Awaiting Conrirmation</p>
      </button>
    </div>

  </div>
  <div id="fridge-dashboard"></div>