body {
  background-color: #05564B;
  background-size: 1280px 800px;
}
#dashboard{
  top:147px;
  position:absolute;
}
#kitchen-products{
  position:absolute;
  opacity:30%;
  display:none;
}
#kitchen-products-capacity{
  position:absolute;
  display:none;
}
#kitchen-products-opacity{
  position:absolute;
  display:none;
}
#product-capacity0{
  position:absolute;
  font-size:80px;
  color:#003A3E;
  top:200px;
  left:130px;
  font-family:archivo_bold;
  opacity:100%;
}
#product-capacity1{
  position:absolute;
  font-size:80px;
  color:#003A3E;
  top:200px;
  left:430px;
  font-family:archivo_bold;
  opacity:100%;
}
#product-capacity2{
  position:absolute;
  font-size:80px;
  color:#003A3E;
  top:200px;
  left:730px;
  font-family:archivo_bold;
  opacity:100%;
}
#product-capacity3{
  position:absolute;
  font-size:80px;
  color:#003A3E;
  top:200px;
  left:1030px;
  font-family:archivo_bold;
  opacity:100%;
}
#product-capacity4{
  position:absolute;
  font-size:80px;
  color:#003A3E;
  top:425px;
  left:130px;
  font-family:archivo_bold;
  opacity:100%;
}
#fridge-dashboard{
  position:absolute;
  width:1280px;
  height:800px;
  background-size:1280px 800px;
  background-color: #FFFCF2;
  display:none;
}
#kitchen-dashboard{
  position:absolute;
  display:block;
  top:-126px;
}
#kitchen-background{
  position:absolute;
  left:116px;
  top:126px;
}
#kitchen{
  position:absolute;
  top:80px;
}
#kitchen-logo{
  position:absolute;
  left:470px;
  width:250px;
  height:250px;
  background-repeat:no-repeat;
  background-size:contain;
}

#fridge-board{
  position:absolute;
  top:200px;
  left:250px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#fridge-txt{
  position:absolute;
  top: 125px;
  left: 70px;
  font-size: 25px;
  color: #05564B;
}
#fridge-board-logo{
  position:absolute;
  background-image:url("../images/icons/kitchen-dashboard/fridge.png");
  left: 53px;
  top: 15px;
  width: 150px;
  height: 103px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}


#shelves-board{
  position:absolute;
  top:200px;
  left:550px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#shelves-txt{
  position:absolute;
  top: 127px;
  left: 68px;
  font-size: 25px;
  color:#05564B;
}
#shelves-board-logo{
  position:absolute;
  background-image:url("../images/icons/kitchen-dashboard/shelves.png");
  left: 60px;
  top: 16px;
  width: 102px;
  height: 137px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#cabinets-board{
  position:absolute;
  top:400px;
  left:250px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#cabinets-board-txt{
  position:absolute;
  top: 127px;
  left: 52px;
  font-size: 25px;
  color:#05564B;
}
#cabinets-board-logo{
  position:absolute;
  background-image:url("../images/icons/kitchen-dashboard/cabinets-full-kitchen.png");
  left: 48px;
  top: 20px;
  width: 112px;
  height: 130px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#custom-products-board{
  position:absolute;
  top:400px;
  left:550px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#custom-products-board-txt{
  position:absolute;
  top: 127px;
  left: 16px;
  font-size: 25px;
  color:#05564B;
}
#custom-products-board-logo{
  position:absolute;
  background-image:url("../images/icons/kitchen-dashboard/custom-product.png");
  left: 52px;
top: 20px;
width: 108px;
height: 113px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}

#dashboard-top-kitchen{
  position: absolute;
  left: -30px;
  top:0px;
}
#dashboard-logo-kitchen{
  position: absolute;
  left: 454px;
  top: -5px;
  background-image: url('../images/icons/loginpage/loginpage-logo.png') !important;
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

#logo-bar{
  position: absolute;
  width: 8px;
  height: 130px;
  left: 211px;
  top: 21px;
  background-color: #fdf5db;
}
.position-of-txt{
  position:absolute;
  left:252px;
  top:30px;
}
.position-of-notification{
  position:absolute;
  left:290px;
  top:97px;
}
.notification {
  position:absolute;
  width:40px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../images/icons/dashboard/bell.png');
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px 8px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: white;
}
#all-together{
  position: absolute;
  left: 439px;
  top: -29px;
}

