<div id="Dashboard">
    <div id="Login_txt_logo">
        <img id="loginpage_logo" src="loginpage_logo.png" srcset="loginpage_logo.png 1x, loginpage_logo@2x.png 2x">
        <div id="DASHBOARD">
            <span>DASHBOARD</span>
        </div>
    </div>
    <div id="Group_38">
        <button (click)="redirect('shoppinglist-mobile')" id="sp-list-btn">
            <svg class="Rectangle_8">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8" rx="74" ry="74" x="0" y="0" width="150" height="150">
                </rect>
            </svg>
            <div id="list">
                <div id="Group_31">
                    <div id="Group_30">
                        <svg class="Path_42" viewBox="160 0 39.981 26.654">
                            <path fill="rgba(0,111,97,1)" id="Path_42"
                                d="M 196.6489868164062 6.6634521484375 L 189.4124755859375 6.6634521484375 C 188.0398101806641 2.785323143005371 184.3349304199219 0 179.9903564453125 0 C 175.6457824707031 0 171.9409027099609 2.785323143005371 170.5615692138672 6.6634521484375 L 163.3317260742188 6.6634521484375 C 161.4926147460938 6.6634521484375 160 8.156064987182617 160 9.99517822265625 L 160 23.32208251953125 C 160 25.16119575500488 161.4926147460938 26.65380859375 163.3317260742188 26.65380859375 L 196.6489868164062 26.65380859375 C 198.4880981445312 26.65380859375 199.980712890625 25.16119575500488 199.980712890625 23.32208251953125 L 199.980712890625 9.99517822265625 C 199.980712890625 8.156064987182617 198.4880981445312 6.6634521484375 196.6489868164062 6.6634521484375 Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div id="Group_33">
                    <div id="Group_32">
                        <svg class="Path_43" viewBox="64 64 79.961 93.288">
                            <path fill="rgba(0,111,97,1)" id="Path_43"
                                d="M 137.2979736328125 64 L 130.634521484375 64 L 130.634521484375 73.99517822265625 C 130.634521484375 79.50585174560547 126.150016784668 83.9903564453125 120.6393432617188 83.9903564453125 L 87.32208251953125 83.9903564453125 C 81.81140899658203 83.9903564453125 77.326904296875 79.50585174560547 77.326904296875 73.99517822265625 L 77.326904296875 64 L 70.6634521484375 64 C 66.99188995361328 64 64 66.99188995361328 64 70.6634521484375 L 64 150.6248779296875 C 64 154.3630676269531 66.92525482177734 157.288330078125 70.6634521484375 157.288330078125 L 137.2979736328125 157.288330078125 C 141.0361633300781 157.288330078125 143.96142578125 154.3630676269531 143.96142578125 150.6248779296875 L 143.96142578125 70.6634521484375 C 143.96142578125 66.92525482177734 141.0361633300781 64 137.2979736328125 64 Z M 103.0078506469727 122.9982070922852 L 89.68094635009766 136.3251037597656 C 89.02792358398438 136.9714660644531 88.17500305175781 137.2979736328125 87.32208251953125 137.2979736328125 C 86.46916198730469 137.2979736328125 85.61624145507812 136.9714660644531 84.96321868896484 136.3251037597656 L 78.29976654052734 129.6616516113281 C 77.00039672851562 128.3622894287109 77.00039672851562 126.2499694824219 78.29976654052734 124.9505996704102 C 79.59913635253906 123.6512298583984 81.71145629882812 123.6512298583984 83.01082611083984 124.9505996704102 L 87.32208251953125 129.2551879882812 L 98.29012298583984 118.2871475219727 C 99.58949279785156 116.9877777099609 101.7018127441406 116.9877777099609 103.0011825561523 118.2871475219727 C 104.3005523681641 119.5865173339844 104.3072204589844 121.6921691894531 103.0078506469727 122.9982070922852 Z M 103.0078506469727 96.34439849853516 L 89.68094635009766 109.6713027954102 C 89.02792358398438 110.3176574707031 88.17500305175781 110.6441650390625 87.32208251953125 110.6441650390625 C 86.46916198730469 110.6441650390625 85.61624145507812 110.3176574707031 84.96321868896484 109.6713027954102 L 78.29976654052734 103.0078506469727 C 77.00039672851562 101.7084808349609 77.00039672851562 99.59616088867188 78.29976654052734 98.29679107666016 C 79.59913635253906 96.99742126464844 81.71145629882812 96.99742126464844 83.01082611083984 98.29679107666016 L 87.32208251953125 102.6013793945312 L 98.29012298583984 91.63333892822266 C 99.58949279785156 90.33396911621094 101.7018127441406 90.33396911621094 103.0011825561523 91.63333892822266 C 104.3005599975586 92.93270874023438 104.3072204589844 95.03836059570312 103.0078506469727 96.34439849853516 Z M 127.3027954101562 130.634521484375 L 113.9758911132812 130.634521484375 C 112.1367797851562 130.634521484375 110.6441650390625 129.1419067382812 110.6441650390625 127.3027954101562 C 110.6441650390625 125.4636840820312 112.1367797851562 123.9710693359375 113.9758911132812 123.9710693359375 L 127.3027954101562 123.9710693359375 C 129.1419067382812 123.9710693359375 130.634521484375 125.4636840820312 130.634521484375 127.3027954101562 C 130.634521484375 129.1419067382812 129.1419067382812 130.634521484375 127.3027954101562 130.634521484375 Z M 127.3027954101562 103.980712890625 L 113.9758911132812 103.980712890625 C 112.1367797851562 103.980712890625 110.6441650390625 102.4880981445312 110.6441650390625 100.6489868164062 C 110.6441650390625 98.80987548828125 112.1367797851562 97.3172607421875 113.9758911132812 97.3172607421875 L 127.3027954101562 97.3172607421875 C 129.1419067382812 97.3172607421875 130.634521484375 98.80987548828125 130.634521484375 100.6489868164062 C 130.634521484375 102.4880981445312 129.1419067382812 103.980712890625 127.3027954101562 103.980712890625 Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </button>

        <div id="Shopping_List">
            <span>Shopping List</span>
        </div>

    </div>
    <button id="kitchen-btn">
        <div id="Group_36_br">
            <svg class="Rectangle_8_bs">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8_bs" rx="74" ry="74" x="0" y="0" width="150"
                    height="150">
                </rect>
            </svg>
        </div>
        <div id="kitchen_furniture">
            <div id="Group_35">
                <svg class="Rectangle_18">
                    <rect fill="rgba(0,111,97,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="21.066"
                        height="17.739">
                    </rect>
                </svg>
                <div id="Group_34">
                    <svg class="Path_44" viewBox="354.169 232.955 23.35 46.163">
                        <path fill="rgba(0,111,97,1)" id="Path_44"
                            d="M 373.8906860351562 232.9550018310547 L 354.1690063476562 232.9550018310547 L 354.1690063476562 279.1177062988281 L 373.8906860351562 279.1177062988281 C 375.891357421875 279.1177062988281 377.5191650390625 277.4899291992188 377.5191650390625 275.4891967773438 L 377.5191650390625 236.5835113525391 C 377.5191650390625 234.5828094482422 375.891357421875 232.9550018310547 373.8906860351562 232.9550018310547 Z">
                        </path>
                    </svg>
                    <svg class="Path_45" viewBox="0 232.955 24.022 46.163">
                        <path fill="rgba(0,111,97,1)" id="Path_45"
                            d="M 3.628525018692017 279.117919921875 L 24.02224731445312 279.117919921875 L 24.02224731445312 232.9550018310547 L 3.628525018692017 232.9550018310547 C 1.627796649932861 232.9550018310547 0 234.5828094482422 0 236.5835113525391 L 0 275.4891967773438 C 0 277.4901428222656 1.627796649932861 279.117919921875 3.628525018692017 279.117919921875 Z">
                        </path>
                    </svg>
                </div>
                <svg class="Path_46" viewBox="139.167 232.955 39.31 46.163">
                    <path fill="rgba(0,111,97,1)" id="Path_46"
                        d="M 139.1670074462891 232.9550018310547 L 139.1670074462891 279.1177062988281 L 178.4766387939453 279.1177062988281 L 178.4766387939453 232.9550018310547 L 139.1670074462891 232.9550018310547 Z M 169.5730438232422 239.6337127685547 C 170.6585693359375 239.6337127685547 171.5384979248047 240.5136260986328 171.5384979248047 241.5991668701172 C 171.5384979248047 242.6846771240234 170.6585693359375 243.5646209716797 169.5730438232422 243.5646209716797 C 168.4875030517578 243.5646209716797 167.6075897216797 242.6846771240234 167.6075897216797 241.5991668701172 C 167.6075897216797 240.5136260986328 168.4877014160156 239.6337127685547 169.5730438232422 239.6337127685547 Z M 162.1817321777344 239.6337127685547 C 163.2670745849609 239.6337127685547 164.14697265625 240.5136260986328 164.14697265625 241.5991668701172 C 164.14697265625 242.6846771240234 163.2670745849609 243.5646209716797 162.1817321777344 243.5646209716797 C 161.0957946777344 243.5646209716797 160.2156829833984 242.6846771240234 160.2156829833984 241.5991668701172 C 160.2158813476562 240.5136260986328 161.0959930419922 239.6337127685547 162.1817321777344 239.6337127685547 Z M 154.7904357910156 239.6337127685547 C 155.8757629394531 239.6337127685547 156.7556762695312 240.5136260986328 156.7556762695312 241.5991668701172 C 156.7556762695312 242.6846771240234 155.8757629394531 243.5646209716797 154.7904357910156 243.5646209716797 C 153.7044830322266 243.5646209716797 152.8241729736328 242.6846771240234 152.8241729736328 241.5991668701172 C 152.8243713378906 240.5136260986328 153.7046966552734 239.6337127685547 154.7904357910156 239.6337127685547 Z M 147.3983154296875 239.6337127685547 C 148.4838409423828 239.6337127685547 149.3637542724609 240.5136260986328 149.3637542724609 241.5991668701172 C 149.3637542724609 242.6846771240234 148.4838409423828 243.5646209716797 147.3983154296875 243.5646209716797 C 146.3127746582031 243.5646209716797 145.432861328125 242.6846771240234 145.432861328125 241.5991668701172 C 145.432861328125 240.5136260986328 146.3127746582031 239.6337127685547 147.3983154296875 239.6337127685547 Z M 173.0501708984375 272.5915832519531 C 173.0501708984375 273.7049560546875 172.1474761962891 274.6074523925781 171.0343322753906 274.6074523925781 L 145.93701171875 274.6074523925781 C 144.8236846923828 274.6074523925781 143.9211883544922 273.7049560546875 143.9211883544922 272.5915832519531 L 143.9211883544922 250.8204498291016 C 143.9211883544922 249.7070770263672 144.8236846923828 248.8046112060547 145.93701171875 248.8046112060547 L 171.0343322753906 248.8046112060547 C 172.1474761962891 248.8046112060547 173.0501708984375 249.7070770263672 173.0501708984375 250.8204498291016 L 173.0501708984375 272.5915832519531 Z">
                    </path>
                </svg>
            </div>
            <svg class="Path_47" viewBox="145.47 8.048 36.097 30.417">
                <path fill="rgba(0,111,97,1)" id="Path_47"
                    d="M 170.5824432373047 29.59317398071289 C 169.3416748046875 29.59317398071289 168.3265075683594 28.57799339294434 168.3265075683594 27.33723831176758 L 168.3265075683594 10.30393505096436 C 168.3265075683594 9.06318187713623 167.3113250732422 8.048000335693359 166.0703582763672 8.048000335693359 L 160.9662322998047 8.048000335693359 C 159.7252807617188 8.048000335693359 158.7101135253906 9.06318187713623 158.7101135253906 10.30393505096436 L 158.7101135253906 27.33723831176758 C 158.7101135253906 28.57799339294434 157.6949310302734 29.59317398071289 156.4541625976562 29.59317398071289 L 147.7261657714844 29.59317398071289 C 146.4851989746094 29.59317398071289 145.4700164794922 30.60835647583008 145.4700164794922 31.8491096496582 L 145.4700164794922 36.20938873291016 C 145.4700164794922 37.45014190673828 146.4851989746094 38.4653205871582 147.7261657714844 38.4653205871582 L 179.3108520507812 38.4653205871582 C 180.5516204833984 38.4653205871582 181.5669860839844 37.45014190673828 181.5669860839844 36.20938873291016 L 181.5669860839844 31.8491096496582 C 181.5669860839844 30.60835647583008 180.5516204833984 29.59317398071289 179.3108520507812 29.59317398071289 L 170.5824432373047 29.59317398071289 Z">
                </path>
            </svg>
        </div>
        <div id="Kitchen">
            <span>Kitchen</span>
        </div>
    </button>


    <button (click)="redirect('super-market-mobile')" id="supermarket-btn">
        <div id="Group_36_b">
            <svg class="Rectangle_8_b">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8_b" rx="74" ry="74" x="0" y="0" width="150"
                    height="150">
                </rect>
            </svg>
        </div>
        <div id="Super_Market">
            <span>Super Market</span>
        </div>
    </button>
    <button id="invmanager-btn">
        <div id="Group_36_ca">
            <svg class="Rectangle_8_ca">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8_ca" rx="74" ry="74" x="0" y="0" width="150"
                    height="150">
                </rect>
            </svg>
        </div>
        <div id="Inventory_Manager">
            <span>iManager</span>
        </div>
    </button>
    <button id="recipies-btn">
        <div id="Group_36_cb">
            <svg class="Rectangle_8_cc">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8_cc" rx="74" ry="74" x="0" y="0" width="150"
                    height="150">
                </rect>
            </svg>
        </div>
        <div id="Recipies">
            <span>Recipies</span>
        </div>
    </button>
    <button id="profile-btn">
        <div id="Group_36_cf">
            <svg class="Rectangle_8_cg">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_8_cg" rx="74" ry="74" x="0" y="0" width="150"
                    height="150">
                </rect>
            </svg>
        </div>
        <div id="Profile">
            <span>Profile</span>
        </div>
        <div id="user">
            <svg class="Path_70" viewBox="87.031 0 37.436 37.434">
                <path fill="rgba(0,111,97,1)" id="Path_70"
                    d="M 105.7490844726562 37.43449020385742 C 110.8918914794922 37.43449020385742 115.3451614379883 35.58998107910156 118.9837951660156 31.95076370239258 C 122.6224136352539 28.31213760375977 124.4669189453125 23.86005592346191 124.4669189453125 18.71665382385254 C 124.4669189453125 13.57502841949463 122.6224136352539 9.122352600097656 118.9831924438477 5.482542037963867 C 115.3439788818359 1.844510555267334 110.8913040161133 0 105.7490844726562 0 C 100.6056823730469 0 96.15360260009766 1.844510555267334 92.51496887207031 5.483135223388672 C 88.87635803222656 9.121759414672852 87.03125 13.57443523406982 87.03125 18.71665382385254 C 87.03125 23.86005592346191 88.87635803222656 28.3127326965332 92.51557159423828 31.95135688781738 C 96.15478515625 35.58938980102539 100.6074600219727 37.43449020385742 105.7490844726562 37.43449020385742 Z M 105.7490844726562 37.43449020385742">
                </path>
            </svg>
            <svg class="Path_71" viewBox="0 247.316 64.836 40.175">
                <path fill="rgba(0,111,97,1)" id="Path_71"
                    d="M 64.67881774902344 269.5353088378906 C 64.57387542724609 268.0210571289062 64.36161804199219 266.3692321777344 64.04915618896484 264.6249389648438 C 63.73373413085938 262.8675537109375 63.32759857177734 261.2062377929688 62.84142303466797 259.6878356933594 C 62.33924102783203 258.1184387207031 61.65621566772461 256.568603515625 60.81192398071289 255.0833892822266 C 59.93561935424805 253.5418548583984 58.90634918212891 252.1995239257812 57.75137710571289 251.0949554443359 C 56.54364013671875 249.9393920898438 55.0649528503418 249.0103302001953 53.35503005981445 248.3326416015625 C 51.65103912353516 247.6585083007812 49.76265335083008 247.3170013427734 47.74264144897461 247.3170013427734 C 46.94934463500977 247.3170013427734 46.18213653564453 247.6425018310547 44.70047760009766 248.6071624755859 C 43.78859329223633 249.2018280029297 42.72197341918945 249.8895874023438 41.53142929077148 250.6502685546875 C 40.5134162902832 251.2989196777344 39.13433456420898 251.9066314697266 37.43093109130859 252.4568481445312 C 35.76903915405273 252.9945983886719 34.08164215087891 253.267333984375 32.41619110107422 253.267333984375 C 30.750732421875 253.267333984375 29.06393432617188 252.9945983886719 27.40026092529297 252.4568481445312 C 25.69863891601562 251.9072265625 24.31955337524414 251.2994995117188 23.30273056030273 250.65087890625 C 22.12345504760742 249.8973083496094 21.05623435974121 249.2095336914062 20.13071632385254 248.6065521240234 C 18.65084075927734 247.6419067382812 17.88303756713867 247.31640625 17.08973693847656 247.31640625 C 15.06913566589355 247.31640625 13.18134212493896 247.6585083007812 11.47794246673584 248.3332214355469 C 9.769206047058105 249.0097198486328 8.289920806884766 249.9387969970703 7.08099889755249 251.0955505371094 C 5.926623821258545 252.2007141113281 4.89675760269165 253.5424346923828 4.021637439727783 255.0833892822266 C 3.177941560745239 256.568603515625 2.494921445846558 258.1178588867188 1.99214243888855 259.6884460449219 C 1.506557703018188 261.2068481445312 1.100421547889709 262.8675537109375 0.7849989533424377 264.6249389648438 C 0.4725408852100372 266.3668823242188 0.2602829337120056 268.019287109375 0.1553397476673126 269.537109375 C 0.05217515677213669 271.0241088867188 0 272.5674133300781 0 274.1261596679688 C 0 278.1827392578125 1.289556622505188 281.4668273925781 3.832502841949463 283.8888244628906 C 6.344024658203125 286.27880859375 9.667226791381836 287.4912719726562 13.70842933654785 287.4912719726562 L 51.12750244140625 287.4912719726562 C 55.16870880126953 287.4912719726562 58.49072265625 286.2794189453125 61.00284194946289 283.8888244628906 C 63.54637908935547 281.4686279296875 64.8359375 278.1839599609375 64.8359375 274.1255493164062 C 64.83534240722656 272.5596923828125 64.78257751464844 271.0151977539062 64.67881774902344 269.5353088378906 Z M 64.67881774902344 269.5353088378906">
                </path>
            </svg>
        </div>
    </button>
    <button (click)="redirect('notifications-m')" id="notification-btn">
        <svg class="Icon_awesome_bell" viewBox="0 0 45.605 53.841">
            <path fill="rgba(255,255,129,1)" id="Icon_awesome_bell"
                d="M 22.80224990844727 53.84092330932617 C 26.39766883850098 53.84092330932617 29.31411361694336 50.8281364440918 29.31411361694336 47.11080169677734 L 16.29038047790527 47.11080169677734 C 16.29038047790527 50.8281364440918 19.20682525634766 53.84092330932617 22.80224990844727 53.84092330932617 Z M 44.7280158996582 38.09770584106445 C 42.76132583618164 35.91462707519531 39.0814094543457 32.63054275512695 39.0814094543457 21.87287139892578 C 39.0814094543457 13.70209217071533 33.53557968139648 7.161261558532715 26.05767250061035 5.5565505027771 L 26.05767250061035 3.365057706832886 C 26.05767250061035 1.506914854049683 24.59996032714844 0 22.80224990844727 0 C 21.00453758239746 0 19.54682159423828 1.506914854049683 19.54682159423828 3.365057706832886 L 19.54682159423828 5.556550979614258 C 12.0689172744751 7.161262035369873 6.523087501525879 13.70209217071533 6.523087501525879 21.87287330627441 C 6.523087501525879 32.63054275512695 2.843173980712891 35.91462707519531 0.8764819502830505 38.09770584106445 C 0.2657080590724945 38.77597427368164 -0.005068393424153328 39.58674240112305 2.144067366316449e-05 40.38068389892578 C 0.0112189631909132 42.10528182983398 1.321328997612 43.74574279785156 3.267661809921265 43.74574279785156 L 42.33683776855469 43.74574279785156 C 44.28316497802734 43.74574279785156 45.59429550170898 42.10528182983398 45.60447692871094 40.38068389892578 C 45.60956192016602 39.58674240112305 45.33879089355469 38.77492523193359 44.7280158996582 38.09770584106445 Z">
            </path>
        </svg>
        <svg class="Ellipse_5">
            <ellipse fill="rgba(245,112,90,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
                stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_5" rx="17" ry="17"
                cx="17" cy="17">
            </ellipse>
        </svg>
        <div id="ID3">
            <span>3</span>
        </div>
    </button>
    <div id="big_store">
        <svg class="Path_48" viewBox="0.01 187.075 87.01 53.06">
            <path fill="rgba(0,111,97,1)" id="Path_48"
                d="M 82.64948272705078 231.3935241699219 L 80.80458068847656 231.3935241699219 L 80.80458068847656 189.0904541015625 L 80.80313873291016 189.0904541015625 C 78.53961944580078 189.0904541015625 76.39497375488281 188.3523864746094 74.60735321044922 187.1053466796875 C 73.40729522705078 187.9496765136719 72.02403259277344 188.5758666992188 70.49333190917969 188.8812255859375 C 69.78778839111328 189.0203552246094 69.07411193847656 189.0904541015625 68.37146759033203 189.0904541015625 C 66.07071685791016 189.0904541015625 63.92896270751953 188.3307189941406 62.14441680908203 187.0749816894531 C 60.65491485595703 188.1202087402344 58.91029357910156 188.8467102050781 56.96494293212891 189.0416564941406 C 56.61966705322266 189.0732727050781 56.27999877929688 189.0904541015625 55.93851852416992 189.0904541015625 C 53.62764739990234 189.0904541015625 51.50180053710938 188.344970703125 49.73441314697266 187.1123962402344 C 47.9697380065918 188.3494873046875 45.83105850219727 189.0904541015625 43.51586151123047 189.0904541015625 C 41.19921493530273 189.0904541015625 39.06180191040039 188.3509521484375 37.29712677001953 187.1123962402344 C 35.52974319458008 188.3451538085938 33.40389251708984 189.0904541015625 31.09158134460449 189.0904541015625 C 30.75010108947754 189.0904541015625 30.41024971008301 189.073486328125 30.00607299804688 189.0362548828125 C 28.12106895446777 188.8483581542969 26.3809642791748 188.1445922851562 24.86995887756348 187.0836791992188 C 23.08974838256836 188.3352355957031 20.95359802246094 189.0904541015625 18.65863609313965 189.0904541015625 C 17.95905303955078 189.0904541015625 17.24664306640625 189.0203552246094 16.53134155273438 188.8799743652344 C 15.00172901153564 188.5758666992188 13.62135219573975 187.9496459960938 12.42147445678711 187.1066284179688 C 10.63529777526855 188.3523864746094 8.492284774780273 189.0904541015625 6.227132797241211 189.0904541015625 L 6.225687980651855 189.0904541015625 L 6.225687980651855 231.3935241699219 L 4.380972385406494 231.3935241699219 C 1.967123627662659 231.3935241699219 0.01002693176269531 233.3502502441406 0.01002693176269531 235.7642822265625 C 0.01002693176269531 238.1781311035156 1.967123627662659 240.1350402832031 4.380972385406494 240.1350402832031 L 49.58697891235352 240.1350402832031 L 49.58697891235352 231.3933410644531 L 49.58697891235352 207.0082397460938 C 49.58697891235352 204.5611267089844 51.56954956054688 202.5771179199219 54.01773071289062 202.5771179199219 L 69.55561828613281 202.5771179199219 C 72.00415802001953 202.5771179199219 73.98817443847656 204.5611267089844 73.98817443847656 207.0082397460938 L 73.98817443847656 231.3935241699219 L 73.98817443847656 240.1352233886719 L 82.64948272705078 240.1352233886719 C 85.06332397460938 240.1352233886719 87.02024841308594 238.1781311035156 87.02024841308594 235.7644653320312 C 87.02024841308594 233.3502502441406 85.06332397460938 231.3935241699219 82.64948272705078 231.3935241699219 Z M 41.87295532226562 197.370361328125 L 41.87295532226562 216.4635925292969 C 41.87295532226562 217.6089172363281 40.944091796875 218.5363464355469 39.80022811889648 218.5363464355469 L 16.63612937927246 218.5363464355469 C 15.49081707000732 218.5363464355469 14.56339931488037 217.6089172363281 14.56339931488037 216.463623046875 L 14.56339931488037 214.056640625 L 36.01449203491211 195.2963562011719 L 39.80058670043945 195.2963562011719 C 40.944091796875 195.2963562011719 41.87295532226562 196.2250366210938 41.87295532226562 197.370361328125 Z M 31.62060165405273 195.2963562011719 L 14.563401222229 210.213623046875 L 14.563401222229 205.7438354492188 L 26.5161075592041 195.2963562011719 L 31.62060165405273 195.2963562011719 Z M 14.56321907043457 197.370361328125 C 14.56321907043457 196.2250366210938 15.49063682556152 195.2963562011719 16.63594818115234 195.2963562011719 L 22.12076950073242 195.2963562011719 L 14.56321907043457 201.9019165039062 L 14.56321907043457 197.370361328125 Z">
            </path>
        </svg>
        <svg class="Path_49" viewBox="0 0.855 87.014 31.001">
            <path fill="rgba(0,111,97,1)" id="Path_49"
                d="M 0.2616689205169678 23.8597354888916 C -0.7201316356658936 27.14824485778809 1.149155974388123 30.61020088195801 4.439109802246094 31.5936279296875 C 5.032454013824463 31.76978874206543 5.631760597229004 31.85579299926758 6.220768928527832 31.85579299926758 C 8.895695686340332 31.85579299926758 11.36700057983398 30.11135101318359 12.17282104492188 27.41618728637695 L 12.49822044372559 26.32814788818359 C 12.71900749206543 28.30782890319824 13.8771505355835 30.06816673278809 15.60605144500732 31.04726028442383 C 16.16199684143066 31.36272239685059 16.77160453796387 31.60211944580078 17.4336051940918 31.73401260375977 C 17.84355926513672 31.81585884094238 18.25080871582031 31.85578918457031 18.65371704101562 31.85578918457031 C 21.55629920959473 31.85578918457031 24.15263175964355 29.80889511108398 24.74164009094238 26.85139083862305 L 24.89521789550781 26.08748435974121 C 25.04554176330566 28.19743347167969 26.26981163024902 30.04269218444824 28.05887603759766 31.04726028442383 C 28.78140449523926 31.45306015014648 29.58415412902832 31.73546028137207 30.46116256713867 31.82290840148926 C 30.67056846618652 31.84440803527832 30.87834739685059 31.85434341430664 31.08485984802246 31.85434341430664 C 34.24020767211914 31.85434341430664 36.94386291503906 29.46036911010742 37.26203536987305 26.25370788574219 L 37.30774688720703 25.79659652709961 C 37.36502456665039 28.05867576599121 38.63952255249023 29.99950790405273 40.48875045776367 31.04021072387695 C 41.3859977722168 31.54339981079102 42.40375137329102 31.85434341430664 43.5076904296875 31.85434341430664 C 44.61000061035156 31.85434341430664 45.63046646118164 31.54339981079102 46.52662658691406 31.03876495361328 C 48.37748336791992 29.99788475036621 49.65180206298828 28.05415725708008 49.7076301574707 25.78918647766113 L 49.75334167480469 26.25370788574219 C 50.07313537597656 29.46055030822754 52.77534866333008 31.85434341430664 55.93177795410156 31.85434341430664 C 56.13702392578125 31.85434341430664 56.3448066713 28.20195388793945 62.12160491943359 26.09308624267578 L 62.2721061706543 26.85139083862305 C 62.86147689819336 29.80889701843262 65.45763397216797 31.85579299926758 68.36021423339844 31.85579299926758 C 68.762939453125 31.85579299926758 69.17163848876953 31.81586265563965 69.58159637451172 31.73401641845703 C 70.24378204345703 31.60230255126953 70.85301971435547 31.3629035949707 71.40788269042969 31.04726219177246 C 73.13515472412109 30.06817054748535 74.294921875 28.30783081054688 74.51715850830078 26.32814979553223 L 74.84111785888672 27.41619110107422 C 75.64692687988281 30.1127986907959 78.1195068359375 31.85579490661621 80.79479217529297 31.85579490661621 C 81.38397979736328 31.85579490661621 81.98328399658203 31.76979064941406 82.57645416259766 31.59362983703613 C 85.86640167236328 30.61020469665527 87.73406219482422 27.14824485778809 86.75389099121094 23.8597354888916 L 81.42969512939453 6.037002086639404 C 80.51077270507812 2.96205472946167 77.68244934082031 0.8549957275390625 74.47415924072266 0.8549957275390625 L 12.54104232788086 0.8549957275390625 C 9.33311653137207 0.8549957275390625 6.504612922668457 2.96205472946167 5.585688591003418 6.037002086639404 L 0.2616689205169678 23.8597354888916 Z">
            </path>
        </svg>
        <svg class="Path_50" viewBox="292.399 370.274 4.822 4.822">
            <path fill="rgba(0,111,97,1)" id="Path_50"
                d="M 294.8101196289062 370.2739868164062 C 293.478515625 370.2739868164062 292.3989868164062 371.353515625 292.3989868164062 372.6851196289062 C 292.3989868164062 374.018310546875 293.478515625 375.096435546875 294.8101196289062 375.096435546875 C 296.1433410644531 375.096435546875 297.221435546875 374.018310546875 297.221435546875 372.6851196289062 C 297.221435546875 371.353515625 296.1433410644531 370.2739868164062 294.8101196289062 370.2739868164062 Z">
            </path>
        </svg>
    </div>
    <div (click)="redirect('i-manager-mobile')" id="inventory">
        <svg class="Path_51" viewBox="17 41.723 19.202 29.689">
            <path fill="rgba(0,111,97,1)" id="Path_51"
                d="M 31.40186309814453 51.76749420166016 C 31.40186309814453 52.37397766113281 31.05941772460938 52.92764282226562 30.51694869995117 53.19968414306641 L 24.11611938476562 56.40010070800781 C 23.8904914855957 56.51211547851562 23.64566040039062 56.56812286376953 23.40082550048828 56.56812286376953 C 23.10799026489258 56.56812286376953 22.81675338745117 56.48811340332031 22.56071853637695 56.32968902587891 C 22.08865737915039 56.03685760498047 21.80062103271484 55.52318572998047 21.80062103271484 54.96791076660156 L 21.80062103271484 49.95286560058594 L 17 52.69561767578125 L 17 71.41164398193359 L 36.20248413085938 60.43902587890625 L 36.20248413085938 41.72300720214844 L 31.40186309814453 44.46575927734375 L 31.40186309814453 51.76749420166016 Z">
            </path>
        </svg>
        <svg class="Path_52" viewBox="53 57 6.401 6.401">
            <path fill="rgba(0,111,97,1)" id="Path_52"
                d="M 53 60.20041275024414 C 53 61.9654426574707 54.43538665771484 63.40082931518555 56.20041656494141 63.40082931518555 C 57.96544647216797 63.40082931518555 59.40083312988281 61.9654426574707 59.40083312988281 60.20041275024414 L 59.40083312988281 57.00000381469727 L 53 57.00000381469727 L 53 60.20041275024414 Z">
            </path>
        </svg>
        <svg class="Path_53" viewBox="3 41.723 19.202 29.69">
            <path fill="rgba(0,111,97,1)" id="Path_53"
                d="M 2.999999761581421 60.44062042236328 L 22.20248603820801 71.41323852539062 L 22.20248603820801 52.69561767578125 L 2.999999761581421 41.72299957275391 L 2.999999761581421 60.44062042236328 Z">
            </path>
        </svg>
        <svg class="Path_54" viewBox="4.016 38.223 24.154 13.802">
            <path fill="rgba(0,111,97,1)" id="Path_54"
                d="M 8.991044044494629 38.22299957275391 L 4.015999794006348 41.06657028198242 L 23.1928825378418 52.02478408813477 L 28.16952705383301 49.18121719360352 L 8.991044044494629 38.22299957275391 Z">
            </path>
        </svg>
        <svg class="Path_55" viewBox="53 33.868 1.6 33.816">
            <path fill="rgba(0,111,97,1)" id="Path_55"
                d="M 53 67.68357849121094 L 54.60021209716797 67.68357849121094 L 54.60021209716797 34.93534088134766 L 53 33.86799621582031 L 53 67.68357849121094 Z">
            </path>
        </svg>
        <svg class="Path_56" viewBox="53 4.414 10.539 10.539">
            <path fill="rgba(0,111,97,1)" id="Path_56"
                d="M 53 4.413999557495117 L 53 14.95296382904053 L 63.53896331787109 14.95296382904053 L 53 4.413999557495117 Z">
            </path>
        </svg>
        <svg class="Path_57" viewBox="12.891 33.152 24.152 13.802">
            <path fill="rgba(0,111,97,1)" id="Path_57"
                d="M 37.04292297363281 44.11022186279297 L 17.86604309082031 33.15200042724609 L 12.89099884033203 35.99556732177734 L 32.0678825378418 46.95378875732422 L 37.04292297363281 44.11022186279297 Z">
            </path>
        </svg>
        <svg class="Path_58" viewBox="9.14 36.08 23.779 19.686">
            <path fill="rgba(0,111,97,1)" id="Path_58"
                d="M 29.71866226196289 50.35384368896484 L 29.71866226196289 55.7657470703125 L 32.91907501220703 54.16554260253906 L 32.91907501220703 48.08155822753906 L 11.91635894775391 36.08000183105469 L 9.140000343322754 37.66580963134766 L 28.91215896606445 48.96327209472656 C 29.41142272949219 49.24971008300781 29.71866226196289 49.77938079833984 29.71866226196289 50.35385131835938 Z">
            </path>
        </svg>
        <svg class="Path_59" viewBox="27 3 54.407 73.61">
            <path fill="rgba(0,111,97,1)" id="Path_59"
                d="M 67.00518035888672 19.00207138061523 C 66.12026214599609 19.00207138061523 65.40497589111328 18.28517913818359 65.40497589111328 17.40186309814453 L 65.40497589111328 2.999999761581421 L 27.00000190734863 2.999999761581421 L 27.00000190734863 57.62146759033203 L 32.59432220458984 60.81868362426758 C 33.09358978271484 61.10352325439453 33.40082550048828 61.63318634033203 33.40082550048828 62.20766448974609 L 33.40082550048828 76.60952758789062 L 65.40497589111328 76.60952758789062 L 65.40497589111328 49.406005859375 C 65.40497589111328 49.2139778137207 65.43857574462891 49.02355575561523 65.50578308105469 48.84433364868164 L 70.30640411376953 36.04267501831055 C 70.54163360595703 35.41859817504883 71.13851165771484 35.00414276123047 71.80580139160156 35.00414276123047 C 72.47308349609375 35.00414276123047 73.06996917724609 35.41859817504883 73.30519866943359 36.04267501831055 L 78.10581970214844 48.84433364868164 C 78.17302703857422 49.02355575561523 78.20662689208984 49.21398162841797 78.20662689208984 49.406005859375 L 78.20662689208984 76.60952758789062 L 81.40704345703125 76.60952758789062 L 81.40704345703125 19.00207138061523 L 67.00518035888672 19.00207138061523 Z M 30.20041465759277 22.20248603820801 L 33.40082550048828 22.20248603820801 L 33.40082550048828 25.40289878845215 L 30.20041465759277 25.40289878845215 L 30.20041465759277 22.20248603820801 Z M 62.20455932617188 44.60538482666016 L 30.20041465759277 44.60538482666016 L 30.20041465759277 41.40497207641602 L 62.20455932617188 41.40497207641602 L 62.20455932617188 44.60538482666016 Z M 62.20455932617188 38.20455551147461 L 30.20041465759277 38.20455551147461 L 30.20041465759277 35.00414276123047 L 62.20455932617188 35.00414276123047 L 62.20455932617188 38.20455551147461 Z M 71.80580139160156 31.80372619628906 L 30.20041465759277 31.80372619628906 L 30.20041465759277 28.60331344604492 L 71.80580139160156 28.60331344604492 L 71.80580139160156 31.80372619628906 Z M 78.20662689208984 31.80372619628906 L 75.00621795654297 31.80372619628906 L 75.00621795654297 28.60331344604492 L 78.20662689208984 28.60331344604492 L 78.20662689208984 31.80372619628906 Z M 78.20662689208984 25.40289878845215 L 36.60124206542969 25.40289878845215 L 36.60124206542969 22.20248603820801 L 78.20662689208984 22.20248603820801 L 78.20662689208984 25.40289878845215 Z">
            </path>
        </svg>
        <svg class="Path_60" viewBox="53.215 26.848 5.713 9.521">
            <path fill="rgba(0,111,97,1)" id="Path_60"
                d="M 58.92773818969727 34.46498489379883 L 56.07136917114258 26.84799957275391 L 53.21500015258789 34.46498489379883 L 56.07136917114258 36.36923217773438 L 58.92773818969727 34.46498489379883 Z">
            </path>
        </svg>
        <svg class="Path_61" viewBox="56 33.868 1.6 33.816">
            <path fill="rgba(0,111,97,1)" id="Path_61"
                d="M 55.99999618530273 67.68357849121094 L 57.6002082824707 67.68357849121094 L 57.6002082824707 33.86799621582031 L 55.99999618530273 34.93534088134766 L 55.99999618530273 67.68357849121094 Z">
            </path>
        </svg>
    </div>
    <div id="cook_book">
        <svg class="Path_75" viewBox="3.671 0 68.292 91.878">
            <path fill="rgba(0,111,97,1)" id="Path_75"
                d="M 71.96266174316406 79.45836639404297 L 71.96266174316406 4.966549396514893 C 71.96266174316406 2.235910892486572 69.72354125976562 0 66.99289703369141 0 L 8.63754940032959 0 C 5.90691089630127 0 3.670999526977539 2.235910892486572 3.670999526977539 4.966549396514893 L 3.670999526977539 9.933098793029785 L 3.670999526977539 79.46157836914062 L 3.670999526977539 86.91140747070312 C 3.670999526977539 89.64525604248047 5.90691089630127 91.87795257568359 8.63754940032959 91.87795257568359 L 66.99289703369141 91.87795257568359 C 68.81118011474609 91.87795257568359 70.40138244628906 90.87564849853516 71.26554107666016 89.39467620849609 L 13.60409832000732 89.39467620849609 C 10.87346172332764 89.39467620849609 8.63754940032959 87.16197967529297 8.63754940032959 84.43134307861328 L 66.99289703369141 84.43134307861328 C 69.72674560546875 84.42813110351562 71.96266174316406 82.1954345703125 71.96266174316406 79.45836639404297 Z M 20.63629531860352 66.44767761230469 C 19.74964141845703 67.33432769775391 18.31043243408203 67.33432769775391 17.42377853393555 66.44767761230469 C 16.54033660888672 65.56423950195312 16.54033660888672 64.12181091308594 17.4269905090332 63.23516082763672 L 31.58454895019531 49.07439041137695 L 34.79706192016602 52.28691101074219 L 20.63629531860352 66.44767761230469 Z M 55.10337829589844 66.6468505859375 C 54.21350860595703 67.53672027587891 52.77429962158203 67.53029632568359 51.88443374633789 66.6468505859375 L 27.80984115600586 42.56904983520508 C 27.70382690429688 42.46303558349609 27.64921569824219 42.33132171630859 27.56568908691406 42.21245956420898 C 24.08010864257812 43.8701171875 19.08464813232422 42.67827606201172 15.36776828765869 38.96139144897461 C 10.93770885467529 34.52812194824219 10.04141712188721 28.23801422119141 13.36315822601318 24.91306114196777 C 16.68490219116211 21.5913200378418 22.97500991821289 22.49082374572754 27.40506744384766 26.92088317871094 C 31.12194442749023 30.63776206970215 32.31378936767578 35.63644027709961 30.65613174438477 39.12202072143555 C 30.7782096862793 39.20233154296875 30.9099235534668 39.25373458862305 31.01914596557617 39.36295700073242 L 55.09695434570312 63.43754959106445 C 55.98039245605469 64.32420349121094 55.98681640625 65.76341247558594 55.10337829589844 66.6468505859375 Z M 63.91851806640625 31.99665832519531 L 53.60313034057617 42.31204605102539 C 53.5228157043457 42.39235687255859 53.42644119262695 42.44054412841797 53.33327865600586 42.491943359375 C 49.81235885620117 45.62414932250977 46.19828033447266 45.64663696289062 43.255615234375 43.75446319580078 C 43.19779205322266 43.82513809204102 43.1753044128418 43.9118766784668 43.10462951660156 43.97612762451172 L 40.74021530151367 46.34375 L 37.5276985168457 43.13444900512695 L 39.89853668212891 40.76361083984375 C 39.96278762817383 40.69935989379883 40.04952621459961 40.67366027832031 40.12020111083984 40.61904907226562 C 38.22481536865234 37.67317199707031 38.2473030090332 34.05587768554688 41.38271713256836 30.54138565063477 C 41.43412017822266 30.45143508911133 41.47588348388672 30.35184669494629 41.55940628051758 30.27474594116211 L 51.87479400634766 19.95614433288574 C 52.35025024414062 19.47747993469238 53.12446212768555 19.47747993469238 53.59991836547852 19.95614433288574 C 54.07537078857422 20.43159675598145 54.07537078857422 21.20260047912598 53.59349060058594 21.67805480957031 L 43.62184143066406 31.64970397949219 L 45.34053802490234 33.37161254882812 L 55.31539535522461 23.39675140380859 C 55.784423828125 22.92129898071289 56.55863952636719 22.92129898071289 57.03409576416016 23.39675140380859 C 57.50312042236328 23.86898994445801 57.50312042236328 24.63678359985352 57.03409576416016 25.11544609069824 L 47.06244277954102 35.09030914306641 L 48.78756713867188 36.81221771240234 L 58.75921630859375 26.84056854248047 C 59.23467254638672 26.36511611938477 60.00245666503906 26.36190223693848 60.47791290283203 26.83735466003418 C 60.95336151123047 27.31280517578125 60.95336151123047 28.08380889892578 60.47791290283203 28.55926322937012 L 50.50625991821289 38.53091430664062 L 52.22495651245117 40.24960708618164 L 62.19660949707031 30.27474784851074 C 62.67205810546875 29.79929733276367 63.44627380371094 29.79929733276367 63.91529846191406 30.27474784851074 C 64.39397430419922 30.74699020385742 64.39397430419922 31.52120590209961 63.91851806640625 31.99665832519531 Z">
            </path>
        </svg>
    </div>
</div>