#Dashboard {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(0,111,97,1);
    overflow: hidden;
    --web-view-name: Dashboard;
    --web-view-id: Dashboard;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Login_txt_logo {
    position: absolute;
    width: 285px;
    height: 69px;
    left: 65px;
    top: 59px;
    overflow: visible;
}
#loginpage_logo {
    position: absolute;
    width: 81px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#DASHBOARD {
    position: absolute;
    left: 111px;
    top: 18px;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#Group_38 {
    position: absolute;
    width: 153px;
    height: 198px;
    left: 42px;
    top: 222px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Shopping_List_.html;
    cursor: pointer;
}
#sp-list-btn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1px;
    top: 0px;
    overflow: visible;
    border:none;
    background-color:transparent;
}
.Rectangle_8 {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#list {
    position: absolute;
    width: 79.961px;
    height: 106.615px;
    left: 35.019px;
    top: 21.692px;
    overflow: visible;
}
#Group_31 {
    position: absolute;
    width: 39.981px;
    height: 26.654px;
    left: 19.99px;
    top: 0px;
    overflow: visible;
}
#Group_30 {
    position: absolute;
    width: 39.981px;
    height: 26.654px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 39.981px;
    height: 26.654px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_33 {
    position: absolute;
    width: 79.961px;
    height: 93.288px;
    left: 0px;
    top: 13.327px;
    overflow: visible;
}
#Group_32 {
    position: absolute;
    width: 79.961px;
    height: 93.288px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_43 {
    overflow: visible;
    position: absolute;
    width: 79.961px;
    height: 93.288px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Shopping_List {
    position: absolute;
    left: 0px;
    top: 161px;
    overflow: visible;
    width: 154px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#kitchen-btn {
    position: absolute;
    width: 150px;
    height: 198px;
    left: 222px;
    top: 222px;
    overflow: visible;
    --web-animation: fadein 1s ease-out;
    --web-action-type: page;
    --web-action-target: Kitchen.html;
    cursor: pointer;
    border:none;
    background-color:transparent;
}
#Group_36_br {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_bs {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#kitchen_furniture {
    position: absolute;
    width: 94.745px;
    height: 91.501px;
    left: 27.628px;
    top: 29.203px;
    overflow: visible;
}
#Group_35 {
    position: absolute;
    width: 94.745px;
    height: 46.163px;
    left: 0px;
    top: 45.338px;
    overflow: visible;
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 21.066px;
    height: 17.739px;
    left: 36.84px;
    top: 19.881px;
}
#Group_34 {
    position: absolute;
    width: 94.745px;
    height: 46.163px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_44 {
    overflow: visible;
    position: absolute;
    width: 23.35px;
    height: 46.163px;
    left: 71.395px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_45 {
    overflow: visible;
    position: absolute;
    width: 24.022px;
    height: 46.163px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_46 {
    overflow: visible;
    position: absolute;
    width: 39.31px;
    height: 46.163px;
    left: 28.054px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_47 {
    overflow: visible;
    position: absolute;
    width: 36.097px;
    height: 30.417px;
    left: 29.324px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Kitchen {
    position: absolute;
    left: 32px;
    top: 161px;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#supermarket-btn {
    position: absolute;
    width: 152px;
    height: 198px;
    left: 42px;
    top: 445px;
    overflow: visible;
    --web-animation: fadein 1s ease-out;
    --web-action-type: page;
    --web-action-target: Super_Market.html;
    cursor: pointer;
    border:none;
    background-color:transparent;
}
#Group_36_b {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_b {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Super_Market {
    position: absolute;
    left: 0px;
    top: 161px;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#invmanager-btn {
    position: absolute;
    width: 171px;
    height: 195px;
    left: 218px;
    top: 445px;
    overflow: visible;
    cursor: pointer;
    border:none;
    background-color:transparent;
}
#Group_36_ca {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 4px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_ca {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Inventory_Manager {
    position: absolute;
    left: 33px;
    top: 161px;
    overflow: visible;
    width: 172px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.97px;
}
#recipies-btn {
    position: absolute;
    width: 150px;
    height: 200px;
    left: 43px;
    top: 668px;
    overflow: visible;
    border:none;
    background-color:transparent;
}
#Group_36_cb {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_cc {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Recipies {
    position: absolute;
    left: 30px;
    top: 163px;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#profile-btn {
    position: absolute;
    width: 150px;
    height: 200px;
    left: 222px;
    top: 668px;
    overflow: visible;
    border:none;
    background-color:transparent;
}
#Group_36_cf {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_8_cg {
    filter: drop-shadow(7px 8px 1px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 158.5px;
    height: 159.5px;
    left: 0px;
    top: 0px;
}
#Profile {
    position: absolute;
    left: 38px;
    top: 163px;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#user {
    position: absolute;
    width: 64.836px;
    height: 77.713px;
    left: 42.164px;
    top: 36.145px;
    overflow: visible;
}
.Path_70 {
    overflow: visible;
    position: absolute;
    width: 37.436px;
    height: 37.435px;
    left: 13.21px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_71 {
    overflow: visible;
    position: absolute;
    width: 64.836px;
    height: 40.175px;
    left: 0px;
    top: 37.538px;
    transform: matrix(1,0,0,1,0,0);
}
#notification-btn {
    position: absolute;
    width: 51.549px;
    height: 66px;
    left: 186px;
    top: 147px;
    overflow: visible;
    border:none;
    background-color:transparent;
}
.Icon_awesome_bell {
    overflow: visible;
    position: absolute;
    width: 45.604px;
    height: 53.841px;
    left: 0px;
    top: 12.159px;
    transform: matrix(1,0,0,1,0,0);
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 34px;
    height: 34px;
    left: 17.549px;
    top: 3px;
}
#ID3 {
    position: absolute;
    left: 26.549px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: rgba(253,245,219,1);
}
#big_store {
    position: absolute;
    width: 87.014px;
    height: 86.706px;
    left: 74.293px;
    top: 477.594px;
    overflow: visible;
}
.Path_48 {
    overflow: visible;
    position: absolute;
    width: 87.01px;
    height: 53.06px;
    left: 0.002px;
    top: 33.646px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_49 {
    overflow: visible;
    position: absolute;
    width: 87.014px;
    height: 31.001px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_50 {
    overflow: visible;
    position: absolute;
    width: 4.822px;
    height: 4.823px;
    left: 52.83px;
    top: 66.746px;
    transform: matrix(1,0,0,1,0,0);
}
#inventory {
    position: absolute;
    width: 92.812px;
    height: 92.812px;
    left: 250.594px;
    top: 477.594px;
    overflow: visible;
}
.Path_51 {
    overflow: visible;
    position: absolute;
    width: 19.203px;
    height: 29.689px;
    left: 22.403px;
    top: 61.965px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_52 {
    overflow: visible;
    position: absolute;
    width: 6.401px;
    height: 6.401px;
    left: 80.01px;
    top: 86.411px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_53 {
    overflow: visible;
    position: absolute;
    width: 19.203px;
    height: 29.69px;
    left: 0px;
    top: 61.965px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_54 {
    overflow: visible;
    position: absolute;
    width: 24.154px;
    height: 13.802px;
    left: 1.626px;
    top: 56.364px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_55 {
    overflow: visible;
    position: absolute;
    width: 1.6px;
    height: 33.816px;
    left: 80.01px;
    top: 49.395px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_56 {
    overflow: visible;
    position: absolute;
    width: 10.539px;
    height: 10.539px;
    left: 80.01px;
    top: 2.263px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_57 {
    overflow: visible;
    position: absolute;
    width: 24.152px;
    height: 13.802px;
    left: 15.828px;
    top: 48.249px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_58 {
    overflow: visible;
    position: absolute;
    width: 23.779px;
    height: 19.686px;
    left: 9.825px;
    top: 52.935px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_59 {
    overflow: visible;
    position: absolute;
    width: 54.407px;
    height: 73.609px;
    left: 38.405px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_60 {
    overflow: visible;
    position: absolute;
    width: 5.713px;
    height: 9.521px;
    left: 80.354px;
    top: 38.162px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 1.6px;
    height: 33.816px;
    left: 84.811px;
    top: 49.395px;
    transform: matrix(1,0,0,1,0,0);
}
#cook_book {
    position: absolute;
    width: 68.292px;
    height: 91.878px;
    left: 83.483px;
    top: 693.361px;
    overflow: visible;
}
.Path_75 {
    overflow: visible;
    position: absolute;
    width: 68.292px;
    height: 91.878px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}