<!-- <ami-fullstack-products-search-bar [inputString]="'parameterkaikala'"></ami-fullstack-products-search-bar> -->

<div id="dashboard">
  <div id="dashboard-top">
    <div id="dashboard-logo"></div>
    <div id="all-together">
      <div id="logo-bar"></div>
      <p class="position-of-txt general-category-txt">Dashboard</p>
      <!-- <a class="notification position-of-notification" (click)="redirect('notifications')"> -->
      <span id="notificationsNumberBadge" class="badge"></span>
      <ami-fullstack-notifications class="notification position-of-notification">

      </ami-fullstack-notifications>

      <!-- </a> -->
    </div>
  </div>



  <div id="dashboard-background">

    <a routerLink="/kitchen">
      <button id="kitchen-board">
        <div id="kitchen-board-logo"></div>
        <p id="kitchen-txt">Kitchen</p>
      </button>
    </a>
    <a routerLink="/shopping-list">
      <button id="sp-list-board">
        <div id="sp-list-board-logo"></div>
        <p id="sp-list-txt">Shopping List</p>
      </button>
    </a>
    <div id="recipes-board">
      <div id="recipes-board-logo"></div>
      <p id="recipes-board-txt">Recepies</p>
    </div>
    <a routerLink="/inventory-manager">
      <button id="inv-manager-board">
        <div id="inv-manager-board-logo"></div>
        <p id="inv-board-txt">Inventory Manager</p>
      </button>
    </a>
    <a routerLink="/super-market">
      <button id="sm-board">
        <div id="sm-board-logo"></div>
        <p id="sm-board-txt">Super Market</p>
      </button>
    </a>
    <a routerLink="/profile">
      <button id="profile-board">
        <div id="profile-board-logo"></div>
        <p id="profile-board-txt">Profile</p>
      </button>
    </a>
  </div>

  <!-- <ami-fullstack-notifications *ngIf="showNotifications" id="dashboard_notifications"></ami-fullstack-notifications> -->