body{
    background-color:#05564B;
    background-size: 1280px 800px;
    width:1280px;
    height: 800px;
}
#dashboard{
  position:absolute;
  top:80px;
}

#dashboard-top{
  POSITION: absolute;
  LEFT: 1PX;
}
#dashboard-logo{
  position: absolute;
  left: 454px;
  top: -5px;
  background-image: url('../images/icons/loginpage/loginpage-logo.png') !important;
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
#kitchen-board{
    position:absolute;
    top:200px;
    left:250px;
    width:210px;
    height:170px;
    background-size: 520px 340px;
    background-color: #FDF5DB;
    border-radius: 10px;
}
#kitchen-txt{
  position:absolute;
  top:130px;
  left:72px;
  font-size: 20px;
  color:#003A3E;
}
#kitchen-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons/dark/kitchen-dark.png");
  left:55px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#sp-list-board{
  position:absolute;
  top:200px;
  left:550px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FDF5DB;
  border-radius: 10px;
}
#sp-list-txt{
  position:absolute;
  top:130px;
  left:42px;
  font-size: 20px;
  color:#003A3E;
}
#sp-list-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons//dark/shopping-list-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#recipes-board{
  position:absolute;
  top:400px;
  left:250px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FDF5DB;
  border-radius: 10px;
}
#recipes-board-txt{
  position:absolute;
  top:130px;
  left:65px;
  font-size: 20px;
  color:#003A3E;
}
#recipes-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons/dark/recipies-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#inv-manager-board{
  position:absolute;
  top:400px;
  left:550px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FDF5DB;
  border-radius: 10px;
}
#inv-board-txt{
  position:absolute;
  top:130px;
  left:22px;
  font-size: 20px;
  color:#003A3E;
}
#inv-manager-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons/dark/inventory-manager-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#sm-board{
  position:absolute;
  top:200px;
  left:850px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FDF5DB;
  border-radius: 10px;
}
#sm-board-txt{
  position:absolute;
  top:130px;
  left:22px;
  font-size: 20px;
  color:#003A3E;
}
#sm-board-logo{
  position:absolute;
  background-image:url(".././images/menuBarIcons/dark/inventory-manager-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
}
#profile-board{
  position:absolute;
  top:400px;
  left:850px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FDF5DB;
  border-radius: 10px;
}
#sm-board-txt{
  position:absolute;
  top:130px;
  left:46px;
  font-size: 20px;
  color:#003A3E;
}
#sm-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons/dark/super-market-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
}#profile-board-txt{
   position:absolute;
   top:130px;
   left:80px;
   font-size: 20px;
   color:#003A3E;
 }
#profile-board-logo{
  position:absolute;
  background-image:url("../images/menuBarIcons/dark/profile-dark.png");
  left:60px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
}
#logo-bar{
  position: absolute;
  width: 8px;
  height: 130px;
  left: 211px;
  top: 21px;
  background-color: #fdf5db;
}
.position-of-txt{
  position:absolute;
  left:252px;
  top:30px;
}
.position-of-notification{
  position:absolute;
  left:290px;
  top:97px;
  z-index: 2;
}
.notification {
  position:absolute;
  width:40px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../images/icons/dashboard/bell.png');
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px 8px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: white;
}

.badge {
	position: absolute;
	top: 85px;
	right: -365px;
	padding: 6px 8px;
	border-radius: 50%;
	background-color: yellowgreen;
	color: white;
	z-index: 3;
}
#all-together{
  position: absolute;
  left: 439px;
  top: -29px;
}
