#top-bar-container{
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
}

#kitchen-awaiting-container {
	background-color: #fdf5db;
	width: 1280px;
	height: 800px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#awaiting-products-list{
    position: relative;
    top: 150px;
  }

  .panel-heading{
      margin-bottom: 130px;
  }