<div id="top-bar-container">
    <ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>
</div>

<div id="kitchen-awaiting-container">

    <div id="prouductsContainer" *ngIf="haveProducts">
        <div class="row" id="awaiting-products-list">
            <div class="col-sm-4 go-shopping-list-item-padding" *ngFor="let product of productsArray$">
                <div class="panel-heading">
                    <ami-fullstack-awaiting-confirmation-product-item [product]="product">
                    </ami-fullstack-awaiting-confirmation-product-item>
                </div>
            </div>
        </div>
    </div>
</div>