<input type="text" id="qrdata" name="qrdata">
<button (click)="requestQR()"> Get QR</button>

<input type="text" id="receipt_id" placeholder="receipt Id">
<button (click)="postSupermarketReceipt()"> Get Supermarket API</button>
<!-- <zxing-scanner></zxing-scanner> -->
<!-- <app-scanner-ine></app-scanner-ine> -->
<button (click)="enableScan()">scan receipt</button>
<!-- <qr-scanner 
        [debug]="false"
        [canvasWidth]="1080" 
        [canvasHeight]="720" 
        [stopAfterScan]="true"
        [updateTime]="500">
        
</qr-scanner> -->
<br>
<br>
<br>
<button (click)="userCameHome()">User returned from Shop</button>
<br>
<br>
<br>
<input type="text" id="take_container_base_id" placeholder="Base Id">
<button (click)="takeContainer()"> Take Container</button>
<h1>Vgazw ena proion apo to KITCHEN </h1>
<br>
<br>
<input type="text" id="place_container_id" placeholder="Container Id">
<input type="text" id="place_container_position_id" placeholder="Container Base Id">
<button (click)="placeContainerAtoB()">Place Container with ID in Cont. Base with ID</button>
<br>
<br>
<br>
<input type="text" id="remove_x_from_container_id" placeholder="X">
<input type="text" id="remove_from_container_id" value="CabbinetContainer12">
<button (click)="removeAmmountFromContainer()">Remove X% from container A</button>
<br>
<br>
<br>
<input type="text" id="refill_container_id" placeholder="A">
<button (click)="refillContainer()">Refill container A</button>
<br>
<br>
<br>
<input type="text" id="set_fav_prod_id" placeholder="Set Favourite">
<button (click)="setFav()">Set A Favourite Product </button>
<br>
<br>
<input type="text" id="rem_fav_prod_id" placeholder="Remove Favourite">
<button (click)="remFav()">Remove A Favourite Product </button>
<br>
<br>
<input type="text" id="set_rec_prod_id" placeholder="Set Recurring">
<button (click)="setRec()">Set A Recurring Product </button>
<br>
<br>
<input type="text" id="rem_rec_prod_id" placeholder="Remove Recurring">
<button (click)="remRec()">Remove A Recurring Product </button>
<br>
<br>
<br>
<input type="text" id="move_prod_from_running_out_to_shopping_list" placeholder="Product Id">
<button (click)="addProductFromRunningOutToShoppingList()">Move X from Running Out to Shopping List </button>
<br>
<br>
<br>
<button (click)="logout()">Log Out </button>
<br>
<br>
<br>
<button (click)="genNotif()">Gen Notif</button>
<br>
<br>
<br>
<input type="date" id="exp_date">
<input id="exp_date_id" type="text">
<button (click)="setExpDate()">Set Exp Date of Product with ID</button>
<br>
<br>
<br>
<input type="radio" name="user_location" id="user_location_home" (click)="setUserLocationHome()">Home
<input type="radio" name="user_location" id="user_location_away" (click)="setUserLocationAway()">Away
<br>
<br>
<br>
<button (click)="getExpiringToday()">Get Expiring Today</button>