/* You can add global styles to this file, and also import other style files */

//Note for Greg: Rename as you wish 
:root {
    --main_green: #63c439;//type color: var(--main_dark); to use it
    --background_dark_green: #00453f;//@ go shopping
    --super_market_dark_bg: #003A3E;//@super market
    --go_shopping_btn_near_white: #FFFCF2;//@supermarket
    --shopping_list_bg_near_white: #CBE6E9;//@shopping list
    --login_page_grey: #384043;//@homepage

  }

// .rec-logo{

// }
// .fav-logo{

// }
.button-color{
  background-color:#31CF99;
}

.btn-styling-with-radius{
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 7px;
  color: white;
  padding: 13px 43px;
}
.btn-styling{
  position:absolute;
  left:300px;
  top:260px;
  border: none;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  display:none;
}

.login-username-background-color{
  background-color: #168075;
}
.login-password-background-color{
  background-color: #168075;
}
.login-button-background-color{
  background-color: #f5997b;
}
.general-category-txt{
  color:#f3705a;
  font-size:2.4rem;
}


#push-container{
  width:200px;
  height:100px;
  background-color: lightgoldenrodyellow;
}
.show{
  opacity: 1 !important;
}
.step{
  opacity: 0;
  transition: .5s ease-in-out all;
}