#super-market-container{
  background-color:#05564B;
  background-size: 1280px 800px;
  width:1280px;
  height: 800px;
}
#sm-position{
  top:50px;
  position:absolute;
}

#supermarket-background{
  position:absolute;
  left:120px;
  top:150px;
}
#supermarket-logo{
  position:absolute;
  left:530px;
  top:100px;
  width:200px;
  height:200px;
  background-repeat:no-repeat;
  background-size:contain;
}

#go-shopping-btn{
  position:absolute;
  top:200px;
  left:250px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#go-shopping-txt{
  position:absolute;
  top:130px;
  left:49px;
  font-size: 20px;
  color:#003A3E;
}
#go-shopping-logo{
  position:absolute;
  left:55px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}
#scan-receipt-btn{
  position:absolute;
  top:200px;
  left:550px;
  width:210px;
  height:170px;
  background-size: 520px 340px;
  background-color: #FFFCF2;
  border-radius: 10px;
}
#scan-receipt-txt{
  position:absolute;
  top:130px;
  left:47px;
  font-size: 20px;
  color:#003A3E;
}
#scan-receipt-logo{
  position:absolute;
  background-image:url("../images/icons/super-market/dashboard/receipt.png");
  left:55px;
  top:20px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-size:contain;
  color:red;
}


#dashboard-top{
  POSITION: absolute;
  left: -32PX;
  top: 142px;
}
#dashboard-logo{
  position: absolute;
  left: 454px;
  top: -5px;
  background-image: url('../images/icons/loginpage/loginpage-logo.png') !important;
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

#logo-bar{
  position: absolute;
  width: 8px;
  height: 130px;
  left: 211px;
  top: 21px;
  background-color: #fdf5db;
}
.position-of-txt{
  position:absolute;
  left:252px;
  top:30px;
}
.position-of-notification{
  position:absolute;
  left:320px;
  top:97px;
}
.notification {
  position:absolute;
  width:40px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../images/icons/dashboard/bell.png');
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px 8px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: white;
}
#all-together{
  position: absolute;
  left: 439px;
  top: -29px;
}
