<div id="super-market-container">
  <div id="sm-position">
    <div id="dashboard-top">
      <div (click)="redirect('dashboard')" id="dashboard-logo"></div>
      <div id="all-together">
        <div id="logo-bar"></div>
        <p class="position-of-txt general-category-txt">SuperMarket</p>
        <a class="notification position-of-notification">
          <span class="badge">3</span>
        </a>
      </div>
    </div>

    <div id="super-market-selector-page">
      <div id="supermarket-logo" (click)="redirect('dashboard')"></div>
      <div id="supermarket-background">
        <div id="go-shopping-background">
          <button id="go-shopping-btn" (click)="redirect('go-shopping')">
            <div id="go-shopping-logo"></div>
            <p id="go-shopping-txt">Go Shopping</p>
          </button>
        </div>
        <div id="scan-receipt-background">
          <button id="scan-receipt-btn" (click)="redirect('scan-receipt')">
            <div id="scan-receipt-logo"></div>
            <p id="scan-receipt-txt">Scan Receipt</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>