
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1280px;
    height: 663px;
    left: 0px;
    top: 137px;
}
#Path_30 {
    position: absolute;
    width: 136.716px;
    height: 143.125px;
    left: 802px;
    top: 170.938px;
    overflow: visible;
    //background-image:url("./../images/menuBarIcons/profile/#Path_30");
    background-repeat: no-repeat;
    background-size: contain;
}
#Marc_Morison_ {
    position: absolute;
    left: 963px;
    top: 211px;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0,111,97,1);
}
#New_York__USA {
    position: absolute;
    left: 969px;
    top: 258px;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: rgba(0,111,97,1);
}
.Icon_awesome_edit {
    overflow: visible;
    position: absolute;
    width: 25.888px;
    height: 23.007px;
    top: 222px;
    transform: matrix(1,0,0,1,0,0);
}
#Monthly_Expenses {
    position: absolute;
    left: 21px;
    top: 166px;
    overflow: visible;
    width: 229px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0,111,97,1);
}
#Payment_Methods_ {
    position: absolute;
    left: 813px;
    top: 364px;
    overflow: visible;
    width: 228px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0,111,97,1);
}
#Rectangle_31 {
    opacity: 0.486;
}
.Rectangle_31 {
    position: absolute;
    overflow: visible;
    width: 125px;
    height: 92px;
    left: 809px;
    top: 426px;
}
#Rectangle_36 {
    opacity: 0.493;
}
.Rectangle_36 {
    position: absolute;
    overflow: visible;
    width: 124px;
    height: 92px;
    left: 956px;
    top: 426px;
}
#Rectangle_37 {
    opacity: 0.493;
}
.Rectangle_37 {
    position: absolute;
    overflow: visible;
    width: 125px;
    height: 92px;
    left: 1102px;
    top: 426px;
}
#Rectangle_38 {
    opacity: 0.493;
}
.Rectangle_38 {
    position: absolute;
    overflow: visible;
    width: 125px;
    height: 92px;
    left: 809px;
    top: 551px;
}
#Total_Expenses__2530_44_ {
    position: absolute;
    left: 29px;
    top: 675px;
    overflow: visible;
    width: 326px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0,111,97,1);
}
#Rectangle_35 {
    opacity: 0.998;
}
.Rectangle_35 {
    position: absolute;
    overflow: visible;
    width: 726px;
    height: 417px;
    left: 26px;
    top: 226px;
}
#Date___Time {
    position: absolute;
    left: 85px;
    top: 254px;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Payment_Method {
    position: absolute;
    left: 287px;
    top: 254px;
    overflow: visible;
    width: 144px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Status {
    position: absolute;
    left: 519px;
    top: 254px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Amount {
    position: absolute;
    left: 636px;
    top: 254px;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
.Line_6 {
    overflow: visible;
    position: absolute;
    width: 726px;
    height: 5px;
    left: 26.5px;
    top: 300.807px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_81 {
    position: absolute;
    width: 722.294px;
    height: 39.313px;
    left: 28.483px;
    top: 319px;
    overflow: visible;
}
.Line_7 {
    overflow: visible;
    position: absolute;
    width: 722.294px;
    height: 5px;
    left: 0px;
    top: 39.313px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_80 {
    position: absolute;
    width: 623px;
    height: 28px;
    left: 45.517px;
    top: 0px;
    overflow: visible;
}
#ID17_May_2020__16_30 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Pending {
    position: absolute;
    left: 444px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#_63_73_ {
    position: absolute;
    left: 567px;
    top: 0px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Visa_Logo {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 221px;
    top: 6px;
    overflow: visible;
    
}
#__6033 {
    position: absolute;
    left: 284px;
    top: 0px;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Group_82 {
    position: absolute;
    width: 722.294px;
    height: 39.474px;
    left: 28.483px;
    top: 387px;
    overflow: visible;
}
.Line_7_bh {
    overflow: visible;
    position: absolute;
    width: 722.294px;
    height: 5px;
    left: 0px;
    top: 39.474px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_80_bi {
    position: absolute;
    width: 623px;
    height: 28px;
    left: 45.517px;
    top: 0px;
    overflow: visible;
}
#ID17_May_2020__16_30_bj {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Pending_bk {
    position: absolute;
    left: 444px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#_63_73__bl {
    position: absolute;
    left: 567px;
    top: 0px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Visa_Logo_bm {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 221px;
    top: 6px;
    overflow: visible;
}
#__6033_bn {
    position: absolute;
    left: 284px;
    top: 0px;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Group_83 {
    position: absolute;
    width: 722.294px;
    height: 39.635px;
    left: 28.483px;
    top: 455px;
    overflow: visible;
}
.Line_7_bp {
    overflow: visible;
    position: absolute;
    width: 722.294px;
    height: 5px;
    left: 0px;
    top: 39.635px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_80_bq {
    position: absolute;
    width: 623px;
    height: 28px;
    left: 45.517px;
    top: 0px;
    overflow: visible;
}
#ID17_May_2020__16_30_br {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Pending_bs {
    position: absolute;
    left: 444px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#_63_73__bt {
    position: absolute;
    left: 567px;
    top: 0px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Visa_Logo_bu {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 221px;
    top: 6px;
    overflow: visible;
}
#__6033_bv {
    position: absolute;
    left: 284px;
    top: 0px;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Group_84 {
    position: absolute;
    width: 722.294px;
    height: 39.796px;
    left: 28.483px;
    top: 523px;
    overflow: visible;
}
.Line_7_bx {
    overflow: visible;
    position: absolute;
    width: 722.294px;
    height: 5px;
    left: 0px;
    top: 39.796px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_80_by {
    position: absolute;
    width: 623px;
    height: 28px;
    left: 45.517px;
    top: 0px;
    overflow: visible;
}
#ID17_May_2020__16_30_bz {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Pending_b {
    position: absolute;
    left: 444px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#_63_73__b {
    position: absolute;
    left: 567px;
    top: 0px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Visa_Logo_b {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 221px;
    top: 6px;
    overflow: visible;
}
#__6033_b {
    position: absolute;
    left: 284px;
    top: 0px;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Group_80_b {
    position: absolute;
    width: 624px;
    height: 28px;
    left: 74px;
    top: 591px;
    overflow: visible;
}
#ID17_May_2020__16_30_b {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Pending_ca {
    position: absolute;
    left: 445px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#_63_73__ca {
    position: absolute;
    left: 568px;
    top: 0px;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(0,111,97,1);
}
#Visa_Logo_ca {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 221px;
    top: 6px;
    overflow: visible;
}
#__6033_ca {
    position: absolute;
    left: 285px;
    top: 0px;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Last_5_payments {
    position: absolute;
    left: 614px;
    top: 166px;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 21px;
    color: rgba(0,111,97,1);
}
#Visa_Logo_cb {
    position: absolute;
    width: 115px;
    height: 36px;
    left: 813px;
    top: 454px;
    overflow: visible;
    background-image:url("./../images/menuBarIcons/profile/Visa_Logo_cb@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#master_card_png_transparent {
    position: absolute;
    width: 101px;
    height: 73px;
    left: 968px;
    top: 436px;
    overflow: visible;
    background-image:url("./../images/menuBarIcons/profile/master_card_png_transparent@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#unnamed {
    position: absolute;
    width: 64px;
    height: 63px;
    left: 1133px;
    top: 442px;
    overflow: visible;
    background-image:url("./../images/menuBarIcons/profile/unnamed@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#ADD_PRODUCT {
    position: absolute;
    left: 819px;
    top: 611px;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(253,245,219,1);
}
.Path_32 {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 43.076px;
    left: 872.547px;
    top: 566.924px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_31 {
    overflow: visible;
    position: absolute;
    width: 45.041px;
    height: 5px;
    left: 852.527px;
    top: 585.962px;
    transform: matrix(1,0,0,1,0,0);
}




/* ----------------------  EDIT PROFILE --------------------*/

.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1280px;
    height: 663px;
    left: 0px;
    top: 137px;
}
#loginpage_logo {
    position: absolute;
    width: 91px;
    height: 77px;
    left: 29px;
    top: 29px;
    overflow: visible;
}
#You_need_to_check_the_Waste_Ma {
    position: absolute;
    left: 440px;
    top: 38px;
    overflow: visible;
    width: 346px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(253,245,219,1);
}
#Shopping_list {
    position: absolute;
    left: 120px;
    top: 82px;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(253,245,219,1);
}
#alert_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 395px;
    top: 35px;
    overflow: visible;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 33px;
    height: 33px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 9px;
    left: 15px;
    top: 9px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 3px;
    left: 15px;
    top: 21px;
    transform: matrix(1,0,0,1,0,0);
}
#Tuesday__15_May__18_03 {
    position: absolute;
    left: 508px;
    top: 89px;
    overflow: visible;
    width: 210px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(253,245,219,1);
}
#Path_21 {
    position: absolute;
    width: 96.478px;
    height: 101px;
    left: 1162.119px;
    top: 15px;
    overflow: visible;
}
#Marc_Morison {
    position: absolute;
    left: 980px;
    top: 30px;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(253,245,219,1);
}
#Group_30 {
    position: absolute;
    width: 53px;
    height: 40px;
    left: 998px;
    top: 67px;
    overflow: visible;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 53px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.Icon_open_magnifying_glass {
    overflow: visible;
    position: absolute;
    width: 22.241px;
    height: 22.241px;
    left: 14.993px;
    top: 7.564px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_29 {
    position: absolute;
    width: 52px;
    height: 45px;
    left: 1060px;
    top: 62px;
    overflow: visible;
}
#notification_icon {
    position: absolute;
    width: 52px;
    height: 45px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_11_ {
    position: absolute;
    overflow: visible;
    width: 52px;
    height: 40px;
    left: 0px;
    top: 5px;
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 25px;
    height: 23px;
    left: 27px;
    top: 0px;
}
.Icon_awesome_bell {
    overflow: visible;
    position: absolute;
    width: 21.104px;
    height: 24.916px;
    left: 14.875px;
    top: 13.024px;
    transform: matrix(1,0,0,1,0,0);
}
.Icon_metro_exit {
    overflow: visible;
    position: absolute;
    width: 47.079px;
    height: 50.218px;
    left: 1218.921px;
    top: 156.315px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
    position: absolute;
    width: 180.793px;
    height: 189.268px;
    left: 74.961px;
    top: 230.866px;
    overflow: visible;
}
#Group_86 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 389px;
    top: 181px;
    overflow: visible;
}
.Rectangle_43 {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#First_Name {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_87 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 808px;
    top: 181px;
    overflow: visible;
}
.Rectangle_43_bf {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#Postcode {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_88 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 389px;
    top: 310px;
    overflow: visible;
}
.Rectangle_43_bi {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#Last_Name {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_89 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 808px;
    top: 310px;
    overflow: visible;
}
.Rectangle_43_bl {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#City {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_90 {
    position: absolute;
    width: 374px;
    height: 112px;
    left: 389px;
    top: 439px;
    overflow: visible;
}
.Rectangle_43_bo {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 50px;
}
#Mobile_Number {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 194px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_91 {
    position: absolute;
    width: 374px;
    height: 112px;
    left: 808px;
    top: 439px;
    overflow: visible;
}
.Rectangle_43_br {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 50px;
}
#State_County {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 163px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_102 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 389px;
    top: 569px;
    overflow: visible;
}
.Rectangle_43_bu {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#Email_Address {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_93 {
    position: absolute;
    width: 374px;
    height: 111px;
    left: 808px;
    top: 569px;
    overflow: visible;
}
.Rectangle_43_bx {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 49px;
}
#Country {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(253,245,219,1);
}
#Group_96 {
    position: absolute;
    width: 254px;
    height: 53px;
    left: 60px;
    top: 438px;
    overflow: visible;
}
.Rectangle_44 {
    position: absolute;
    overflow: visible;
    width: 254px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Personal_Info {
    position: absolute;
    left: 21px;
    top: 12px;
    overflow: visible;
    width: 166px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(253,245,219,1);
}
.Icon_awesome_edit {
    overflow: visible;
    position: absolute;
    width: 22.226px;
    height: 19.752px;
    left: 1150px;
    top: 225px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_97 {
    position: absolute;
    width: 185px;
    height: 28px;
    left: 80px;
    top: 518px;
    overflow: visible;
}
#Change_Avatar {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(253,245,219,1);
}
#Group_100 {
    position: absolute;
    width: 229px;
    height: 28px;
    left: 80px;
    top: 573px;
    overflow: visible;
}
#Change_Password {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(253,245,219,1);
}
#Group_101 {
    position: absolute;
    width: 201px;
    height: 28px;
    left: 80px;
    top: 628px;
    overflow: visible;
}
#Privacy_Settings {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 202px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(253,245,219,1);
}
#apply_button_profile {
    position: absolute;
    width: 374px;
    height: 62px;
    left: 598px;
    top: 721px;
    overflow: visible;
}
.Rectangle_45 {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 62px;
    left: 0px;
    top: 0px;
}
#Group_103 {
    position: absolute;
    width: 88px;
    height: 28px;
    left: 143px;
    top: 17px;
    overflow: visible;
}
#apply-edit {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(253,245,219,1);
}