<!-- <ami-fullstack-top-side-bar-profile></ami-fullstack-top-side-bar-profile> -->
<ami-fullstack-topside-user-bar></ami-fullstack-topside-user-bar>

<div  id="profile-page">
	<svg class="Rectangle_1">
		<rect fill="rgba(253,245,219,1)" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1280" height="663">
		</rect>
	</svg>
	<img id="Path_30" src="Path_30.png" srcset="Path_30.png 1x, Path_30@2x.png 2x">
	<div id="Marc_Morison_">
		<span>Marc Morison </span>
	</div>
	<div id="New_York__USA">
		<span>New York, USA</span>
    </div>
    <div (click)="editProfile()" id="openedit">
        <svg class="Icon_awesome_edit" viewBox="0 0.007 25.888 23.007">
            <path fill="rgba(0,86,75,1)" id="Icon_awesome_edit" d="M 18.09461402893066 3.741910457611084 L 22.14859771728516 7.795895099639893 C 22.31938743591309 7.966683864593506 22.31938743591309 8.245339393615723 22.14859771728516 8.41612720489502 L 12.33274364471436 18.23198318481445 L 8.161903381347656 18.69491195678711 C 7.604592800140381 18.75783348083496 7.132676601409912 18.28591728210449 7.195598602294922 17.72860717773438 L 7.658525943756104 13.55776691436768 L 17.4743824005127 3.741910457611084 C 17.64517021179199 3.571121692657471 17.92382621765137 3.571121692657471 18.09461402893066 3.741910457611084 Z M 25.37560653686523 2.712683439254761 L 23.18231964111328 0.5193968415260315 C 22.49916458129883 -0.1637579649686813 21.38903617858887 -0.1637579649686813 20.70138931274414 0.5193968415260315 L 19.1103572845459 2.11042857170105 C 18.93956756591797 2.281217336654663 18.93956756591797 2.559872627258301 19.1103572845459 2.730661153793335 L 23.16434097290039 6.784645557403564 C 23.33513069152832 6.955434322357178 23.61378479003906 6.955434322357178 23.78457450866699 6.784645557403564 L 25.37560653686523 5.19361400604248 C 26.05875968933105 4.505964756011963 26.05875968933105 3.395838022232056 25.37560653686523 2.712683200836182 Z M 17.25864791870117 15.56228733062744 L 17.25864791870117 20.13762664794922 L 2.876441478729248 20.13762664794922 L 2.876441478729248 5.755419731140137 L 13.20466423034668 5.755419731140137 C 13.34848594665527 5.755419731140137 13.48331928253174 5.69699239730835 13.58669090270996 5.598114490509033 L 15.38446712493896 3.80033802986145 C 15.72604370117188 3.458760499954224 15.48334503173828 2.87897801399231 15.00243949890137 2.87897801399231 L 2.157330989837646 2.87897801399231 C 0.9663045406341553 2.87897801399231 0 3.845282554626465 0 5.036309242248535 L 0 20.85673713684082 C 0 22.04776382446289 0.9663045406341553 23.01406860351562 2.157330989837646 23.01406860351562 L 17.97775840759277 23.01406860351562 C 19.16878509521484 23.01406860351562 20.13508987426758 22.04776382446289 20.13508987426758 20.85673713684082 L 20.13508987426758 13.76451110839844 C 20.13508987426758 13.28360652923584 19.55530738830566 13.04540157318115 19.21372985839844 13.38248443603516 L 17.41595458984375 15.18025970458984 C 17.31707572937012 15.28363227844238 17.25864791870117 15.41846561431885 17.25864791870117 15.56228733062744 Z">
            </path>
        </svg>
    </div>
	<div id="Monthly_Expenses">
		<span>Monthly Expenses</span>
	</div>
	<div id="Payment_Methods_">
		<span>Payment Methods</span><br>
	</div>
	<svg class="Rectangle_31">
		<rect fill="rgba(0,86,75,1)" id="Rectangle_31" rx="17" ry="17" x="0" y="0" width="125" height="92">
		</rect>
	</svg>
	<svg class="Rectangle_36">
		<rect fill="rgba(0,86,75,1)" id="Rectangle_36" rx="17" ry="17" x="0" y="0" width="124" height="92">
		</rect>
	</svg>
	<svg class="Rectangle_37">
		<rect fill="rgba(0,86,75,1)" id="Rectangle_37" rx="17" ry="17" x="0" y="0" width="125" height="92">
		</rect>
	</svg>
	<svg class="Rectangle_38">
		<rect fill="rgba(0,86,75,1)" id="Rectangle_38" rx="17" ry="17" x="0" y="0" width="125" height="92">
		</rect>
	</svg>
	<div id="Total_Expenses__2530_44_">
		<span>Total Expenses: </span><span style="color:rgba(249,112,90,1);">2530,44$</span>
	</div>
	<svg class="Rectangle_35">
		<rect fill="transparent" stroke="rgba(0,111,97,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_35" rx="17" ry="17" x="0" y="0" width="726" height="417">
		</rect>
	</svg>
	<div id="Date___Time">
		<span>Date & Time</span>
	</div>
	<div id="Payment_Method">
		<span>Payment Method</span>
	</div>
	<div id="Status">
		<span>Status</span>
	</div>
	<div id="Amount">
		<span>Amount</span>
	</div>
	<svg class="Line_6" viewBox="0 0 726 5">
		<path fill="transparent" stroke="rgba(0,111,97,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_6" d="M 0 0 L 726 0">
		</path>
	</svg>
	<div id="Group_81">
		<svg class="Line_7" viewBox="0 0 722.294 5">
			<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_7" d="M 0 0 L 722.2935791015625 0">
			</path>
		</svg>
		<div id="Group_80">
			<div id="ID17_May_2020__16_30">
				<span>17 May 2020, 16:30</span>
			</div>
			<div id="Pending">
				<span>Pending</span>
			</div>
			<div id="_63_73_">
				<span>-63,73$</span>
			</div>
			<img id="Visa_Logo" src="./../images/menuBarIcons/profile/Visa_Logo.png" srcset="./../images/menuBarIcons/profile/Visa_Logo.png 1x, ./../images/menuBarIcons/profile/Visa_Logo@2x.png 2x">
			<div id="__6033"> 
				<span>**6033</span>
			</div>
		</div>
	</div>
	<div id="Group_82">
		<svg class="Line_7_bh" viewBox="0 0 722.294 5">
			<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_7_bh" d="M 0 0 L 722.2935791015625 0">
			</path>
		</svg>
		<div id="Group_80_bi">
			<div id="ID17_May_2020__16_30_bj">
				<span>17 May 2020, 16:30</span>
			</div>
			<div id="Pending_bk">
				<span>Pending</span>
			</div>
			<div id="_63_73__bl">
				<span>-63,73$</span>
			</div>
			<img id="Visa_Logo_bm" src="Visa_Logo_bm.png" srcset="Visa_Logo_bm.png 1x, Visa_Logo_bm@2x.png 2x">
			<div id="__6033_bn">
				<span>**6033</span>
			</div>
		</div>
	</div>
	<div id="Group_83">
		<svg class="Line_7_bp" viewBox="0 0 722.294 5">
			<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_7_bp" d="M 0 0 L 722.2935791015625 0">
			</path>
		</svg>
		<div id="Group_80_bq">
			<div id="ID17_May_2020__16_30_br">
				<span>17 May 2020, 16:30</span>
			</div>
			<div id="Pending_bs">
				<span>Pending</span>
			</div>
			<div id="_63_73__bt">
				<span>-63,73$</span>
			</div>
			<img id="Visa_Logo_bu" src="Visa_Logo_bu.png" srcset="Visa_Logo_bu.png 1x, Visa_Logo_bu@2x.png 2x">
			<div id="__6033_bv">
				<span>**6033</span>
			</div>
		</div>
	</div>
	<div id="Group_84">
		<svg class="Line_7_bx" viewBox="0 0 722.294 5">
			<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_7_bx" d="M 0 0 L 722.2935791015625 0">
			</path>
		</svg>
		<div id="Group_80_by">
			<div id="ID17_May_2020__16_30_bz">
				<span>17 May 2020, 16:30</span>
			</div>
			<div id="Pending_b">
				<span>Pending</span>
			</div>
			<div id="_63_73__b">
				<span>-63,73$</span>
			</div>
			<img id="Visa_Logo_b" src="Visa_Logo_b.png" srcset="Visa_Logo_b.png 1x, Visa_Logo_b@2x.png 2x">
			<div id="__6033_b">
				<span>**6033</span>
			</div>
		</div>
	</div>
	<div id="Group_80_b">
		<div id="ID17_May_2020__16_30_b">
			<span>17 May 2020, 16:30</span>
		</div>
		<div id="Pending_ca">
			<span>Pending</span>
		</div>
		<div id="_63_73__ca">
			<span>-63,73$</span>
		</div>
		<img id="Visa_Logo_ca" src="Visa_Logo_ca.png" srcset="Visa_Logo_ca.png 1x, Visa_Logo_ca@2x.png 2x">
		<div id="__6033_ca">
			<span>**6033</span>
		</div>
	</div>
	<div id="Last_5_payments">
		<span>Last 5 payments</span>
	</div>
	<img id="Visa_Logo_cb" src="Visa_Logo_cb.png" srcset="Visa_Logo_cb.png 1x, Visa_Logo_cb@2x.png 2x">
	<img id="master_card_png_transparent" src="master_card_png_transparent.png" srcset="master_card_png_transparent.png 1x, master_card_png_transparent@2x.png 2x">
	<img id="unnamed" src="unnamed.png" srcset="unnamed.png 1x, unnamed@2x.png 2x">
	<div id="ADD_PRODUCT">
		<span>ADD PRODUCT</span>
	</div>
	<svg class="Path_32" viewBox="18 7.5 5 38.076">
		<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_32" d="M 18 7.5 L 18 45.575927734375">
		</path>
	</svg>
	<svg class="Path_31" viewBox="7.5 18 40.041 5">
		<path fill="transparent" stroke="rgba(253,245,219,1)" stroke-width="5px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_31" d="M 7.500000953674316 18 L 47.54060363769531 18">
		</path>
	</svg>
</div>



<div *ngIf="showEditProfile"  id="edit-profile">
	<svg class="Rectangle_1">
		<rect fill="rgba(30,54,52,1)" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1280" height="663">
		</rect>
	</svg>
	<svg (click)="editProfile()" class="Icon_metro_exit" viewBox="2.571 1.928 47.079 50.218">
		<path fill="rgba(253,245,219,1)" id="Icon_metro_exit" d="M 40.23410034179688 33.3141975402832 L 40.23410034179688 27.03696250915527 L 24.54101371765137 27.03696250915527 L 24.54101371765137 20.75973129272461 L 40.23410034179688 20.75973129272461 L 40.23410034179688 14.48249816894531 L 49.64994430541992 23.89834594726562 L 40.23410034179688 33.3141975402832 Z M 37.09548187255859 30.17558097839355 L 37.09548187255859 42.73004531860352 L 21.40239715576172 42.73004531860352 L 21.40239715576172 52.14589309692383 L 2.570699691772461 42.73004913330078 L 2.570699691772461 1.928033828735352 L 37.09548187255859 1.928033828735352 L 37.09548187255859 17.62111663818359 L 33.95686340332031 17.62111663818359 L 33.95686340332031 5.066649913787842 L 8.847931861877441 5.066649913787842 L 21.40239715576172 11.34388160705566 L 21.40239715576172 39.59142684936523 L 33.95686340332031 39.59142684936523 L 33.95686340332031 30.17558097839355 L 37.09548187255859 30.17558097839355 Z">
		</path>
	</svg>
	<img id="Path_33" src="Path_33.png" srcset="Path_33.png 1x, Path_33@2x.png 2x">
	<div id="Group_86">
		<svg class="Rectangle_43">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="First_Name">
			<span>First Name</span>
		</div>
	</div>
	<div id="Group_87">
		<svg class="Rectangle_43_bf">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bf" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="Postcode">
			<span>Postcode</span>
		</div>
	</div>
	<div id="Group_88">
		<svg class="Rectangle_43_bi">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bi" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="Last_Name">
			<span>Last Name</span>
		</div>
	</div>
	<div id="Group_89">
		<svg class="Rectangle_43_bl">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bl" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="City">
			<span>City</span>
		</div>
	</div>
	<div id="Group_90">
		<svg class="Rectangle_43_bo">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bo" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="Mobile_Number">
			<span>Mobile Number</span>
		</div>
	</div>
	<div id="Group_91">
		<svg class="Rectangle_43_br">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_br" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="State_County">
			<span>State County</span>
		</div>
	</div>
	<div id="Group_102">
		<svg class="Rectangle_43_bu">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bu" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="Email_Address">
			<span>Email Address</span>
		</div>
	</div>
	<div id="Group_93">
		<svg class="Rectangle_43_bx">
			<rect fill="rgba(253,245,219,1)" id="Rectangle_43_bx" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div id="Country">
			<span>Country</span>
		</div>
	</div>
	<div id="Group_96">
		<svg class="Rectangle_44">
			<rect fill="rgba(0,111,97,1)" stroke="rgba(253,245,219,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_44" rx="9" ry="9" x="0" y="0" width="254" height="53">
			</rect>
		</svg>
		<div id="Personal_Info">
			<span>Personal Info</span>
		</div>
		<svg class="Icon_awesome_edit" viewBox="0 0.007 22.226 19.753">
			<path fill="rgba(253,245,219,1)" id="Icon_awesome_edit" d="M 15.53504371643066 3.213593721389771 L 19.01557159423828 6.694123268127441 C 19.16220283508301 6.840753555297852 19.16220283508301 7.079991817474365 19.01557159423828 7.226620674133301 L 10.58821773529053 15.65397548675537 L 7.007363319396973 16.05142021179199 C 6.528886795043945 16.10544013977051 6.123725414276123 15.70027923583984 6.177746772766113 15.22180366516113 L 6.575191020965576 11.64095020294189 L 15.00254726409912 3.213593721389771 C 15.14917659759521 3.066963911056519 15.38841438293457 3.066963911056519 15.53504371643066 3.213593721389771 Z M 21.78610610961914 2.3299560546875 L 19.90306854248047 0.4469201266765594 C 19.31655120849609 -0.1395990997552872 18.36345291137695 -0.1395990997552872 17.7730770111084 0.4469201266765594 L 16.4071044921875 1.81289279460907 C 16.26047325134277 1.959522724151611 16.26047325134277 2.198760986328125 16.4071044921875 2.345390558242798 L 19.88763427734375 5.825919151306152 C 20.03426551818848 5.972549438476562 20.27350044250488 5.972549438476562 20.42013168334961 5.825919151306152 L 21.78610610961914 4.459946632385254 C 22.37262344360352 3.869569063186646 22.37262344360352 2.916475057601929 21.78610610961914 2.329955816268921 Z M 14.81732940673828 13.36192035675049 L 14.81732940673828 17.2900562286377 L 2.469554901123047 17.2900562286377 L 2.469554901123047 4.942282199859619 L 11.33680057525635 4.942282199859619 C 11.46027755737305 4.942282199859619 11.5760383605957 4.892119884490967 11.66478824615479 4.807229042053223 L 13.20826053619385 3.263756513595581 C 13.50152015686035 2.970496654510498 13.29315090179443 2.472727537155151 12.88027286529541 2.472727537155151 L 1.852166175842285 2.472727537155151 C 0.8296161890029907 2.472727537155151 0 3.302343368530273 0 4.324893951416016 L 0 17.90744590759277 C 0 18.92999649047852 0.8296161890029907 19.75960922241211 1.852166175842285 19.75960922241211 L 15.43471717834473 19.75960922241211 C 16.45726776123047 19.75960922241211 17.28688430786133 18.92999649047852 17.28688430786133 17.90744590759277 L 17.28688430786133 11.81844997406006 C 17.28688430786133 11.40557098388672 16.78911590576172 11.20106220245361 16.4958553314209 11.49046325683594 L 14.95238304138184 13.03393363952637 C 14.86749172210693 13.12268447875977 14.81732940673828 13.23844146728516 14.81732940673828 13.36192035675049 Z">
			</path>
		</svg>
	</div>
	<div id="Group_97">
		<div id="Change_Avatar">
			<span>Change Avatar</span>
		</div>
	</div>
	<div id="Group_100">
		<div id="Change_Password">
			<span>Change Password</span>
		</div>
	</div>
	<div id="Group_101">
		<div id="Privacy_Settings">
			<span>Privacy Settings</span>
		</div>
	</div>
	<div id="apply_button_profile">
		<svg class="Rectangle_45">
			<rect fill="rgba(249,112,90,1)" id="Rectangle_45" rx="8" ry="8" x="0" y="0" width="374" height="62">
			</rect>
		</svg>
		<div (click)="editProfile()" id="Group_103">
			<div (click)="editProfile()" id="apply-edit">
				<span>APPLY</span>
			</div>
		</div>
	</div>
</div>