<!-- <ami-fullstack-topside-user-bar ></ami-fullstack-topside-user-bar> -->
<!-- <ami-fullstack-spinner *ngIf="isLoading"></ami-fullstack-spinner> -->
<router-outlet></router-outlet>
<ami-fullstack-poor-mans-push-notification></ami-fullstack-poor-mans-push-notification>


<!-- TESTING -->
<!-- <button (click)="redirectToAnotherModule()">REDIRECT TO HOME</button> -->